Repository newrelic/newrelic-quickstarts, pull requests merged in 2021-12, with the labels that each got.

#537 DEPRECATED feat: Truera integration, check https://github.com/newrelic/newrelic-quickstarts/pull/566
  install/mlops/truera/install.yml
  quickstarts/mlops/truera/config.yml
  quickstarts/mlops/truera/dashboards/truera.json
  quickstarts/mlops/truera/icon.svg
  quickstarts/mlops/truera/logo.svg
Labels: in-review, waiting on contributor, stale

#606 Truera newrelic integration
  install/mlops/truera/install.yml
  quickstarts/mlops/truera/config.yml
  quickstarts/mlops/truera/dashboards/truera.json
Labels: triage-needed, new-quickstart

#608 maint: Update install plans where OS should be windows only or the se…
  install/apm/dotnet/multi-os/install.yml
  install/apm/dotnet/windows-only/install.yml
  install/apm/node/install.yml
  install/apm/php/nerdlet-only/install.yml
  install/apm/php/targeted-install/install.yml
  quickstarts/dotnet/asp-dotnet-mvc/config.yml
  quickstarts/dotnet/dotnet-mvc-web-api/config.yml
  quickstarts/dotnet/episerver-cms/config.yml
  quickstarts/dotnet/iis/config.yml
  quickstarts/dotnet/msmq/config.yml
  quickstarts/dotnet/umbraco/config.yml
  quickstarts/php/codeigniter/config.yml
Labels: triage-needed, improved-quickstart

#611 feat: Enable tomcat targeted installs
  install/apm/java/nerdlet-only/install.yml
  install/apm/java/targeted-install/install.yml
  quickstarts/java/tomcat/config.yml
  quickstarts/java/tomee/config.yml
Labels: triage-needed

#610 'Jumpstart' edit, keywords added.
  quickstarts/cribl-logstream/config.yml
  quickstarts/delphix/config.yml
  quickstarts/fastly/config.yml
  quickstarts/full-story/config.yml
  quickstarts/gigamon/config.yml
  quickstarts/jumpstart/alerts/baseline-alert.yml
  quickstarts/jumpstart/alerts/outlier-alert.yml
  quickstarts/jumpstart/alerts/static-alert.yml
  quickstarts/jumpstart/config.yml
  quickstarts/kentik/config.yml
  quickstarts/lacework/config.yml
  quickstarts/mlops/algorithmia/config.yml
  quickstarts/mlops/aporia/config.yml
  quickstarts/mlops/dagshub/config.yml
  quickstarts/mlops/superwise/config.yml
  quickstarts/trendmicro-cloudone-conformity/config.yml
Labels: improved-quickstart

#613 feat(pack) Added Azure Kubernetes Service
  quickstarts/kubernetes/azure-kubernetes-service/config.yml
  quickstarts/kubernetes/azure-kubernetes-service/dashboards/AKS.png
  quickstarts/kubernetes/azure-kubernetes-service/dashboards/aks.json
  quickstarts/kubernetes/azure-kubernetes-service/logo.svg
Labels: new-quickstart

#609 feat(oma-aqm): Added the OMA Alert Quality Management dashboard
  quickstarts/oma-aqm/config.yml
  quickstarts/oma-aqm/dashboards/alert-quality-management.json
  quickstarts/oma-aqm/dashboards/alert-quality-management.png
  quickstarts/oma-aqm/icon.jpeg
  quickstarts/oma-aqm/images/icon.jpeg
  quickstarts/oma-aqm/logo.png
Labels: new-quickstart

#607 adding speedscale quickstart
  install/third-party/speedscale/install.yml
  quickstarts/speedscale/config.yml
  quickstarts/speedscale/dashboards/speedscale-reports.json
  quickstarts/speedscale/dashboards/speedscale-reports.png
  quickstarts/speedscale/logo.svg
Labels: waiting on contributor, new-quickstart

#616 feat: Add sagemaker and bring your own data tiles
  quickstarts/mlops/bring-your-own/config.yml
  quickstarts/mlops/bring-your-own/logo.svg
  quickstarts/mlops/sagemaker/config.yml
  quickstarts/mlops/sagemaker/logo.svg
Labels: triage-needed, new-quickstart

#604 add nerdlets for mlops quickstarts - aporia, dagshub, mona & superwise-ai
  install/mlops/aporia/install.yml
  install/mlops/dagshub/install.yml
  install/mlops/mona/install.yml
  install/mlops/superwise/install.yml
Labels: triage-needed

#615 Atlassian quickstart
  CONTRIBUTING.md
  install/third-party/atlassian-jira/install.yml
  quickstarts/atlassian/atlassian-jira/config.yml
  quickstarts/atlassian/atlassian-jira/logo.png
Labels: in-review

#612 fix: changed the installplans for log analysis
  install/guided-install.yml
  install/java-agent.yml
  install/php-agent.yml
  install/public-api-performance.yml
Labels: triage-needed

#617 change support level of mlops/comet
  quickstarts/mlops/comet/config.yml
Labels: triage-needed, improved-quickstart

#618 feat(pack) Added Google Kubernetes Engine
  quickstarts/kubernetes/google-kubernetes-engine/config.yml
  quickstarts/kubernetes/google-kubernetes-engine/dashboards/GKE.png
  quickstarts/kubernetes/google-kubernetes-engine/dashboards/gke.json
Labels: triage-needed, improved-quickstart

#620 Modify summary content
  quickstarts/mlops/superwise/config.yml
Labels: triage-needed, improved-quickstart

#621 Added keywords. Updated Mulesoft description.
  quickstarts/codestream/config.yml
  quickstarts/databricks/config.yml
  quickstarts/java/mule-esb/config.yml
  quickstarts/mlops/comet/config.yml
  quickstarts/mlops/mona/config.yml
  quickstarts/mlops/truera/config.yml
  quickstarts/speedscale/config.yml
Labels: improved-quickstart

#626 fix speedscale icon
  quickstarts/speedscale/logo.svg
Labels: in-review, improved-quickstart

#625 fix: adding guided-install on Log Analysis
  quickstarts/audit/log-ingestion-analysis/config.yml
Labels: in-review, improved-quickstart

#639 Gigamon PDF
  quickstarts/gigamon/Gigamon New Relic Integration.pdf
  quickstarts/gigamon/config.yml
Labels: improved-quickstart

#638 Update speedscale docs
  quickstarts/speedscale/config.yml
Labels: improved-quickstart

#627 feat(pack) Added AWS Cloudfront
  quickstarts/aws/aws-cloudfront/config.yml
  quickstarts/aws/aws-cloudfront/dashboards/aws-cloudfront.json
  quickstarts/aws/aws-cloudfront/dashboards/aws-cloudfront.png
Labels: triage-needed, improved-quickstart

#641 fix: change name of key
  quickstarts/speedscale/config.yml
Labels: improved-quickstart

#644 chore: update WebPy Quickstarts
  quickstarts/python/webpy/config.yml
Labels: improved-quickstart

#645 chore: update Curb quickstart
  quickstarts/ruby/curb/config.yml
Labels: improved-quickstart

#646 chore: update WordPress quickstart
  quickstarts/wordpress/config.yml
Labels: improved-quickstart

#647 chore: update Port quickstart
  quickstarts/port-monitoring/config.yml
Labels: improved-quickstart

#642 feat: adding notification channel quickstats
  quickstarts/atlassian/atlassian-jira/config.yml
  quickstarts/notification-channels/email-notifications/config.yml
  quickstarts/notification-channels/email-notifications/logo.png
  quickstarts/notification-channels/servicenow-notifications/config.yml
  quickstarts/notification-channels/servicenow-notifications/logo.png
  quickstarts/notification-channels/slack-notifications/config.yml
  quickstarts/notification-channels/slack-notifications/logo.png
  quickstarts/notification-channels/webhook-notifications/config.yml
  quickstarts/notification-channels/webhook-notifications/logo.png
  quickstarts/slack/config.yml
  quickstarts/slack/logo.svg
Labels: in-review, new-quickstart

#650 chore: small edits to nrql queries to align with latest data model
  quickstarts/network-routers-and-switches/dashboards/network-routers-and-switches.json
Labels: improved-quickstart

#649 fix (logAnalysis): changed installPlan
  quickstarts/audit/log-ingestion-analysis/config.yml
Labels: improved-quickstart

#651 chore: changes logo to png
  quickstarts/elixir/config.yml
  quickstarts/elixir/logo.png
  quickstarts/elixir/logo.svg
Labels: improved-quickstart

#648 Fix/remove outlier alerts
  .github/actions/import-data/dist/index.js
  .github/actions/import-data/dist/index.js.map
  .github/actions/import-data/package-lock.json
  .github/actions/import-data/src/importer.ts
  .github/actions/import-data/src/mutations/alerts.ts
  .github/actions/import-data/src/types/alertsNrqlCondition.ts
  _template/alerts/outlier-alert.yml
  docs/alert_config.md
  quickstarts/jumpstart/alerts/outlier-alert.yml
  utils/__tests__/validate_quickstarts.test.js
  utils/schemas/alert_config.json
Labels: in-review

#652 chore: adding default log install plan
  install/logs/default/install.yml
  quickstarts/audit/log-ingestion-analysis/config.yml
Labels: improved-quickstart

#628 feat(pack) Added Linux pack
  quickstarts/linux/dashboards/linux.json
  quickstarts/linux/dashboards/linux.png
Labels: in-review, waiting on contributor

#655 video link for TrendMicro
  quickstarts/codestream/config.yml
  quickstarts/trendmicro-cloudone-conformity/config.yml
Labels: improved-quickstart

#656 fix: Update monalabs logo
  quickstarts/mlops/mona/logo.png
Labels: improved-quickstart

#657 chore: fixes dashboard image
  quickstarts/react-native/dashboards/react-native.png
Labels: in-review, improved-quickstart

#659 speedscale - add nr explorer hub
  quickstarts/speedscale/config.yml
Labels: improved-quickstart
