Repository newrelic/newrelic-quickstarts, pull requests merged in 2022-12, with the labels that each got.

#1476 NR-56439-Snowflake-quickstart
  alert-policies/snowflake/FailedQueries.yml
  alert-policies/snowflake/QueuedQueries.yml
  alert-policies/snowflake/SpilledLocalStorage.yml
  alert-policies/snowflake/SpilledRemoteStorage.yml
  dashboards/snowflake/dashboard.json
  dashboards/snowflake/snowflake-1.png
  dashboards/snowflake/snowflake-2.png
  dashboards/snowflake/snowflake-3.png
  dashboards/snowflake/snowflake-4.png
  dashboards/snowflake/snowflake-5.png
  dashboards/snowflake/snowflake-6.png
  dashboards/snowflake/snowflake-7.png
  install/snowflake/install.yml
  quickstarts/snowflake/config.yml
  quickstarts/snowflake/logo.svg
Labels: waiting on contributor, stale, new-quickstart

#1541 Feat: improvements to vercel quickstart
  alert-policies/vercel/vercel-5xx-errors.yml
  dashboards/vercel/vercel-logs.json
  quickstarts/vercel/config.yml
Labels: improved-quickstart

#1527 Quickstart for Gitlab
  dashboards/gitlab/gitlab_dashboard.jpg
  dashboards/gitlab/gitlab_dashboard.json
  install/third-party/gitlab/install.yml
  quickstarts/gitlab/config.yml
  quickstarts/gitlab/logo.svg
Labels: waiting on contributor, new-quickstart

#1555 Quickstart doc updates for etcd, coredns, calico
  quickstarts/calico/config.yml
  quickstarts/coredns/config.yml
  quickstarts/etcd/config.yml
Labels: improved-quickstart

#1552 chore: update feature list
  quickstarts/atlassian/bitbucket/config.yml
  quickstarts/coredns/config.yml
  quickstarts/etcd/config.yml
  quickstarts/nginx/config.yml
  quickstarts/php/laravel/config.yml
  quickstarts/vercel/config.yml
  quickstarts/wayscript/config.yml
Labels: improved-quickstart

#1519 NR-34656-Redpanda-Quickstart
  alert-policies/redpanda/ApplicationUptime.yml
  alert-policies/redpanda/MonitorDiskSpace.yml
  alert-policies/redpanda/ServiceErrors.yml
  dashboards/redpanda/dashboard.json
  dashboards/redpanda/redpanda01.png
  dashboards/redpanda/redpanda02.png
  dashboards/redpanda/redpanda03.png
  dashboards/redpanda/redpanda04.png
  dashboards/redpanda/redpanda05.png
  dashboards/redpanda/redpanda06.png
  dashboards/redpanda/redpanda07.png
  dashboards/redpanda/redpanda08.png
  dashboards/redpanda/redpanda09.png
  install/redpanda/install.yml
  quickstarts/redpanda/config.yml
  quickstarts/redpanda/logo.png
Labels: new-quickstart

#1523 NR-37318: NuxtJS- new quickstart
  alert-policies/nuxtjs/ApplicationErrorRate.yml
  alert-policies/nuxtjs/ErrorResponse.yml
  alert-policies/nuxtjs/PageLoadTime.yml
  dashboards/nuxtjs/nuxtjs.json
  dashboards/nuxtjs/nuxtjs01.png
  dashboards/nuxtjs/nuxtjs02.png
  dashboards/nuxtjs/nuxtjs03.png
  dashboards/nuxtjs/nuxtjs04.png
  dashboards/nuxtjs/nuxtjs05.png
  dashboards/nuxtjs/nuxtjs06.png
  dashboards/nuxtjs/nuxtjs07.png
  install/nuxt-js/install.yml
  quickstarts/nuxtjs/config.yml
  quickstarts/nuxtjs/logo.png
Labels: new-quickstart

#1574 chore: add table to dashboard
  dashboards/gcp-cloud-spanner/gcp-cloud-spanner.json
Labels: improved-quickstart

#1576 Chore: update Apache Flink quickstart
  quickstarts/apache-flink/config.yml
Labels: improved-quickstart

#1566 Chore: update psycopg2 quickstart
  quickstarts/python/psycopg2/config.yml
Labels: improved-quickstart

#1579 Update quickstart titles
  quickstarts/argocd/config.yml
  quickstarts/cribl-logstream/config.yml
  quickstarts/gigamon/config.yml
  quickstarts/lacework/config.yml
  quickstarts/vercel/config.yml
  quickstarts/zebrium/config.yml
Labels: improved-quickstart
