Repository newrelic/newrelic-quickstarts, pull requests merged in 2022-01, with the labels that each got.

#661 feat/infra integrations audit
  quickstarts/audit/infrastructure-integrations-data-analysis/config.yml
  quickstarts/audit/infrastructure-integrations-data-analysis/dashboards/aws-integrations-data-ingest-analysis.json
  quickstarts/audit/infrastructure-integrations-data-analysis/dashboards/aws-integrations-data-ingest-analysis.png
  quickstarts/audit/infrastructure-integrations-data-analysis/dashboards/azure-integrations-data-ingest-analysis.json
  quickstarts/audit/infrastructure-integrations-data-analysis/dashboards/azure-integrations-data-ingest-analysis.png
  quickstarts/audit/infrastructure-integrations-data-analysis/dashboards/gcp-integrations-data-ingest-analysis.json
  quickstarts/audit/infrastructure-integrations-data-analysis/dashboards/gcp-integrations-data-ingest-analysis.png
  quickstarts/audit/infrastructure-integrations-data-analysis/dashboards/kubernetes-data-ingest-analysis.json
  quickstarts/audit/infrastructure-integrations-data-analysis/dashboards/kubernetes-data-ingest-analysis.png
  quickstarts/audit/infrastructure-integrations-data-analysis/dashboards/on-host-integrations-data-analysis.json
  quickstarts/audit/infrastructure-integrations-data-analysis/dashboards/on-host-integrations-data-analysis.png
  quickstarts/audit/infrastructure-integrations-data-analysis/icon.jpeg
  quickstarts/audit/k8s-data-ingestion-analysis/config.yaml
  quickstarts/audit/k8s-data-ingestion-analysis/dashboards/k8s-data-ingest-analysis.json
  quickstarts/audit/k8s-data-ingestion-analysis/dashboards/k8s-data-ingest-analysis01.png
  quickstarts/audit/k8s-data-ingestion-analysis/dashboards/k8s-data-ingest-analysis02.png
  quickstarts/audit/k8s-data-ingestion-analysis/dashboards/k8s-data-ingest-analysis03.png
  quickstarts/audit/k8s-data-ingestion-analysis/dashboards/k8s-data-ingest-analysis04.png
  quickstarts/audit/k8s-data-ingestion-analysis/logo.svg
Labels: new-quickstart

#662 feat(pack) Added Azure CosmosDB
  quickstarts/azure/azure-cosmos-db/config.yml
  quickstarts/azure/azure-cosmos-db/dashboards/azure-cosmos-db.json
  quickstarts/azure/azure-cosmos-db/dashboards/azure-cosmos-db.png
Labels: improved-quickstart

#663 feat(pack) Added Azure App Service
  quickstarts/azure/azure-app-service/config.yml
  quickstarts/azure/azure-app-service/dashboards/azure-app-service.json
  quickstarts/azure/azure-app-service/dashboards/azure-app-service.png
Labels: improved-quickstart

#671 Apigee API Distributed Tracing quickstart
  quickstarts/gcp/apigee-api/config.yml
  quickstarts/gcp/apigee-api/logo.svg
Labels: waiting on contributor, new-quickstart

#666 feat(pack): Added new pack Azure Virtual Machines
  quickstarts/azure/azure-virtual-machines/config.yml
  quickstarts/azure/azure-virtual-machines/dashboards/azure-virtual-machines.json
  quickstarts/azure/azure-virtual-machines/dashboards/azure-virtual-machines.png
  quickstarts/azure/azure-virtual-machines/logo.svg
Labels: waiting on contributor, failed check, new-quickstart

#667 feat(pack) Added Azure Functions
  quickstarts/azure/azure-functions/config.yml
  quickstarts/azure/azure-functions/dashboards/azure-functions.json
  quickstarts/azure/azure-functions/dashboards/azure-functions.png
  quickstarts/react-native/dashboards/ReactNative.png
Labels: waiting on contributor, failed check, improved-quickstart

#674 feat(pack): Added Azure Cost Management
  quickstarts/azure/azure-cost-management/config.yml
  quickstarts/azure/azure-cost-management/dashboards/azure-cost-management.json
  quickstarts/azure/azure-cost-management/dashboards/azure-cost-management.png
Labels: improved-quickstart

#675 feat(pack): Added Azure Virtual Network
  quickstarts/azure/azure-virtual-network/config.yml
  quickstarts/azure/azure-virtual-network/dashboards/azure-virtual-network.json
  quickstarts/azure/azure-virtual-network/dashboards/azure-virtual-network.png
Labels: improved-quickstart

#678 chore: Show OHIs in infrastructure category
  quickstarts/audit/infrastructure-integrations-data-analysis/config.yml
  quickstarts/aws/aws-ecs-ecr/config.yml
  quickstarts/collectd/config.yml
  quickstarts/jmx/config.yml
  quickstarts/mssql/config.yml
  quickstarts/perfmon/config.yml
  quickstarts/postgresql/config.yml
  quickstarts/statsd/config.yml
Labels: improved-quickstart

#676 New Relic Alert CloudFormation Resource
  quickstarts/aws/newrelic-alert-cloudformation-resource/config.yaml
  quickstarts/aws/newrelic-alert-cloudformation-resource/logo.jpg
Labels: improved-quickstart

#682 chore: Update kohana quickstart
  quickstarts/php/kohana/config.yml
Labels: improved-quickstart

#691 Updated Gigamon url
  quickstarts/gigamon/config.yml
Labels: improved-quickstart

#672 Updated NPM quickstart Installplans w/ nerdlets
  install/network/flow/install.yml
  install/network/snmp/install.yml
  install/network/syslog/install.yml
Labels: improved-quickstart

#689 chore: update Nservicebus quickstart
  quickstarts/dotnet/nservicebus/config.yml
Labels: waiting on contributor, improved-quickstart

#687 chore: update video akamai
  quickstarts/video/video-web/video-web-akamai/config.yml
Labels: waiting on contributor, improved-quickstart

#684 chore: update aws qldb quickstart
  quickstarts/aws/aws-qldb/config.yml
Labels: waiting on contributor, improved-quickstart

#680 feat (BizTalk360): Added a QuickStart for BizTalk360
  quickstarts/biztalk360/config.yml
  quickstarts/biztalk360/dashboards/biztalk360.json
  quickstarts/biztalk360/dashboards/biztalk360_01.jpeg
  quickstarts/biztalk360/dashboards/biztalk360_02.jpeg
  quickstarts/biztalk360/dashboards/biztalk360_03.jpeg
  quickstarts/biztalk360/dashboards/biztalk360_04.jpeg
  quickstarts/biztalk360/logo.png
Labels: waiting on contributor, new-quickstart

#683 feat: added GCP Pub Sub java instrumentation quickstart
  quickstarts/java/gcp-pubsub/alerts/HighCpuUtilization.yml
  quickstarts/java/gcp-pubsub/alerts/TransactionErrors.yml
  quickstarts/java/gcp-pubsub/config.yml
  quickstarts/java/gcp-pubsub/dashboards/java.json
  quickstarts/java/gcp-pubsub/dashboards/java.png
  quickstarts/java/gcp-pubsub/dashboards/java01.png
  quickstarts/java/gcp-pubsub/dashboards/java02.png
  quickstarts/java/gcp-pubsub/icon.svg
  quickstarts/java/gcp-pubsub/logo.svg
Labels: waiting on contributor, new-quickstart

#697 Keyword updates
  quickstarts/apis/event/config.yml
  quickstarts/apis/logs/config.yml
  quickstarts/apis/metric/config.yml
  quickstarts/apis/trace/config.yml
  quickstarts/blameless/config.yml
  quickstarts/drupal/config.yml
  quickstarts/golden-signals-web/config.yml
  quickstarts/lamp/config.yml
  quickstarts/lighthouse/config.yml
  quickstarts/oracle/inet-oracle-driver/config.yml
  quickstarts/pagerduty/pagerduty/config.yml
  quickstarts/pivotal-tracker/config.yml
  quickstarts/quantum-metric/config.yml
  quickstarts/redhat/red-hat-enterprise-linux/config.yml
  quickstarts/signl4/config.yml
  quickstarts/victorops/config.yml
  quickstarts/wordpress/config.yml
  quickstarts/xmatters/config.yml
Labels: improved-quickstart

#665 [Repo Rearchitecture] - Add service validation for quickstarts + install plans
  .github/workflows/validate_install_plans.yml
  .github/workflows/validate_packs.yml
  .github/workflows/validation_gate.yml
  .gitignore
  quickstarts/react-native/dashboards/ReactNative.png
  utils/__tests__/nr_graphql_helpers.test.js
  utils/__tests__/validate_install_plans.test.js
  utils/__tests__/validate_install_quickstart_plans.test.js
  utils/__tests__/validate_pr_quickstarts.test.js
  utils/github-api-helpers.js
  utils/helpers.js
  utils/instant-observability-categories.json
  utils/mock_files/mock-install-1/install.yml
  utils/mock_files/mock-install-2/install.yml
  utils/mock_files/mock-install-3/install.yml
  utils/mock_files/mock-install-4/install.yml
  utils/mock_files/mock-quickstart-1/config.yml
  utils/mock_files/mock-quickstart-2/alerts/Cluster Health.yml
  utils/mock_files/mock-quickstart-2/alerts/errors.yml
  utils/mock_files/mock-quickstart-2/config.yml
  utils/mock_files/mock-quickstart-2/dashboards/dotnet.json
  utils/mock_files/mock-quickstart-2/dashboards/dotnet.png
  utils/mock_files/mock-quickstart-2/dashboards/dotnet02.png
  utils/mock_files/mock-quickstart-2/dashboards/dotnet03.png
  utils/mock_files/mock-quickstart-3/config.yml
  utils/mock_files/mock-quickstart-4/config.yml
  utils/mock_files/mock_dashboard_config.json
  utils/nr-graphql-helpers.js
  utils/package.json
  utils/validate-install-plans.js
  utils/validate-quickstart-install-plans.js
  utils/validate_pr_quickstarts.js
Labels: sp:5

#701 chore: added installplans for biztalk360
  install/third-party/biztalk360/install.yml
  quickstarts/biztalk360/config.yml
Labels: improved-quickstart

#699 feat: errors inbox quickstart | CircleCI quickstart
  install/third-party/circleci/install.yml
  quickstarts/circleci/config.yml
  quickstarts/circleci/dashboards/circledashboard.json
  quickstarts/circleci/dashboards/circledashboard01.png
  quickstarts/circleci/logo.png
  quickstarts/jira-errors/config.yml
  quickstarts/jira-errors/logo.png
  quickstarts/jumpstart/config.yml
Labels: waiting on contributor, new-quickstart

#704 fix: Fix the correcrt link to the docs
  quickstarts/mlops/sagemaker/config.yml
Labels: waiting on contributor, improved-quickstart

#720 fix: closes #718 jumpstart issue
  quickstarts/circleci/logo.png
  quickstarts/jumpstart/alerts/baseline-alert.yml
  quickstarts/jumpstart/alerts/static-alert.yml
Labels: improved-quickstart

#719 fix: Removed account id from dashboard and typo in description
  install/third-party/biztalk360/install.yml
  quickstarts/biztalk360/dashboards/biztalk360.json
Labels: improved-quickstart

#725 chore: updated description for circleci dashboard
  quickstarts/circleci/config.yml
Labels: waiting on contributor, improved-quickstart

#736 chore: updates image names and fixes json
  quickstarts/ibmmq/dashboards/ibmmq.json
  quickstarts/python/psycopg2/dashboards/psycopg01.png
  quickstarts/python/psycopg2/dashboards/psycopg202.png
  quickstarts/python/psycopg2/dashboards/psycopg203.png
Labels: improved-quickstart

#722 feat: added java instrumentation for apache camel
  quickstarts/java/camel/alerts/HighCpuUtilization.yml
  quickstarts/java/camel/alerts/TransactionErrors.yml
  quickstarts/java/camel/config.yml
  quickstarts/java/camel/dashboards/java.json
  quickstarts/java/camel/dashboards/java.png
  quickstarts/java/camel/dashboards/java01.png
  quickstarts/java/camel/dashboards/java02.png
  quickstarts/java/camel/logo.svg
Labels: waiting on contributor, new-quickstart

#723 feat: added java instrumentation for jdbc execute batch
  quickstarts/java/jdbc-executebatch/alerts/HighCpuUtilization.yml
  quickstarts/java/jdbc-executebatch/alerts/TransactionErrors.yml
  quickstarts/java/jdbc-executebatch/config.yml
  quickstarts/java/jdbc-executebatch/dashboards/java.json
  quickstarts/java/jdbc-executebatch/dashboards/java.png
  quickstarts/java/jdbc-executebatch/dashboards/java01.png
  quickstarts/java/jdbc-executebatch/dashboards/java02.png
  quickstarts/java/jdbc-executebatch/logo.svg
Labels: waiting on contributor, new-quickstart

#721 feat: added java instrumentation for elastic search queries
  quickstarts/java/elasticsearch-query/alerts/HighCpuUtilization.yml
  quickstarts/java/elasticsearch-query/alerts/TransactionErrors.yml
  quickstarts/java/elasticsearch-query/config.yml
  quickstarts/java/elasticsearch-query/dashboards/java.json
  quickstarts/java/elasticsearch-query/dashboards/java.png
  quickstarts/java/elasticsearch-query/dashboards/java01.png
  quickstarts/java/elasticsearch-query/dashboards/java02.png
  quickstarts/java/elasticsearch-query/logo.svg
Labels: waiting on contributor, new-quickstart

#744 chore: remove pivotal tracker quickstart
  quickstarts/pivotal-tracker/config.yml
  quickstarts/pivotal-tracker/logo.svg
Labels: waiting on contributor, quickstart-fix

#756 fix for validating quickstarts with no install plans
  .github/workflows/validate_install_plans.yml
  utils/__tests__/validate_install_quickstart_plans.test.js
  utils/mock_files/mock-quickstart-5/config.yml
  utils/validate-quickstart-install-plans.js
Labels: new-quickstart

#747 feat: new quickstart Slack for CodeStream
  quickstarts/codestream/codestream/config.yml
  quickstarts/codestream/codestream/logo.svg
  quickstarts/codestream/slack-cs/config.yml
  quickstarts/codestream/slack-cs/logo.png
Labels: waiting on contributor, failed check, new-quickstart

#752 Maint/add operator baseline
  _template/alerts/baseline-alert.yml
  quickstarts/elasticsearch/alerts/Query Load Baseline.yml
  quickstarts/elasticsearch/config.yml
  quickstarts/fastly/alerts/fastly-errorcount.yml
  quickstarts/fastly/alerts/fastly-responsetime.yml
  quickstarts/fastly/dashboards/fastly-cdn.json
  quickstarts/mysql/alerts/Questions per Second.yml
  quickstarts/network-flow-devices/alerts/Flow Destinations Baseline.yml
  quickstarts/network-flow-devices/alerts/Flow Sources Baseline.yml
  quickstarts/pixie/alerts/service-response-time-baseline-alert.yml
  quickstarts/pixie/alerts/service-throughput-baseline-alert.yml
  quickstarts/video/video-web/video-web-akamai/alerts/vpf.yml
  quickstarts/video/video-web/video-web-akamai/alerts/vsf.yml
  quickstarts/video/video-web/video-web-akamai/alerts/vst.yml
  quickstarts/video/video-web/video-web-html5/alerts/vpf.yml
  quickstarts/video/video-web/video-web-html5/alerts/vsf.yml
  quickstarts/video/video-web/video-web-html5/alerts/vst.yml
  quickstarts/video/video-web/video-web-jwplayer/alerts/vpf.yml
  quickstarts/video/video-web/video-web-jwplayer/alerts/vsf.yml
  quickstarts/video/video-web/video-web-jwplayer/alerts/vst.yml
  quickstarts/video/video-web/video-web-theplatform/alerts/vpf.yml
  quickstarts/video/video-web/video-web-theplatform/alerts/vsf.yml
  quickstarts/video/video-web/video-web-theplatform/alerts/vst.yml
  quickstarts/video/video-web/video-web-videojs/alerts/vpf.yml
  quickstarts/video/video-web/video-web-videojs/alerts/vsf.yml
  quickstarts/video/video-web/video-web-videojs/alerts/vst.yml
Labels: improved-quickstart

#759 chore: added permissions info
  CONTRIBUTING.md
Labels: documentation

#766 feat: new quickstart -teams for codestream
  quickstarts/codestream/teams-cs/config.yml
  quickstarts/codestream/teams-cs/logo.png
Labels: new-quickstart
