Repository newrelic/newrelic-quickstarts, pull requests merged in 2022-05, with the labels that each got.

#1064 change dashboard name
  quickstarts/salesforce-eventlog-for-logs/dashboards/sfdc-overview/sfdc-overview.json
Labels: improved-quickstart

#1053 Replace IBM MQ with official integration
  quickstarts/ibmmq/config.yml
  quickstarts/ibmmq/dashboards/ibmmq/ibmmq.json
  quickstarts/ibmmq/dashboards/ibmmq/ibmmq.png
  quickstarts/ibmmq/dashboards/ibmmq/ibmmq01.png
  quickstarts/ibmmq/dashboards/ibmmq/ibmmq02.png
Labels: improved-quickstart

#1056 Improvement: added more metrics to the already exiting dashboard
  quickstarts/audit/k8s-log-ingestion-analysis/config.yaml
  quickstarts/audit/k8s-log-ingestion-analysis/dashboards/k8s-log-ingest-breakdown/k8s-log-ingest-breakdown.json
  quickstarts/audit/k8s-log-ingestion-analysis/dashboards/k8s-log-ingest-breakdown/k8s-log-ingest-breakdown.png
  quickstarts/audit/k8s-log-ingestion-analysis/dashboards/k8s-log-ingest-breakdown/kubernetes-log-ingest-analysis.json
  quickstarts/audit/k8s-log-ingestion-analysis/dashboards/k8s-log-ingest-breakdown/kubernetes-log-ingest-analysis.png
Labels: improved-quickstart

#1059 First commit: New basic dashboard
  quickstarts/basic-dashboard/config.yml
  quickstarts/basic-dashboard/dashboards/basic-dashboard/basic-dashboard.json
  quickstarts/basic-dashboard/dashboards/basic-dashboard/basic-dashboard.png
  quickstarts/basic-dashboard/dashboards/basic-dashboard/basic-dashboard1.png
  quickstarts/basic-dashboard/dashboards/basic-dashboard/basic-dashboard2.png
  quickstarts/basic-dashboard/dashboards/basic-dashboard/basic-dashboard3.png
  quickstarts/basic-dashboard/dashboards/basic-dashboard/basic-dashboard4.png
  quickstarts/basic-dashboard/dashboards/basic-dashboard/basic-dashboard5.png
  quickstarts/basic-dashboard/dashboards/basic-dashboard/basic-dashboard6.png
  quickstarts/basic-dashboard/dashboards/basic-dashboard/basic-dashboard7.png
  quickstarts/basic-dashboard/dashboards/basic-dashboard/basic-dashboard8.png
  quickstarts/basic-dashboard/dashboards/basic-dashboard/basic-dashboard9.png
  quickstarts/basic-dashboard/images/icon.jpeg
  quickstarts/basic-dashboard/logo.png
Labels: new-quickstart

#1063 Removing non functional cardinality visualization from Prometheus Remote Write
  quickstarts/prometheus-remote-write/dashboards/prometheus-remote-write-monitoring/prometheus-remote-write-monitoring.json
Labels: improved-quickstart

#1067 add installPlans
  quickstarts/basic-dashboard/config.yml
Labels: improved-quickstart

#1068 remove installPlans and add install.yml
  install/basic-dashboard/install.yml
  quickstarts/basic-dashboard/config.yml
Labels: improved-quickstart

#1066 feat: nginx ingress controller quickstart
  install/third-party/nginx-ingress/install.yml
  quickstarts/kubernetes/nginx/config.yml
  quickstarts/kubernetes/nginx/dashboards/nginx-ingress-dashboard.json
  quickstarts/kubernetes/nginx/dashboards/nginx-ingress-dashboard.png
  quickstarts/kubernetes/nginx/logo.svg
Labels: waiting on contributor, new-quickstart

#1069 update IBM MQ quickstart description
  quickstarts/ibmmq/config.yml
Labels: improved-quickstart

#1070 Attach the install plan for the JIRA quickstart
  quickstarts/atlassian/atlassian-jira/config.yml
Labels: improved-quickstart

#1071 feat: Add browser agent keyword to netlify
  data-sources/netlify-builds/config.yml
  data-sources/netlify-logs/config.yml
Labels: improved-quickstart

#1074 Update some data source primary installs
  data-sources/atlassian-jira/config.yml
  data-sources/collectd/config.yml
  data-sources/contentsquare/config.yml
  data-sources/perfmon/config.yml
  data-sources/unix/config.yml
  quickstarts/atlassian/atlassian-jira/config.yml
Labels: improved-quickstart

#1072 Additional Datasources
  data-sources/argocd/config.yml
  data-sources/argocd/logo.png
  data-sources/biztalks360/config.yml
  data-sources/biztalks360/logo.png
  data-sources/contentsquare/config.yml
  data-sources/databricks/config.yml
  data-sources/databricks/logo.png
  data-sources/network-data-ingest-and-cardinality/config.yml
  data-sources/network-data-ingest-and-cardinality/logo.svg
  data-sources/network-flow-devices/config.yml
  data-sources/network-flow-devices/logo.svg
  data-sources/network-ktranslate-health/config.yml
  data-sources/network-ktranslate-health/logo.svg
  data-sources/network-routers-and-switches/config.yml
  data-sources/network-routers-and-switches/logo.svg
  data-sources/network-syslog/config.yml
  data-sources/network-syslog/logo.svg
Labels: new-quickstart

#1079 fix: aws/aws-lambda dashboard queries
  quickstarts/aws/aws-lambda/dashboards/lambda/lambda.json
Labels: improved-quickstart

#1080 fix: [redis-prometheus] Moved Redis dashboard to New Folder
  quickstarts/redis-prometheus/dashboards/redis-prometheus/redis-prometheus.json
  quickstarts/redis-prometheus/dashboards/redis-prometheus/redis01.png
  quickstarts/redis-prometheus/dashboards/redis-prometheus/redis02.png
  quickstarts/redis-prometheus/dashboards/redis-prometheus/redis03.png
Labels: bug

#1082 fix: [node exporter] Update Node Exporter
  quickstarts/node-exporter/dashboards/node-exporter/node-exporter.json
  quickstarts/node-exporter/dashboards/node-exporter/node-exporter.png
Labels: bug

#1076 feat(zebrium): Added a Quickstart for zebrium
  install/third-party/zebrium/install.yml
  quickstarts/zebrium/config.yml
  quickstarts/zebrium/dashboards/zebrium_rcaas_dashboard.json
  quickstarts/zebrium/dashboards/zebrium_rcaas_dashboard01.png
  quickstarts/zebrium/logo.png
Labels: waiting on contributor, new-quickstart

#1083 fix:[node-exporter] Node Exporter Dashboard Facet
  quickstarts/node-exporter/dashboards/node-exporter/node-exporter.json
Labels: improved-quickstart

#1085 Updating description
  quickstarts/circleci/config.yml
Labels: improved-quickstart

#1084 Add dashboard to amazon msk quickstart
  quickstarts/aws/amazon-msk/config.yml
  quickstarts/aws/amazon-msk/dashboards/msk-monitoring/amazon-msk-monitoring.json
  quickstarts/aws/amazon-msk/dashboards/msk-monitoring/aws-msk-dashboard-screenshot.png
Labels: improved-quickstart

#1091 feat(Updated Screenshot): Updated Dashboard snapshot
  quickstarts/aws/amazon-msk/dashboards/msk-monitoring/aws-msk-dashboard-screenshot.png
Labels: improved-quickstart

#1090 Battlesnake, make game tracking dash work for all languages
  quickstarts/battlesnake/dashboards/battlesnake-game-tracking/battlesnake-game-tracking.json
Labels: improved-quickstart

#1086 feat: add quickstart akamai-datastream2
  install/third-party/datastream2-akamai/install.yml
  quickstarts/datastream2-akamai/alerts/datastream2-5xx-errors.yml
  quickstarts/datastream2-akamai/config.yml
  quickstarts/datastream2-akamai/dashboards/datastream2/datastream2-01.jpeg
  quickstarts/datastream2-akamai/dashboards/datastream2/datastream2-02.jpeg
  quickstarts/datastream2-akamai/dashboards/datastream2/datastream2-03.jpeg
  quickstarts/datastream2-akamai/dashboards/datastream2/datastream2.json
  quickstarts/datastream2-akamai/logo.png
Labels: new-quickstart

#1036 WayScript Quickstart and Install Plan
  install/wayscript/install.yml
  quickstarts/wayscript/config.yml
  quickstarts/wayscript/logo.png
Labels: stale

#1105 fix/NR-11787: changed description and removed 2 screenshot images
  quickstarts/basic-dashboard/config.yml
  quickstarts/basic-dashboard/dashboards/basic-dashboard/basic-dashboard.png
  quickstarts/basic-dashboard/dashboards/basic-dashboard/basic-dashboard1.png
Labels: improved-quickstart

#1098 Typo fix for battlesnake
  quickstarts/battlesnake/dashboards/battlesnake-game-tracking/battlesnake-game-tracking.json
  quickstarts/battlesnake/dashboards/battlesnake-performance/battlesnake-performance.json
Labels: improved-quickstart

#1106 Cisco hardware
  install/network/ciscoHardware/install.yml
  quickstarts/ciscoHardware/config.yml
  quickstarts/ciscoHardware/dashboards/ciscoHardware/ciscoHardware.json
  quickstarts/ciscoHardware/dashboards/ciscoHardware/ciscoHardware01.png
  quickstarts/ciscoHardware/dashboards/ciscoHardware/ciscoHardware02.png
  quickstarts/ciscoHardware/logo.svg
Labels: new-quickstart

#1108 cchore: updated keywords and description
  quickstarts/datastream2-akamai/config.yml
  quickstarts/delphix/config.yml
  quickstarts/glassbox/config.yml
  quickstarts/releaseiq/config.yml
Labels: improved-quickstart

#1101 Switch preview URL to production URL
  utils/preview.ts
Labels: DO_NOT_MERGE

#1112 Add Redis Enterprise Quickstart documentation
  install/redisenterprise/install.yml
  quickstarts/redisenterprise/config.yml
  quickstarts/redisenterprise/dashboards/active_active/active_active.json
  quickstarts/redisenterprise/dashboards/active_active/active_active01.png
  quickstarts/redisenterprise/dashboards/cluster/cluster.json
  quickstarts/redisenterprise/dashboards/cluster/cluster01.png
  quickstarts/redisenterprise/dashboards/database/database.json
  quickstarts/redisenterprise/dashboards/database/database01.png
  quickstarts/redisenterprise/logo.png
Labels: new-quickstart

#1113 Quickstart Preview
  .github/workflows/preview-links.yml
  utils/__tests__/create-preview-links.test.ts
  utils/__tests__/create-validate-data-sources.test.js
  utils/__tests__/helpers.test.js
  utils/__tests__/preview_helpers.test.js
  utils/__tests__/test-utilities.js
  utils/__tests__/validate_images_on_file_system.test.js
  utils/__tests__/validate_install_plans.test.js
  utils/__tests__/validate_pr_quickstarts.test.js
  utils/check-missing-logos.js
  utils/constants.ts
  utils/create-preview-links.ts
  utils/create_validate_pr_quickstarts.ts
  utils/graphql-schemas/constants.js
  utils/helpers.ts
  utils/mock_files/mock-quickstart-7/nested-quickstart/config.yml
  utils/package.json
  utils/preview.ts
  utils/sanitize_dashboards.js
  utils/yarn.lock
Labels: new-quickstart

#1110 Chore: update Docker quickstart description
  quickstarts/docker/config.yml
Labels: improved-quickstart

#1111 Chore: Update Tomcat content optimization
  quickstarts/java/tomcat/config.yml
Labels: improved-quickstart

#1114 Chore: Update SNMP IO description
  quickstarts/snmp/config.yml
Labels: improved-quickstart

#1122 chore/NR-14659: change java logos to duke logos
  quickstarts/java/adobe-cq/logo.svg
  quickstarts/java/asynchttpclient/logo.svg
  quickstarts/java/generic-jdbc/logo.svg
  quickstarts/java/java/config.yml
  quickstarts/java/java/logo.svg
  quickstarts/java/jdbc-executebatch/logo.svg
  quickstarts/java/jms/logo.svg
  quickstarts/java/oc4j/logo.svg
  quickstarts/jmx/logo.svg
Labels: improved-quickstart

#1123 Revert "chore/NR-14659: change java logos to duke logos"
  quickstarts/java/adobe-cq/logo.svg
  quickstarts/java/asynchttpclient/logo.svg
  quickstarts/java/generic-jdbc/logo.svg
  quickstarts/java/java/config.yml
  quickstarts/java/java/logo.svg
  quickstarts/java/jdbc-executebatch/logo.svg
  quickstarts/java/jms/logo.svg
  quickstarts/java/oc4j/logo.svg
  quickstarts/jmx/logo.svg
Labels: improved-quickstart
