Repository newrelic/newrelic-quickstarts, pull requests merged in 2022-10, with the labels that each got.

#1400 feat: add installPlan for Jenkins
  install/third-party/jenkins/install.yml
  quickstarts/jenkins/config.yml
Labels: improved-quickstart

#1369 Chore: Add Confluent Cloud Quickstart
  install/third-party/confluent-cloud/install.yml
  quickstarts/confluent-cloud/config.yml
  quickstarts/confluent-cloud/dashboards/confluent-cloud.json
  quickstarts/confluent-cloud/dashboards/confluentcloud01.png
  quickstarts/confluent-cloud/dashboards/confluentcloud02.png
  quickstarts/confluent-cloud/dashboards/confluentcloud03.png
  quickstarts/confluent-cloud/logo.png
  quickstarts/network-flow-devices/newlogo_full.png
  quickstarts/network-ktranslate-health/newlogo_full.png
  quickstarts/network-routers-and-switches/newlogo_full.png
  quickstarts/network-syslog/newlogo_full.png
  quickstarts/newrelic-ingest-metric/newlogo_full.png
Labels: waiting on contributor, new-quickstart

#1386 Quickstart for Jenkins-Prometheus
  alert-policies/jenkins-prometheus/error.yml
  alert-policies/jenkins-prometheus/latency.yml
  alert-policies/jenkins-prometheus/saturation.yml
  alert-policies/jenkins-prometheus/throughput.yml
  dashboards/jenkins-prometheus/jenkins-prometheus.json
  dashboards/jenkins-prometheus/jenkins-prometheus.png
  install/third-party/jenkins-prometheus/install.yml
  quickstarts/jenkins-prometheus/config.yml
  quickstarts/jenkins-prometheus/logo.png
Labels: new-quickstart

#1392 Quickstart for InfluxDB
  alert-policies/ext-influxdb/execute-failures.yml
  alert-policies/ext-influxdb/query-requests.yml
  dashboards/ext-influxdb/InfluxDB.json
  dashboards/ext-influxdb/InfluxDB.png
  install/ext-influxdb/install.yml
  quickstarts/ext-influxdb/config.yml
  quickstarts/ext-influxdb/logo.png
Labels: new-quickstart

#1376 NR-34617: Added new quickstart- ADO.NET
  alert-policies/ado-dotnet/HardConnectsExceeding.yml
  alert-policies/ado-dotnet/HighConnectionLoad.yml
  alert-policies/ado-dotnet/PoolSizeExceeding.yml
  dashboards/ado-dotnet/ado-dotnet.json
  dashboards/ado-dotnet/ado-dotnet01.png
  dashboards/ado-dotnet/ado-dotnet02.png
  quickstarts/dotnet/ado-dotnet/config.yml
  quickstarts/dotnet/ado-dotnet/logo.svg
Labels: new-quickstart

#1380 Ext hcp vault
  alert-policies/ext-hcp-vault/handle-login-request.yml
  alert-policies/ext-hcp-vault/handle-request.yml
  alert-policies/ext-hcp-vault/sealed-status.yml
  dashboards/ext-hcp-vault/HCP_Vault-screenshot.png
  dashboards/ext-hcp-vault/HCP_Vault.json
  install/third-party/ext-hcp-vault/install.yml
  quickstarts/ext-hcp-vault/config.yml
  quickstarts/ext-hcp-vault/logo.svg
Labels: new-quickstart

#1409 Update Harbor quickstart with author field
  quickstarts/harbor/config.yml
Labels: improved-quickstart

#1402 Update dashboard screenshots (Cloudflare quickstart)
  dashboards/cloudflare/cloudflare01.png
  dashboards/cloudflare/cloudflare02.png
  dashboards/cloudflare/cloudflare03.png
Labels: improved-quickstart

#1408 Refactor | Confluent Cloud via OTel Collector
  dashboards/confluent-cloud/confluent-cloud.json
  dashboards/confluent-cloud/confluentcloud01.png
  dashboards/confluent-cloud/confluentcloud02.png
  dashboards/confluent-cloud/confluentcloud03.png
  install/third-party/confluent-cloud/install.yml
  quickstarts/confluent-cloud/config.yml
  quickstarts/confluent-cloud/logo.png
Labels: new-quickstart

#1412 Improve search results for OTel
  quickstarts/opentelemetry/config.yml
Labels: improved-quickstart

#1418 Update to Existing Roku Quickstart
  alert-policies/roku/HTTPErrors.yml
  dashboards/roku/roku-1.png
  dashboards/roku/roku-2.png
  dashboards/roku/roku-3.png
  dashboards/roku/roku.json
  install/third-party/roku/install.yml
  quickstarts/roku/config.yml
Labels: improved-quickstart

#1417 feat: add jenkins data source
  data-sources/jenkins/config.yml
  data-sources/jenkins/logo.svg
Labels: new-quickstart

#1406 feat: cloudfront logs qs
  dashboards/amazon-cloudfront-web-logs/amazon-cloudfront-web-logs.json
  dashboards/amazon-cloudfront-web-logs/amazon-cloudfront-web-logs01.png
  dashboards/amazon-cloudfront-web-logs/amazon-cloudfront-web-logs02.png
  dashboards/amazon-cloudfront-web-logs/amazon-cloudfront-web-logs03.png
  install/aws/amazon-cloudfront-web-logs/install.yml
  quickstarts/aws/amazon-cloudfront-logs/config.yml
  quickstarts/aws/amazon-cloudfront-logs/logo.svg
Labels: new-quickstart

#1385 New AQM content
  dashboards/alert-quality-management/alert-quality-management.json
  dashboards/oma-aqm/alert-quality-management.json
  dashboards/oma-aqm/alert-quality-management.png
  quickstarts/oma-aqm/config.yml
  quickstarts/oma-aqm/icon.jpeg
  quickstarts/oma-aqm/images/icon.jpeg
  quickstarts/oma-aqm/logo.png
  quickstarts/oma-aqm/logo.svg
Labels: improved-quickstart

#1411 Added alerts for etcd
  alert-policies/etcd/fsync-latency-by-wal.yml
  alert-policies/etcd/high-commit-duration.yml
  alert-policies/etcd/higher-number-of-failed-grpc-requests.yml
  alert-policies/etcd/leader-changes.yml
  alert-policies/etcd/no-leader.yml
  alert-policies/etcd/number-of-failed-grpc-requests.yml
  alert-policies/etcd/number-of-server-proposal-fails.yml
Labels: waiting on contributor, improved-quickstart

#1421 Add `apm` to open telemetry keywords
  quickstarts/opentelemetry/config.yml
Labels: improved-quickstart

#1422 Update config.yml
  quickstarts/aws/aws-apprunner/config.yml
Labels: improved-quickstart

#1420 Added skykit to the quickstart folder
  quickstarts/skykit/config.yml
  quickstarts/skykit/logo.png
Labels: new-quickstart

#1375 NR-31209-ActiveMQ integration.
  alert-policies/activemq/HeapMemoryUsage.yml
  alert-policies/activemq/MessageDequeueRate.yml
  alert-policies/activemq/MessageEnqueueRate.yml
  alert-policies/activemq/TotalConnections.yml
  dashboards/activemq/activemq-1.png
  dashboards/activemq/activemq-2.png
  dashboards/activemq/activemq-3.png
  dashboards/activemq/activemq-4.png
  dashboards/activemq/activemq-5.png
  dashboards/activemq/activemq-6.png
  dashboards/activemq/activemq.json
  install/activemq/install.yml
  quickstarts/activemq/config.yml
Labels: new-quickstart

#1430 Quick fix for the quickstart template
  _template/quickstarts/example-quickstart/config.yml
Labels: improved-quickstart

#1427 feat: new datasource for cloudfront
  data-sources/aws-cloudfront/config.yml
  data-sources/aws-cloudfront/logo.svg
  quickstarts/aws/amazon-cloudfront-logs/config.yml
Labels: improved-quickstart, new-datasource

#1428 chore/update network monitoring quickstarts
  alert-policies/network-metric-cardinality/network-metric-cardinality-violation.yml
  dashboards/network-data-ingest-and-cardinality/network-data-ingest-and-cardinality.json
  dashboards/network-data-ingest-and-cardinality/network-data-ingest-and-cardinality1.jpg
  dashboards/network-data-ingest-and-cardinality/network-data-ingest-and-cardinality2.jpg
  dashboards/network-data-ingest-and-cardinality/network-data-ingest-and-cardinality3.jpg
  dashboards/network-data-ingest-and-cardinality/network-data-ingest-and-cardinality4.jpg
  quickstarts/audit/network-data-ingest-and-cardinality-analysis/config.yml
  quickstarts/network-monitoring/network-routers-and-switches/config.yml
  quickstarts/network-monitoring/network-syslog/config.yml
Labels: improved-quickstart

#1426 Add opentelemetry to apm category
  quickstarts/opentelemetry/config.yml
Labels: improved-quickstart

#1424 Adding Calico dashboard
  dashboards/calico/calico.json
  dashboards/calico/dashboard.png
  quickstarts/calico/config.yml
  quickstarts/calico/logo.png
Labels: waiting on contributor, new-quickstart

#1431 Chore: key updates for gcp spanner qs
  dashboards/gcp-cloud-spanner/gcp-cloud-spanner.json
  dashboards/gcp-cloud-spanner/gcp-cloud-spanner01.png
  dashboards/gcp-cloud-spanner/gcp-cloud-spanner02.png
  dashboards/gcp-cloud-spanner/gcp-cloud-spanner03.png
  dashboards/gcp-cloud-spanner/gcp-cloud-spanner04.png
  dashboards/gcp-cloud-spanner/gcp-cloud-spanner05.png
  dashboards/gcp-cloud-spanner/gcp-cloud-spanner06.png
  quickstarts/gcp/google-cloud-spanner-latency/config.yml
  quickstarts/gcp/google-cloud-spanner-otel/config.yml
  quickstarts/gcp/google-cloud-spanner-otel/logo.svg
Labels: improved-quickstart

#1434 chore: fix amazon name
  data-sources/aws-cloudfront/config.yml
Labels: waiting on contributor

#1435 Quickstart for k8s prometheus dashboards
  CONTRIBUTING.md
  dashboards/kubernetes-prometheus-apiserver/kubernetes-prometheus-apiserver.json
  dashboards/kubernetes-prometheus-apiserver/kubernetes-prometheus-apiserver01.png
  dashboards/kubernetes-prometheus-apiserver/kubernetes-prometheus-apiserver02.png
  dashboards/kubernetes-prometheus-compute-resources/kubernetes-prometheus-compute-resources.json
  dashboards/kubernetes-prometheus-compute-resources/kubernetes-prometheus-compute-resources01.png
  dashboards/kubernetes-prometheus-compute-resources/kubernetes-prometheus-compute-resources02.png
  dashboards/kubernetes-prometheus-compute-resources/kubernetes-prometheus-compute-resources03.png
  dashboards/kubernetes-prometheus-compute-resources/kubernetes-prometheus-compute-resources04.png
  dashboards/kubernetes-prometheus-kubelet/kubernetes-prometheus-kubelet.json
  dashboards/kubernetes-prometheus-kubelet/kubernetes-prometheus-kubelet01.png
  dashboards/kubernetes-prometheus-kubelet/kubernetes-prometheus-kubelet02.png
  dashboards/kubernetes-prometheus-kubelet/kubernetes-prometheus-kubelet03.png
  dashboards/kubernetes-prometheus-kubelet/kubernetes-prometheus-kubelet04.png
  dashboards/kubernetes-prometheus-persistent-volumes/kubernetes-prometheus-persistent-volumes.json
  dashboards/kubernetes-prometheus-persistent-volumes/kubernetes-prometheus-persistent-volumes.png
  install/third-party/kubernetes-prometheus/install.yml
  quickstarts/kubernetes-prometheus/config.yml
  quickstarts/kubernetes-prometheus/logo.svg
Labels: waiting on contributor, new-quickstart

#1439 chore: update featured list
  quickstarts/aws/amazon-cloudfront-logs/config.yml
  quickstarts/confluent-cloud/config.yml
  quickstarts/dbmarlin/config.yml
  quickstarts/redisenterprise/config.yml
  quickstarts/zebrium/config.yml
Labels: improved-quickstart

#1444 NR-58137 Updated Logo on private-locations quickstart
  quickstarts/synthetics/private-locations/config.yml
  quickstarts/synthetics/private-locations/logo.png
  quickstarts/synthetics/private-locations/logo.svg
Labels: improved-quickstart

#1292 Adding Snyk quickstart
  dashboards/snyk/snyk.json
  dashboards/snyk/snyk.png
  install/third-party/snyk/install.yml
  quickstarts/snyk/config.yml
  quickstarts/snyk/logo.svg
Labels: new-quickstart

#1438 Adding Vulnerability management quickstarts
  install/aws/aws-security-hub/install.yml
  install/security/install.yml
  install/third-party/github/install.yml
  quickstarts/aws/aws-security-hub/config.yml
  quickstarts/aws/aws-security-hub/logo.png
  quickstarts/github/config.yml
  quickstarts/github/logo.png
  quickstarts/security/config.yml
  quickstarts/security/logo.png
Labels: new-quickstart, DO_NOT_MERGE

#1443 Argocd Alerts Prometheus
  alert-policies/argocd/ApplicationDegraded.yml
  alert-policies/argocd/ApplicationOutOfSync.yml
  quickstarts/argocd/config.yml
Labels: waiting on contributor, improved-quickstart

#1450 Add featured quickstart Roku
  quickstarts/roku/config.yml
Labels: improved-quickstart

#1451 Slight updates to the Snyk quickstart
  dashboards/snyk/snyk.json
  install/third-party/snyk/install.yml
  quickstarts/snyk/config.yml
Labels: improved-quickstart

#1436 Nr 49260 quick start alerts nginx-ingress
  alert-policies/nginx-ingress/High-http-4xx-5xx-error-alert.yml
  alert-policies/nginx-ingress/Ingress-certificate-expiration-alert.yml
  alert-policies/nginx-ingress/Ingress-config-load-errors-alert.yml
  alert-policies/nginx-ingress/P99-latency-alert.yml
  quickstarts/kubernetes/nginx/config.yml
Labels: waiting on contributor, improved-quickstart

#1453 php logo update
  quickstarts/php/php/config.yml
  quickstarts/php/php/logo.jpg
  quickstarts/php/php/logo.svg
Labels: waiting on contributor, improved-quickstart

#1456 feat: link etcd alert policies
  quickstarts/etcd/config.yml
Labels: improved-quickstart

#1466 fix: removing dashboard until metric issue can be resolved
  dashboards/traefik/traefik.json
  dashboards/traefik/traefik.png
  quickstarts/traefik/config.yml
Labels: improved-quickstart

#1446 Added mobile dashboard
  dashboards/mobile/Mobile.png
  dashboards/mobile/mobile.json
  install/mobile-dashboard/install.yml
  quickstarts/mobile/config.yml
  quickstarts/mobile/icon.png
Labels: waiting on contributor, new-quickstart

#1469 NR58554 : Updating PHP dashboard with v2
  dashboards/php/php.json
  dashboards/php/php01.png
  dashboards/php/php02.png
  dashboards/php/php03.png
  dashboards/php/php04.png
  dashboards/php/php05.png
  dashboards/php/php06.png
Labels: waiting on contributor, improved-quickstart

#1470 fix: Small change to query that returns logs by app
  dashboards/log-analysis/log-analysis.json
Labels: improved-quickstart
