Repository newrelic/newrelic-quickstarts, pull requests merged in 2022-03, with the labels that each got.

#866 feat: new charts to comply with current solutions guide
  quickstarts/oma-data-gov/dashboards/data-ingest-baseline.json
Labels: waiting on contributor, improved-quickstart

#853 Add partner keyword and change support level
  quickstarts/releaseiq/config.yml
Labels: waiting on contributor, improved-quickstart

#869 chore: add logo to CircleCI quickstart
  quickstarts/circleci/dashboards/circledashboard.json
Labels: improved-quickstart

#871 Chore: Update laravel quickstart
  quickstarts/php/laravel/config.yml
Labels: improved-quickstart

#872 Chore: update Django quickstart
  quickstarts/python/django/config.yml
Labels: improved-quickstart

#873 Chore: update salesforce quickstart
  quickstarts/salesforce-eventlog-for-logs/config.yml
Labels: improved-quickstart

#874 Chore: update algorithmia quickstart
  quickstarts/mlops/algorithmia/config.yml
Labels: improved-quickstart

#870 chore : removed featured tag from quick starts and added most popular…
  quickstarts/apache/config.yml
  quickstarts/dotnet/dotnet/config.yml
  quickstarts/java/java/config.yml
  quickstarts/kafka/config.yml
  quickstarts/mysql/config.yml
  quickstarts/node-js/node-js/config.yml
  quickstarts/php/php/config.yml
  quickstarts/ruby/ruby/config.yml
Labels: improved-quickstart

#884 Update config.yml
  quickstarts/aws/aws-dynamodb/config.yml
Labels: improved-quickstart

#897 fix: corrects logo
  quickstarts/port-monitoring/config.yml
  quickstarts/port-monitoring/logo.png
  quickstarts/port-monitoring/logo.svg
Labels: improved-quickstart

#885 feat(pack): Added Synthetics Page Link Crawler
  quickstarts/synthetics/page-link-crawler/alerts/LowSuccessRate.yml
  quickstarts/synthetics/page-link-crawler/config.yml
  quickstarts/synthetics/page-link-crawler/dashboards/page-link-crawler.json
  quickstarts/synthetics/page-link-crawler/dashboards/page-link-crawler.png
Labels: improved-quickstart

#891 style(description): Fix typos and language inconsistency
  quickstarts/php/php/config.yml
Labels: improved-quickstart

#878 Chore: update Fubumvc quickstart
  quickstarts/dotnet/fubumvc/config.yml
Labels: waiting on contributor, failed check, improved-quickstart

#901 chore: removed entity ids from json
  quickstarts/speedscale/dashboards/speedscale-reports.json
Labels: improved-quickstart

#898 Update featured quickstarts
  quickstarts/circleci/config.yml
  quickstarts/cribl-logstream/config.yml
  quickstarts/delphix/config.yml
  quickstarts/kentik/config.yml
  quickstarts/network-flow-devices/config.yml
  quickstarts/network-routers-and-switches/config.yml
  quickstarts/network-syslog/config.yml
  quickstarts/releaseiq/config.yml
  quickstarts/speedscale/config.yml
  quickstarts/trendmicro-cloudone-conformity/config.yml
Labels: improved-quickstart

#886 Chore: update links for glassbox quickstart
  install/third-party/glassbox/install.yml
  quickstarts/glassbox/config.yml
Labels: waiting on contributor, improved-quickstart

#905 chore: add missing summaries for consul, memcached, postgresql
  quickstarts/consul/config.yml
  quickstarts/memcached/config.yml
  quickstarts/postgresql/config.yml
Labels: improved-quickstart

#903 chore: update jetty and wildfly quickstarts to use targeted install
  quickstarts/java/jetty/config.yml
  quickstarts/java/tomcat/config.yml
  quickstarts/java/wildfly/config.yml
Labels: improved-quickstart

#904 Dimensional Metrics dashboards migration
  quickstarts/apache/dashboards/apache.json
  quickstarts/cassandra/dashboards/cassandra.json
  quickstarts/consul/dashboards/consul.json
  quickstarts/couchbase/dashboards/couchbase.json
  quickstarts/elasticsearch/dashboards/elasticsearch.json
  quickstarts/haproxy/dashboards/haproxy.json
  quickstarts/kafka/dashboards/kafka.json
  quickstarts/kubernetes/kubernetes/dashboards/kubernetes.json
  quickstarts/memcached/dashboards/memcached.json
  quickstarts/mongodb/dashboards/mongodb.json
  quickstarts/mysql/dashboards/mysql.json
  quickstarts/nginx/dashboards/nginx.json
  quickstarts/postgresql/dashboards/postgresql.json
  quickstarts/rabbitmq/dashboards/rabbitmq.json
  quickstarts/redis/dashboards/redis.json
  quickstarts/varnish/dashboards/varnish.json
Labels: waiting on contributor, improved-quickstart

#906 Fix broken JSON formatting
  quickstarts/infrastructure/dashboards/infra_pages_dashboard.json
Labels: waiting on contributor, improved-quickstart

#915 feat: new cloudlfare quickstart
  install/third-party/cloudflare/install.yml
  quickstarts/cloudflare/config.yml
  quickstarts/cloudflare/dashboards/cloudflare.json
  quickstarts/cloudflare/dashboards/cloudflare01.png
  quickstarts/cloudflare/dashboards/cloudflare02.png
  quickstarts/cloudflare/dashboards/cloudflare03.png
  quickstarts/cloudflare/logo.png
Labels: new-quickstart

#900 catchpoint : added a quickstart for catchpoint webhook
  catchpoint/alerts/recent-errors.yml
  catchpoint/config.yml
  catchpoint/dashboards/Catchpoint-Overview.json
  catchpoint/dashboards/Catchpoint-Overview.png
  catchpoint/dashboards/Catchpoint-Recent_Errors.json
  catchpoint/dashboards/Catchpoint-Recent_Errors.png
  catchpoint/dashboards/Catchpoint-Response_Size.json
  catchpoint/dashboards/Catchpoint-Response_Size.png
  catchpoint/dashboards/Catchpoint-Test_Times.json
  catchpoint/dashboards/Catchpoint-Test_Times.png
  catchpoint/icon.jpeg
  catchpoint/images/icon.jpeg
  catchpoint/logo.png
Labels: waiting on contributor, new-quickstart

#902 Chore: Update RestSharp description and summary
  quickstarts/dotnet/restsharp/config.yml
Labels: waiting on contributor, improved-quickstart

#924 chore: updated doc link to our doc
  install/third-party/cloudflare/install.yml
  quickstarts/cloudflare/config.yml
Labels: improved-quickstart

#927 feat: added prometheus install plan + fixes
  CONTRIBUTING.md
  catchpoint/config.yml
  install/open-source-monitoring/prometheus/install.yml
  quickstarts/atlassian/atlassian-jira/config.yml
  quickstarts/catchpoint/alerts/recent-errors.yml
  quickstarts/catchpoint/config.yml
  quickstarts/catchpoint/dashboards/Catchpoint-Overview.json
  quickstarts/catchpoint/dashboards/Catchpoint-Overview.png
  quickstarts/catchpoint/dashboards/Catchpoint-Recent_Errors.json
  quickstarts/catchpoint/dashboards/Catchpoint-Recent_Errors.png
  quickstarts/catchpoint/dashboards/Catchpoint-Response_Size.json
  quickstarts/catchpoint/dashboards/Catchpoint-Response_Size.png
  quickstarts/catchpoint/dashboards/Catchpoint-Test_Times.json
  quickstarts/catchpoint/dashboards/Catchpoint-Test_Times.png
  quickstarts/catchpoint/icon.jpeg
  quickstarts/catchpoint/images/icon.jpeg
  quickstarts/catchpoint/logo.png
Labels: improved-quickstart

#929 fix: newline change to trigger publish
  quickstarts/ruby/rails/config.yml
Labels: improved-quickstart

#925 Updating Quickstart Name
  quickstarts/netlify/config.yml
Labels: waiting on contributor, improved-quickstart

#936 Add win/loss tracking dashboard for Battlesnakes
  quickstarts/battlesnake/config.yml
  quickstarts/battlesnake/dashboards/battlesnake-game-tracking-1.png
  quickstarts/battlesnake/dashboards/battlesnake-game-tracking.json
Labels: improved-quickstart

#938 Chore: update azure vnet IO
  quickstarts/azure/azure-virtual-network/config.yml
Labels: improved-quickstart

#937 Chore: update link crawler synthetic I/O
  quickstarts/synthetics/page-link-crawler/config.yml
Labels: improved-quickstart

#941 Misc quickstart fixes
  quickstarts/catchpoint/config.yml
  quickstarts/gigamon/config.yml
  quickstarts/glassbox/config.yml
  quickstarts/golang/pkg-errors/config.yml
  quickstarts/jumpstart/config.yml
  quickstarts/oma-aqm/config.yml
  quickstarts/python/aiohttp/config.yml
  quickstarts/python/bottle/config.yml
  quickstarts/python/celery/config.yml
  quickstarts/python/django/config.yml
  quickstarts/python/facepy/config.yml
  quickstarts/python/fastapi/config.yml
  quickstarts/python/feedparser/config.yml
  quickstarts/python/flask/config.yml
  quickstarts/python/gevent/config.yml
  quickstarts/python/httplib2/config.yml
  quickstarts/python/mako/config.yml
  quickstarts/python/pylibmc/config.yml
  quickstarts/python/pyramid/config.yml
  quickstarts/python/tornado/config.yml
  quickstarts/python/twisted/config.yml
  quickstarts/python/web2py/config.yml
  quickstarts/python/webpy/config.yml
  quickstarts/ruby/net-http/config.yml
Labels: improved-quickstart

#949 fix: renames netlify qs due to 404 url issue
  quickstarts/netlify/config.yml
Labels: improved-quickstart

#928 Feat: new Datazoom quickstart (partner)
  install/third-party/datazoom/install.yml
  quickstarts/datazoom/config.yml
  quickstarts/datazoom/dashboards/datazoom_dashboard.json
  quickstarts/datazoom/dashboards/datazoom_dashboard01.png
  quickstarts/datazoom/dashboards/datazoom_dashboard02.png
  quickstarts/datazoom/logo.png
Labels: waiting on contributor, new-quickstart

#923 Postman's NewRelic integration
  install/third-party/postman/install.yml
  postman/config.yml
  postman/dashboards/postman-dashboard.json
  postman/dashboards/postman-dashboard.png
  postman/logo.svg
Labels: waiting on contributor, new-quickstart

#922 feat:(Browser segment list dashboard): Added browser segment dashboard
  quickstarts/browser-segment-investigation/config.yml
  quickstarts/browser-segment-investigation/dashboards/browser-segment-investigation.json
  quickstarts/browser-segment-investigation/dashboards/browser-segment-investigation.png
  quickstarts/browser-segment-investigation/images/icon.jpeg
  quickstarts/browser-segment-investigation/logo.png
Labels: waiting on contributor, new-quickstart

#952 feat: Added "about this dashboard" page to the entity breakdown dashboard
  quickstarts/oma-data-gov/dashboards/data-ingest-entity-breakdown.json
Labels: improved-quickstart

#959 fix: changes name to match title for URL consistency
  quickstarts/gigamon/config.yml
Labels: improved-quickstart

#961 fix: corrected the postman integration
  quickstarts/postman/config.yml
  quickstarts/postman/dashboards/postman-dashboard.json
  quickstarts/postman/dashboards/postman-dashboard01.png
  quickstarts/postman/logo.svg
Labels: improved-quickstart

#956 chore:(oma-data-gov) Fixing a few typos found post deploy
  quickstarts/oma-data-gov/dashboards/data-ingest-entity-breakdown.json
Labels: improved-quickstart

#966 fix: changes title for slugification
  quickstarts/gigamon/config.yml
Labels: improved-quickstart

#960 ArgoCD QuickStart #940
  install/pomi/install.yml
  quickstarts/argocd/config.yml
  quickstarts/argocd/dashboards/argocd_dashboard.json
  quickstarts/argocd/dashboards/argocd_dashboard.png
  quickstarts/argocd/images/logo.png
  quickstarts/argocd/logo.png
Labels: in-review, new-quickstart

#962 feat: adds apollo server config
  quickstarts/apollo/apollo-server/config.yml
  quickstarts/apollo/apollo-server/logo.png
Labels: new-quickstart

#967 Netlify Logs update to resolve PR 951
  install/third-party/netlify-builds/install.yml
  install/third-party/netlify-logs/install.yml
  quickstarts/netlify/netlify-builds/alerts/buildfailed-alert.yml
  quickstarts/netlify/netlify-builds/alerts/javascripterrors-alert.yml
  quickstarts/netlify/netlify-builds/alerts/pageloadtime-alert.yml
  quickstarts/netlify/netlify-builds/config.yml
  quickstarts/netlify/netlify-builds/dashboards/netlify-builds.json
  quickstarts/netlify/netlify-builds/dashboards/netlify-builds01.png
  quickstarts/netlify/netlify-builds/dashboards/netlify-builds02.png
  quickstarts/netlify/netlify-builds/dashboards/netlify-builds03.png
  quickstarts/netlify/netlify-builds/dashboards/netlify-builds04.png
  quickstarts/netlify/netlify-builds/dashboards/netlify-builds05.png
  quickstarts/netlify/netlify-builds/dashboards/netlify-builds06.png
  quickstarts/netlify/netlify-builds/logo.png
  quickstarts/netlify/netlify-logs/config.yml
  quickstarts/netlify/netlify-logs/dashboards/netlify-logs.json
  quickstarts/netlify/netlify-logs/dashboards/netlify-logs01.png
  quickstarts/netlify/netlify-logs/dashboards/netlify-logs02.png
  quickstarts/netlify/netlify-logs/logo.png
Labels: new-quickstart

#965 feat: add network-ktranslate-health quickstart
  install/network/ktranslate-health/install.yml
  quickstarts/network-ktranslate-health/config.yml
  quickstarts/network-ktranslate-health/dashboards/network-ktranslate-health.json
  quickstarts/network-ktranslate-health/dashboards/network-ktranslate-health01.jpg
  quickstarts/network-ktranslate-health/dashboards/network-ktranslate-health02.jpg
  quickstarts/network-ktranslate-health/logo.svg
Labels: new-quickstart

#970 Chore: updating several keywords
  quickstarts/circleci/config.yml
  quickstarts/cloudflare/config.yml
  quickstarts/glassbox/config.yml
  quickstarts/netlify/netlify-logs/config.yml
  quickstarts/postman/config.yml
Labels: improved-quickstart

#976 Istio Service Quickstart #917
  quickstarts/istio/alerts/static-alert.yml
  quickstarts/istio/config.yml
  quickstarts/istio/dashboards/istio-dashboard.json
  quickstarts/istio/dashboards/istio-dashboard.png
  quickstarts/istio/logo.png
Labels: in-review, new-quickstart

#977 Video updates
  quickstarts/video/video-web/video-web-akamai/dashboards/akamai.json
  quickstarts/video/video-web/video-web-akamai/dashboards/akamai01.png
  quickstarts/video/video-web/video-web-akamai/dashboards/image.jpg
  quickstarts/video/video-web/video-web-html5/dashboards/html5.json
  quickstarts/video/video-web/video-web-html5/dashboards/html501.png
  quickstarts/video/video-web/video-web-html5/dashboards/image.jpg
  quickstarts/video/video-web/video-web-jwplayer/dashboards/image.jpg
  quickstarts/video/video-web/video-web-jwplayer/dashboards/jwplayer.json
  quickstarts/video/video-web/video-web-jwplayer/dashboards/jwplayer01.png
  quickstarts/video/video-web/video-web-theplatform/dashboards/image.jpg
  quickstarts/video/video-web/video-web-theplatform/dashboards/theplatform.json
  quickstarts/video/video-web/video-web-theplatform/dashboards/theplatform01.png
  quickstarts/video/video-web/video-web-videojs/dashboards/image.jpg
  quickstarts/video/video-web/video-web-videojs/dashboards/videojs.json
  quickstarts/video/video-web/video-web-videojs/dashboards/videojs01.png
Labels: in-review, improved-quickstart

#979 chore: improve postman quickstart
  quickstarts/postman/config.yml
  quickstarts/postman/dashboards/postman-dashboard.json
  quickstarts/postman/dashboards/postman-dashboard01.png
  quickstarts/postman/dashboards/postman-dashboard02.png
Labels: improved-quickstart
