Repository newrelic/newrelic-quickstarts, pull requests merged in 2022-11, with the labels that each got.

#1459 Add New Relic Monitoring for SAP Solutions quickstart package.
  alert-policies/nrm4sap/bsHttpDest.yml
  alert-policies/nrm4sap/bsIdocProc.yml
  alert-policies/nrm4sap/bsJobSlow.yml
  alert-policies/nrm4sap/bsJobWait.yml
  alert-policies/nrm4sap/bsRfcDest.yml
  alert-policies/nrm4sap/bsSysError.yml
  alert-policies/nrm4sap/bsTransaction.yml
  alert-policies/nrm4sap/stCpuUsage.yml
  alert-policies/nrm4sap/stDbAvailability.yml
  alert-policies/nrm4sap/stDbSpace.yml
  alert-policies/nrm4sap/stDialogResp.yml
  alert-policies/nrm4sap/stHostMemory.yml
  alert-policies/nrm4sap/stIdocError.yml
  alert-policies/nrm4sap/stInstanceMem.yml
  alert-policies/nrm4sap/stJobFailed.yml
  alert-policies/nrm4sap/stRfcQue.yml
  alert-policies/nrm4sap/stWorkprocess.yml
  dashboards/nrm4sap-datacollect/sap-data-collection.json
  dashboards/nrm4sap-datacollect/sap-data-collection01.png
  dashboards/nrm4sap-datasize/sap-size-estimate.json
  dashboards/nrm4sap-datasize/sap-size-estimate01.png
  dashboards/nrm4sap/sap-dashboard.json
  dashboards/nrm4sap/sap-dashboard01.png
  dashboards/nrm4sap/sap-dashboard02.png
  quickstarts/nrm4sap/config.yml
  quickstarts/nrm4sap/logo.svg
Labels: waiting on contributor, new-quickstart

#1464 Updated ArgoCD alerts queries.
  alert-policies/argocd/ApplicationDegraded.yml
  alert-policies/argocd/ApplicationOutOfSync.yml
Labels: improved-quickstart

#1471 Infra Template Migration
  dashboards/amazon-athena/amazon-athena.json
  dashboards/amazon-athena/amazon-athena.png
  dashboards/amazon-fsx/amazon-fsx.json
  dashboards/amazon-fsx/amazon-fsx.png
  dashboards/aws-appsync/aws-appsync.json
  dashboards/aws-appsync/aws-appsync.png
  dashboards/aws-elasticbeanstalk/aws-elasticbeanstalk.json
  dashboards/aws-elasticbeanstalk/aws-elasticbeanstalk1.png
  dashboards/aws-elasticbeanstalk/aws-elasticbeanstalk2.png
  dashboards/aws-elasticbeanstalk/aws-elasticbeanstalk3.png
  dashboards/aws-glue/aws-glue.json
  dashboards/aws-glue/aws-glue1.png
  dashboards/aws-glue/aws-glue2.png
  dashboards/aws-glue/aws-glue3.png
  quickstarts/aws/amazon-athena/config.yml
  quickstarts/aws/amazon-fsx/config.yml
  quickstarts/aws/aws-appsync/config.yml
  quickstarts/aws/aws-elastic-beanstalk/config.yml
  quickstarts/aws/aws-glue/config.yml
Labels: waiting on contributor

#1475 Infra AWS Migrated Templates Group 7 (WAF, WAFV2, VPC)
  dashboards/amazon-vpc/amazon-vpc.json
  dashboards/amazon-vpc/amazon-vpc.png
  dashboards/aws-waf/aws-waf.json
  dashboards/aws-waf/aws-waf.png
  dashboards/aws-wafv2/aws-wafv2.json
  dashboards/aws-wafv2/aws-wafv2.png
  quickstarts/aws/aws-vpc/config.yml
  quickstarts/aws/aws-vpc/logo.svg
  quickstarts/aws/aws-waf/config.yml
  quickstarts/aws/aws-waf/logo.svg
Labels: improved-quickstart

#1463 Add Roku Nerdpack setup to Quickstart
  install/third-party/roku-http-analytics/install.yml
  quickstarts/roku/config.yml
Labels: waiting on contributor, improved-quickstart

#1487 Update config.yml for HCP Consul quickstart
  quickstarts/hashicorp/hcp-consul/config.yml
Labels: improved-quickstart

#1455 feat: add coredns remote write quickstart and dashboard
  alert-policies/coredns/coredns-error-rate.yml
  alert-policies/coredns/coredns-panic-rate.yml
  alert-policies/coredns/coredns-panics.yml
  alert-policies/coredns/coredns-request-duration.yml
  alert-policies/coredns/coredns-request-rate.yml
  dashboards/coredns-dashboard/coredns-dashboard.json
  dashboards/coredns-dashboard/coredns-dashboard.png
  dashboards/coredns/coredns-1.jpg
  dashboards/coredns/coredns-2.jpg
  dashboards/coredns/coredns-3.jpg
  dashboards/coredns/coredns-4.jpg
  dashboards/coredns/coredns.json
  quickstarts/coredns/config.yml
  quickstarts/coredns/coredns-logo.png
  quickstarts/kubernetes/coredns/config.yml
  quickstarts/kubernetes/coredns/logo.png
Labels: waiting on contributor, new-quickstart

#1457 Traefik alerts
  alert-policies/traefik/HighHttp400.yml
  alert-policies/traefik/HighHttp500.yml
  alert-policies/traefik/TooManyRequests.yml
  dashboards/traefik/traefik.json
  dashboards/traefik/traefik.png
  quickstarts/traefik/config.yml
Labels: improved-quickstart

#1496 Added "mobile agent" keyword to the mobile dashboard quickstart
  quickstarts/mobile/config.yml
Labels: improved-quickstart

#1498 feat: new qs aws lambda tel.
  dashboards/aws-lambda-telemetry-extension/aws-lambda-telemetry-extension.json
  dashboards/aws-lambda-telemetry-extension/aws-lambda-telemetry-extension01.png
  dashboards/aws-lambda-telemetry-extension/aws-lambda-telemetry-extension02.png
  install/aws/aws-lambda-telemetry-extension/install.yml
  quickstarts/aws/aws-lambda-telemetry-extension/config.yml
  quickstarts/aws/aws-lambda-telemetry-extension/logo.svg
Labels: new-quickstart

#1497 chore: minor changes to gcp cloud spanner
  dashboards/gcp-cloud-spanner/gcp-cloud-spanner.json
  quickstarts/gcp/google-cloud-spanner-otel/config.yml
Labels: improved-quickstart

#1452 NR-41158-Apache Flink Quickstart.
  alert-policies/apache-flink/FailedCheckpoints.yml
  alert-policies/apache-flink/JobManagerHeapMemoryUsage.yml
  alert-policies/apache-flink/ShuffleNettyUsedMemory.yml
  alert-policies/apache-flink/TaskManagerDirectMemoryUsed.yml
  dashboards/apache-flink/apache-flink-1.png
  dashboards/apache-flink/apache-flink-10.png
  dashboards/apache-flink/apache-flink-2.png
  dashboards/apache-flink/apache-flink-3.png
  dashboards/apache-flink/apache-flink-4.png
  dashboards/apache-flink/apache-flink-5.png
  dashboards/apache-flink/apache-flink-6.png
  dashboards/apache-flink/apache-flink-7.png
  dashboards/apache-flink/apache-flink-8.png
  dashboards/apache-flink/apache-flink-9.png
  dashboards/apache-flink/dashboard.json
  install/apache-flink/install.yml
  quickstarts/apache-flink/config.yml
  quickstarts/apache-flink/logo.png
Labels: waiting on contributor, new-quickstart, I/O Community Team

#1509 NR-66837-Updated new logo for the Gearman quickstart.
  quickstarts/python/gearman/config.yml
  quickstarts/python/gearman/logo.png
  quickstarts/python/gearman/logo.svg
Labels: improved-quickstart

#1510 NR-66842-Updated new logo for the Inet-oracle-driver quickstart.
  quickstarts/oracle/inet-oracle-driver/config.yml
  quickstarts/oracle/inet-oracle-driver/logo.png
  quickstarts/oracle/inet-oracle-driver/logo.svg
Labels: improved-quickstart

#1512 NR-66839-Updated new logo for the AMQPlib quickstart.
  quickstarts/python/amqplib/config.yml
  quickstarts/python/amqplib/logo.png
  quickstarts/python/amqplib/logo.svg
Labels: improved-quickstart

#1513 NR-66838-Updated new logo for the Authlogic quickstart.
  quickstarts/ruby/authlogic/config.yml
  quickstarts/ruby/authlogic/logo.png
  quickstarts/ruby/authlogic/logo.svg
Labels: improved-quickstart

#1516 Chore: update ADO.net quickstart for content optimizations
  quickstarts/dotnet/ado-dotnet/config.yml
Labels: improved-quickstart

#1524 Update dashboard for nrm4sap quickstart
  dashboards/nrm4sap-datacollect/sap-data-collection.json
  dashboards/nrm4sap/sap-dashboard.json
Labels: waiting on contributor, improved-quickstart

#1503 add prometheus agent mode installplan
  install/prometheus-agent-mode/install.yml
Labels: waiting on contributor

#1534 Cockroach DB Dashboard Variables and enhancements.
  dashboards/cockroach-db/cockroach-db-1.png
  dashboards/cockroach-db/cockroach-db-2.png
  dashboards/cockroach-db/cockroach-db-3.png
  dashboards/cockroach-db/cockroach-db.json
  quickstarts/cockroach-db/config.yml
Labels: improved-quickstart

#1526 NGINX-Ingress-controller - Variables: QuickStart Enhancement
  dashboards/nginx-ingress/nginx-ingress.json
  dashboards/nginx-ingress/nginx-ingress.png
  quickstarts/kubernetes/nginx/config.yml
  quickstarts/kubernetes/nginx/logo.png
Labels: waiting on contributor, improved-quickstart

#1525 Calico - Adding dashboard vars and updating queries accordingly
  dashboards/calico/calico.json
  quickstarts/calico/config.yml
Labels: waiting on contributor, improved-quickstart

#1518 Updated pre-existing version of REDIS Quickstart Dashboard and Config.yml for variables
  dashboards/redis-prometheus/redis-prometheus.json
  dashboards/redis-prometheus/redis01.png
  quickstarts/redis-prometheus/config.yml
Labels: waiting on contributor, improved-quickstart

#1505 Updates to etcd quickstart
  dashboards/etcd/dashboard.png
  dashboards/etcd/etcd-dashboard-1.jpg
  dashboards/etcd/etcd-dashboard-2.jpg
  dashboards/etcd/etcd.json
  quickstarts/etcd/config.yml
Labels: improved-quickstart

#1506 Update coredns quickstart
  dashboards/coredns/coredns-1.jpg
  dashboards/coredns/coredns-2.jpg
  dashboards/coredns/coredns-3.jpg
  dashboards/coredns/coredns-4.jpg
  dashboards/coredns/coredns-dashboard-1.jpg
  dashboards/coredns/coredns-dashboard-2.jpg
  dashboards/coredns/coredns-dashboard-3.jpg
  dashboards/coredns/coredns-dashboard-4.jpg
  dashboards/coredns/coredns.json
  quickstarts/coredns/config.yml
Labels: improved-quickstart

#1542 update etcd quickstart title
  quickstarts/etcd/config.yml
Labels: improved-quickstart

#1433 NR-55461 Add Prometheus Agent quickstart
  dashboards/prometheus-agent/prometheus-agent.json
  dashboards/prometheus-agent/prometheus-agent.png
  quickstarts/prometheus-agent/config.yml
  quickstarts/prometheus-agent/logo.svg
Labels: stale, new-quickstart

#1543 update coredns quickstart title
  quickstarts/coredns/config.yml
Labels: improved-quickstart

#1539 feat: adding consul datasource
  data-sources/hcp-consul/config.yml
  data-sources/hcp-consul/logo.svg
  quickstarts/hashicorp/hcp-consul/config.yml
Labels: new-quickstart

#1442 Kubernetes Prometheus Quickstart
  CONTRIBUTING.md
  dashboards/kubernetes-prometheus-compute-resources/kubernetes-prometheus-compute-resources.json
  dashboards/kubernetes-prometheus-compute-resources/kubernetes-prometheus-compute-resources01.png
  dashboards/kubernetes-prometheus-compute-resources/kubernetes-prometheus-compute-resources02.png
  dashboards/kubernetes-prometheus-compute-resources/kubernetes-prometheus-compute-resources03.png
  dashboards/kubernetes-prometheus-compute-resources/kubernetes-prometheus-compute-resources04.png
  dashboards/kubernetes-prometheus-kubelet/kubernetes-prometheus-kubelet.json
  dashboards/kubernetes-prometheus-kubelet/kubernetes-prometheus-kubelet01.png
  dashboards/kubernetes-prometheus-kubelet/kubernetes-prometheus-kubelet02.png
  dashboards/kubernetes-prometheus-kubelet/kubernetes-prometheus-kubelet03.png
  dashboards/kubernetes-prometheus-kubelet/kubernetes-prometheus-kubelet04.png
  quickstarts/kubernetes-prometheus/config.yml
  quickstarts/kubernetes-prometheus/logo.svg
Labels: new-quickstart
