Repository newrelic/newrelic-quickstarts, pull requests merged in 2022-07, with the labels that each got.

#1276 Hashicorp hcp consul
  dashboards/hashicorp-hcp-consul/hashicorp-hcp-consul.json
  dashboards/hashicorp-hcp-consul/hashicorp-hcp-consul01.png
  dashboards/hashicorp-hcp-consul/hashicorp-hcp-consul02.png
  install/third-party/hashicorp-hcp-consul/install.yml
  quickstarts/hashicorp/hcp-consul/config.yml
Labels: improved-quickstart

#1277 Trigger deployment of ASP .NET MVC
  quickstarts/dotnet/asp-dotnet-mvc/config.yml
Labels: improved-quickstart

#1273 feat(pack): Added Azure API Management quickstart
  dashboards/azure-api-management/azure-api-management.json
  dashboards/azure-api-management/azure-api-management.png
  quickstarts/azure/azure-api-management/config.yml
Labels: waiting on contributor, improved-quickstart

#1281 chore: add akamai data source
  data-sources/akamai/config.yml
  data-sources/akamai/logo.png
Labels: new-quickstart

#1248 WIP : NR-23895 : Battlesnake-Missing data sources
  quickstarts/battlesnake/config.yml
Labels: stale

#1280 Created DBmarlin quickstart.
  dashboards/dbmarlin/dbmarlin-dashboard.json
  dashboards/dbmarlin/dbmarlin-dashboard01.png
  install/third-party/dbmarlin/install.yml
  quickstarts/dbmarlin/config.yml
  quickstarts/dbmarlin/logo.svg
Labels: waiting on contributor, new-quickstart

#1289 chore: minor update dbmarlin
  data-sources/dbmarlin/config.yml
  data-sources/dbmarlin/logo.svg
  quickstarts/dbmarlin/config.yml
Labels: new-quickstart

#1294 Update categories and related quickstarts
  quickstarts/atlassian/atlassian-jira/config.yml
  quickstarts/atlassian/bitbucket/config.yml
  quickstarts/audit/network-data-ingest-and-cardinality-analysis/config.yml
  quickstarts/circleci/config.yml
  quickstarts/cloudflare/config.yml
  quickstarts/cribl-logstream/config.yml
  quickstarts/databricks/config.yml
  quickstarts/datastream2-akamai/config.yml
  quickstarts/datazoom/config.yml
  quickstarts/dbmarlin/config.yml
  quickstarts/deeper-network/config.yml
  quickstarts/delphix/config.yml
  quickstarts/fastly/config.yml
  quickstarts/full-story/config.yml
  quickstarts/gigamon/config.yml
  quickstarts/glassbox/config.yml
  quickstarts/java/mule-esb/config.yml
  quickstarts/jira-errors/config.yml
  quickstarts/kentik/config.yml
  quickstarts/lacework/config.yml
  quickstarts/mlops/algorithmia/config.yml
  quickstarts/mlops/aporia/config.yml
  quickstarts/mlops/comet/config.yml
  quickstarts/mlops/dagshub/config.yml
  quickstarts/mlops/mona/config.yml
  quickstarts/mlops/superwise/config.yml
  quickstarts/mlops/truera/config.yml
  quickstarts/netlify/netlify-builds/config.yml
  quickstarts/netlify/netlify-logs/config.yml
  quickstarts/network-monitoring/ciscoHardware/config.yml
  quickstarts/network-monitoring/network-flow-devices/config.yml
  quickstarts/network-monitoring/network-ktranslate-health/config.yml
  quickstarts/network-monitoring/network-routers-and-switches/config.yml
  quickstarts/network-monitoring/network-syslog/config.yml
  quickstarts/node-exporter/config.yml
  quickstarts/postman/config.yml
  quickstarts/redisenterprise/config.yml
  quickstarts/releaseiq/config.yml
  quickstarts/speedscale/config.yml
  quickstarts/trendmicro-cloudone-conformity/config.yml
  quickstarts/wayscript/config.yml
  quickstarts/zebrium/config.yml
  utils/instant-observability-categories.ts
Labels: improved-quickstart

#1291 NR-34609: update most popular quickstarts list
  quickstarts/apache/config.yml
  quickstarts/php/laravel/config.yml
  quickstarts/python/django/config.yml
  quickstarts/ruby/ruby/config.yml
  quickstarts/wordpress/config.yml
Labels: improved-quickstart

#1297 NR-34609: Add tomcat to most popular list
  quickstarts/java/tomcat/config.yml
Labels: improved-quickstart

#1302 Move docs for salesforce to dedicated repository
  quickstarts/salesforce-eventlog-for-logs/config.yml
  quickstarts/salesforce-eventlog-for-logs/sfdc_security.md
Labels: improved-quickstart
