Repository newrelic/newrelic-quickstarts, pull requests merged in 2022-02, with the labels that each got.

#782 Manually generate UUID
  .github/workflows/release.yml
  quickstarts/codestream/teams-cs/config.yml
Labels: improved-quickstart

#781 chore: update Lacework logo
  quickstarts/lacework/logo.svg
Labels: improved-quickstart

#780 feat([oma-data-gov]): Added [data-ingest-baseline]
  quickstarts/oma-data-gov/config.yml
  quickstarts/oma-data-gov/dashboards/data-ingest-baseline.json
  quickstarts/oma-data-gov/dashboards/data-ingest-baseline.png
  quickstarts/oma-data-gov/logo.png
Labels: waiting on contributor, new-quickstart

#788 feat(pack): Updated EC2 quickstart
  quickstarts/aws/aws-ec2/alerts/HighCpuUtil.yml
  quickstarts/aws/aws-ec2/config.yml
  quickstarts/aws/aws-ec2/dashboards/aws-ec2.json
  quickstarts/aws/aws-ec2/dashboards/aws-ec2.png
  quickstarts/aws/aws-ec2/dashboards/ec2.json
  quickstarts/aws/aws-ec2/dashboards/ec2.png
Labels: waiting on contributor, new-quickstart

#784 feat(contentsquare): Added a quickstart for Contentsquare
  quickstarts/contentsquare/config.yml
  quickstarts/contentsquare/logo.png
Labels: waiting on contributor, failed check, new-quickstart

#793 Adding dashboard for MSSQL Query Plans
  quickstarts/mssql-queryplan/config.yml
  quickstarts/mssql-queryplan/dashboards/mssql-queryplan.json
  quickstarts/mssql-queryplan/dashboards/mssql-queryplan01.png
  quickstarts/mssql-queryplan/dashboards/mssql-queryplan02.png
  quickstarts/mssql-queryplan/logo.svg
Labels: waiting on contributor, new-quickstart

#798 Add netlify quickstart
  install/third-party/netlify/install.yml
  quickstarts/netlify/alerts/buildfailed-alert.yml
  quickstarts/netlify/alerts/javascripterrors-alert.yml
  quickstarts/netlify/alerts/pageloadtime-alert.yml
  quickstarts/netlify/config.yml
  quickstarts/netlify/dashboards/netlify.json
  quickstarts/netlify/dashboards/netlify01.png
  quickstarts/netlify/dashboards/netlify02.png
  quickstarts/netlify/dashboards/netlify03.png
  quickstarts/netlify/dashboards/netlify04.png
  quickstarts/netlify/dashboards/netlify05.png
  quickstarts/netlify/dashboards/netlify06.png
  quickstarts/netlify/images/netlify-full-logo-dark.png
  quickstarts/netlify/images/netlify-full-logo-light.png
  quickstarts/netlify/logo.png
Labels: new-quickstart

#801 Adding keyword for partner
  quickstarts/jira-errors/config.yml
Labels: improved-quickstart

#800 Adding keyword for partner
  quickstarts/atlassian/atlassian-jira/config.yml
Labels: improved-quickstart

#807 chore: fixes dashboard
  quickstarts/java/mule-esb/config.yml
  quickstarts/java/mule-esb/dashboards/java.json
Labels: improved-quickstart

#795 fix: Add dummy install plan to oma-data-gov
  install/solutions-hub/dashboards/install.yml
  quickstarts/oma-data-gov/config.yml
Labels: waiting on contributor, improved-quickstart

#810 chore: updating the contributor guide
  CONTRIBUTING.md
Labels: documentation

#811 feat(pack): Improved Lambda quickstart
  quickstarts/aws/aws-lambda/alerts/HighAvgResponseTime.yml
  quickstarts/aws/aws-lambda/config.yml
  quickstarts/aws/aws-lambda/dashboards/lambda.json
  quickstarts/aws/aws-lambda/dashboards/lambda.png
Labels: improved-quickstart

#812 Feat: New tabs added to data-ingest-baseline dashboard
  quickstarts/oma-data-gov/dashboards/data-ingest-baseline.json
  quickstarts/oma-data-gov/dashboards/data-ingest-baseline.png
  quickstarts/oma-data-gov/dashboards/data-ingest-entity-breakdown.json
  quickstarts/oma-data-gov/dashboards/data-ingest-entity-breakdown.png
Labels: improved-quickstart

#809 🐍 Battlesnake Quicksssssstart
  install/battlesnake/install.yml
  quickstarts/battlesnake/config.yml
  quickstarts/battlesnake/dashboards/battlesnake-performance.json
  quickstarts/battlesnake/dashboards/battlesnake-performance.png
  quickstarts/battlesnake/dashboards/battlesnake-server-status.json
  quickstarts/battlesnake/dashboards/battlesnake-server-status.png
  quickstarts/battlesnake/logo.png
Labels: waiting on contributor, new-quickstart

#827 Update React Native quickstart
  quickstarts/react-native/config.yml
Labels: improved-quickstart

#828 Chore: Update AWS Health Quickstart
  quickstarts/aws/aws-health/config.yml
Labels: improved-quickstart

#829 Added DynamoDB
  quickstarts/aws/aws-dynamodb/alerts/HighAvgRequestLatency.yml
  quickstarts/aws/aws-dynamodb/config.yml
  quickstarts/aws/aws-dynamodb/dashboards/dynamodb.json
  quickstarts/aws/aws-dynamodb/dashboards/dynamodb.png
Labels: improved-quickstart

#813 feat: Github Codestream Quickstart
  quickstarts/codestream/github-cs/config.yml
  quickstarts/codestream/github-cs/logo.png
  quickstarts/codestream/slack-cs/config.yml
Labels: in-review, waiting on contributor, new-quickstart

#834 feat: add 30 day sum billboard chart
  quickstarts/oma-data-gov/dashboards/data-ingest-baseline.json
Labels: improved-quickstart

#841 fix: sets community levels updates contributing doc
  CONTRIBUTING.md
  install/on-host-integration/ibm-mq/install.yml
  install/third-party/databricks/install.yml
  install/third-party/trendmicro-cloudone-conformity/install.yml
  quickstarts/grafana/grafana-dashboard-migration/config.yml
  quickstarts/mlops/bring-your-own/config.yml
  quickstarts/netlify/config.yml
Labels: improved-quickstart

#845 feat: Added a quickstart for ReleaseIQ
  install/third-party/releaseiq/install.yml
  quickstarts/releaseiq/config.yml
  quickstarts/releaseiq/dashboard/riq-dashboard.jpg
  quickstarts/releaseiq/dashboard/riq-dashboard.json
  quickstarts/releaseiq/logo.png
Labels: waiting on contributor, new-quickstart

#851 feat(pack): Updated AWS SQS
  quickstarts/aws/aws-sqs/config.yml
  quickstarts/aws/aws-sqs/dashboards/sqs.json
  quickstarts/aws/aws-sqs/dashboards/sqs.png
Labels: improved-quickstart

#852 chore: update NRQL Type or type
  quickstarts/audit/network-data-ingest-and-cardinality-analysis/dashboards/network-data-ingest-and-cardinality.json
Labels: improved-quickstart

#861 fix(util): expand santization for linkedEntityGuids
  utils/sanitize_dashboards.js
Labels: in-review

#850 feat(prometheus): added dashboards for prometheus-remote-write
  quickstarts/prometheus-remote-write/dashboards/prometheus-remote-write-monitoring.json
  quickstarts/prometheus-remote-write/dashboards/prometheus-remote-write-monitoring.png
  quickstarts/prometheus-remote-write/dashboards/prometheus-remote-write-monitoring01.png
Labels: waiting on contributor, improved-quickstart

#840 feat(pack): Updated aws s3
  quickstarts/aws/aws-s3/alerts/HighErrorCount.yml
  quickstarts/aws/aws-s3/config.yml
Labels: waiting on contributor, improved-quickstart

#855 feat(pack): Updated Kinesis Firehose
  quickstarts/aws/aws-kinesis-data-firehose/alerts/HighAvgLatency.yml
  quickstarts/aws/aws-kinesis-data-firehose/config.yml
  quickstarts/aws/aws-kinesis-data-firehose/dashboards/firehose.json
  quickstarts/aws/aws-kinesis-data-firehose/dashboards/firehose.png
Labels: improved-quickstart

#854 feat: Glassbox quickstart
  install/third-party/glassbox/install.yml
  quickstarts/glassbox/config.yml
  quickstarts/glassbox/dashboards/dashboard.json
  quickstarts/glassbox/dashboards/dashboard01.png
  quickstarts/glassbox/logo.png
  quickstarts/releaseiq/config.yml
  quickstarts/releaseiq/dashboards/dashboard.json
  quickstarts/releaseiq/dashboards/dashboard01.jpg
Labels: failed check, new-quickstart

#865 Add Dashboard Name Uniqueness Rule to ReadMe
  CONTRIBUTING.md
Labels: documentation

#848 Validate Quickstart Dashboard Name Uniqueness
  .github/workflows/validate_packs.yml
  utils/__tests__/check_quickstart_uniqueness.test.js
  utils/__tests__/helpers.test.js
  utils/check_dashboard_name_uniqueness.js
  utils/check_quickstart_uniqueness.js
  utils/helpers.js
  utils/package.json
Labels: enhancement
