Repository newrelic/newrelic-quickstarts, pull requests merged in 2022-08, with the labels that each got.

#1306 NR-28873: Replace dataSourceIds with dataSources
  CONTRIBUTING.md
  utils/lib/Quickstart.ts
  utils/mock_files/quickstarts/mock-quickstart-2/config.yml
  utils/types/QuickstartConfig.ts
Labels: code-freeze

#1314 Update description with links and docs page
  quickstarts/jira-errors/config.yml
Labels: waiting on contributor, improved-quickstart

#1305 Improved error handling for quickstart components
  utils/create_validate_pr_quickstarts.ts
  utils/lib/Alert.ts
  utils/lib/Component.ts
  utils/lib/Dashboard.ts
  utils/lib/DataSource.ts
  utils/lib/InstallPlan.ts
  utils/lib/Quickstart.ts
  utils/lib/__tests__/Alert.test.js
  utils/lib/__tests__/Dashboard.test.js
  utils/lib/__tests__/Quickstart.test.js
  utils/mock_files/quickstarts/mock-quickstart-8/config.yml
  utils/mock_files/quickstarts/mock-quickstart-8/logo.png
Labels: code-freeze

#1318 feat(pack): Added AWS Billing quickstart
  dashboards/aws-billing/aws-billing.json
  dashboards/aws-billing/aws-billing.png
  quickstarts/aws/aws-billing/config.yml
Labels: waiting on contributor, new-quickstart

#1321 feat(public-api-performance) - adding quickstart & dashboard for public api performance
  dashboards/public-api-performance/public-api-performance.json
  dashboards/public-api-performance/public-api-performance1.png
  dashboards/public-api-performance/public-api-performance2.png
  install/public-api-performance/install.yml
  quickstarts/public-api-performance/config.yml
  quickstarts/public-api-performance/logo.svg
Labels: new-quickstart

#1323 feat: add cisco ip sla dashboard and alert
  alert-policies/cisco-ip-sla-operations/Cisco IP SLA Operation Status.yml
  dashboards/cisco-ip-sla-operations/cisco-ip-sla-operations.json
  dashboards/cisco-ip-sla-operations/cisco-ip-sla-operations.png
  quickstarts/network-monitoring/cisco-ip-sla-operations/config.yml
  quickstarts/network-monitoring/cisco-ip-sla-operations/logo.svg
Labels: new-quickstart

#1332 feat: add arista switches dashboard quickstart
  dashboards/arista-switches/arista-switches.json
  dashboards/arista-switches/arista-switches1.png
  dashboards/arista-switches/arista-switches2.png
  dashboards/arista-switches/arista-switches3.png
  quickstarts/network-monitoring/arista-switches/config.yml
  quickstarts/network-monitoring/arista-switches/logo.svg
Labels: new-quickstart

#1338 feat: new vercel quickstart
  dashboards/vercel/vercel-logs.json
  dashboards/vercel/vercel-logs01.png
  dashboards/vercel/vercel-logs02.png
  install/third-party/vercel/install.yml
  quickstarts/vercel/config.yml
  quickstarts/vercel/logo.svg
Labels: new-quickstart

#1341 Add keywords for Node.js
  quickstarts/node-js/node-js/config.yml
Labels: improved-quickstart

#1344 fix(LaunchDarkly): Fixed a minor typo in launchdarkly quickstart
  install/third-party/launchdarkly/install.yml
  quickstarts/launchdarkly/config.yml
Labels: improved-quickstart
