Repository newrelic/newrelic-quickstarts, pull requests merged in 2022-06, with the labels that each got.

#1132 NR-20560 Added install plans for chef
  install/third-party/chef/install.yml
  quickstarts/observability-as-code/chef/config.yml
Labels: improved-quickstart

#1133 chore(Amazon EKS on AWS Fargate): Added install plans
  install/third-party/amazon-eks-on-aws-fargate/install.yml
  quickstarts/aws/amazon-eks-on-aws-fargate/config.yml
Labels: improved-quickstart

#1134 chore(sagemaker): Added install plans
  install/third-party/sagemaker/install.yml
  quickstarts/mlops/sagemaker/config.yml
Labels: improved-quickstart

#1135 chore(apigee api): Added install plans
  install/third-party/apigee-api/install.yml
  quickstarts/gcp/apigee-api/config.yml
Labels: improved-quickstart

#1137 chore(AWS-FireLens-plugin-for-Logs): Added install plans for AWS FireLens plugin for Logs
  install/third-party/aws-firelens-plugin-for-logs/install.yml
  quickstarts/aws/aws-firelens-plugin-for-logs/config.yml
Labels: improved-quickstart

#1138 chore(AWS-Cloudwatch-plugin-for-Logs): Added install plans for AWS Cloudwatch plugin for Logs
  install/third-party/aws-cloudwatch-plugin-for-logs/install.yml
  quickstarts/aws/aws-cloudwatch-plugin-for-logs/config.yml
Labels: improved-quickstart

#1139 refactor(Atlassian-jira-for-errors-inbox): Added install plans for Atlassian jira for errors inbox
  install/third-party/jira-errors/install.yml
  quickstarts/jira-errors/config.yml
Labels: improved-quickstart

#1140 Added install plans to Google Publisher Tags
  install/third-party/ads-web-gpt/install.yml
  quickstarts/ads/web/ads-web-gpt/config.yml
Labels: improved-quickstart

#1158 Added install plans for CollectD
  install/third-party/collectd/install.yml
  quickstarts/collectd/config.yml
Labels: improved-quickstart

#1141 Added install plans for Agent for Prebid
  install/third-party/ads-web-prebid/install.yml
  quickstarts/ads/web/ads-web-prebid/config.yml
Labels: improved-quickstart

#1159 Added install plans for Video agent for iOS and tvOS
  install/third-party/video-ios-tvos/install.yml
  quickstarts/video/video-ios-tvos/config.yml
Labels: improved-quickstart

#1169 NR-20913: integration of github for codestream
  install/third-party/codestream/github-cs/install.yml
  quickstarts/codestream/github-cs/config.yml
Labels: improved-quickstart

#1168 NR-20913: integration of full-story
  install/third-party/full-story/install.yml
  quickstarts/full-story/config.yml
Labels: improved-quickstart

#1167 NR-20913: integration of fluentd-plugin-for-logs
  install/third-party/fluentd-plugin-for-logs/install.yml
  quickstarts/fluentd-plugin-for-logs/config.yml
Labels: improved-quickstart

#1166 NR-20913: integration of fluent-bit-plugin-for-logs
  install/third-party/fluent-bit-plugin-for-logs/install.yml
  quickstarts/fluent-bit-plugin-for-logs/config.yml
Labels: improved-quickstart

#1165 NR-20913: integration of F5
  install/third-party/f5/install.yml
  quickstarts/f5/config.yml
Labels: improved-quickstart

#1163 chore/NR-14659-replace-java-logos-to-duke
  quickstarts/java/adobe-cq/logo.svg
  quickstarts/java/asynchttpclient/logo.svg
  quickstarts/java/generic-jdbc/logo.svg
  quickstarts/java/java/config.yml
  quickstarts/java/java/logo.svg
  quickstarts/java/jdbc-executebatch/logo.svg
  quickstarts/java/jms/logo.svg
  quickstarts/java/jsp/logo.svg
  quickstarts/java/oc4j/logo.svg
  quickstarts/jmx/logo.svg
Labels: improved-quickstart

#1160 refactor(Lighthouse): Added install plans for lighthouse
  install/third-party/lighthouse/install.yml
  quickstarts/lighthouse/config.yml
Labels: improved-quickstart

#1157 refactor(Event-API): Added install plans for event API
  install/third-party/event-api/install.yml
  quickstarts/apis/event/config.yml
Labels: improved-quickstart

#1156 refactor(Dropwizard): Added install plans for dropwizard
  install/third-party/dropwizard/install.yml
  quickstarts/dropwizard/config.yml
Labels: improved-quickstart

#1153 refactor(Docker): Added install plans for docker
  install/third-party/docker/install.yml
  quickstarts/docker/config.yml
Labels: improved-quickstart

#1152 refactor/NR-20915:xamarin
  install/third-party/xamarin/install.yml
  quickstarts/xamarin/config.yml
Labels: improved-quickstart

#1150 refactor(Cordova): Added install plans for cordova
  install/third-party/cordova/install.yml
  quickstarts/cordova/config.yml
Labels: improved-quickstart

#1149 Added install plans for CloudFormation custom Resource
  install/third-party/newrelic-alert-cloudformation-resource/install.yml
  quickstarts/aws/newrelic-alert-cloudformation-resource/config.yaml
Labels: improved-quickstart

#1147 refactor/NR-20915:xMatters
  install/third-party/xMatters/install.yml
  quickstarts/xmatters/config.yml
Labels: improved-quickstart

#1146 refactor/NR-20915:zipkin
  install/third-party/zipkin/install.yml
  quickstarts/zipkin/config.yml
Labels: improved-quickstart

#1144 Added install plans for Catchpoint
  install/third-party/catchpoint/install.yml
  quickstarts/catchpoint/config.yml
Labels: improved-quickstart

#1143 Added install plans for Build your own ML Integration
  install/third-party/bring-your-own/install.yml
  quickstarts/mlops/bring-your-own/config.yml
Labels: improved-quickstart

#1142 update_apm_logs_dashboard
  quickstarts/apm-logs/dashboards/apm-log-monitoring/APM-Logs-Monitoring.json
  quickstarts/apm-logs/dashboards/apm-log-monitoring/APM-Logs-Monitoring.png
Labels: improved-quickstart

#1186 Added install plans for Synthetics User Flow check
  install/third-party/user-flow/install.yml
  quickstarts/synthetics/user-flow/config.yml
Labels: improved-quickstart

#1182 Added install plans for Unix
  install/third-party/unix/install.yml
  quickstarts/unix/config.yml
Labels: improved-quickstart

#1198 Added install plans for Customer Experience Quality Foundation
  install/third-party/oma-qf/install.yml
  quickstarts/oma-qf/config.yml
Labels: improved-quickstart

#1190 Added install plans for Alert Quality Management
  install/third-party/oma-aqm/install.yml
  quickstarts/oma-aqm/config.yml
Labels: improved-quickstart

#1196 Added install plans for Customer Experience Bottom of the funnel analysis
  install/third-party/oma-bofu/install.yml
  quickstarts/oma-bofu/config.yml
Labels: improved-quickstart

#1199 NR-21303: integration of Roku
  install/third-party/roku/install.yml
  quickstarts/roku/config.yml
Labels: improved-quickstart

#1200 NR-21303: integration of Red Hat OpenShift
  install/third-party/redhat/red-hat-openshift/install.yml
  quickstarts/redhat/red-hat-openshift/config.yml
Labels: improved-quickstart

#1181 Added Installplans for victorops
  install/third-party/victorops/install.yml
  quickstarts/victorops/config.yml
Labels: improved-quickstart

#1148 refactor(Contentsquare): Added install plans for contentsquare
  install/third-party/Contentsquare/install.yml
  quickstarts/contentsquare/config.yml
Labels: waiting on contributor, improved-quickstart

#1154 refactor/NR-20915: vmware-tanzu
  install/third-party/vmware-tanzu/install.yml
  quickstarts/vmware/vmware-tanzu/config.yml
Labels: improved-quickstart

#1155 refactor/NR-20915: vmware-esxi
  install/third-party/vmware-esxi/install.yml
  quickstarts/vmware/vmware-esxi/config.yml
Labels: waiting on contributor, improved-quickstart

#1171 refactor(Legacy-snmp): Added install plans for legacy snmp
  install/third-party/snmp/install.yml
  quickstarts/snmp/config.yml
Labels: improved-quickstart

#1172 refactor(Kamon): Added install plans for kamon
  install/third-party/kamon/install.yml
  quickstarts/kamon/config.yml
Labels: improved-quickstart

#1174 refactor(Grafana-prometheus-integration): Added install plans for grafana prometheus integration
  install/third-party/grafana-prometheus-integration/install.yml
  quickstarts/grafana/grafana-prometheus-integration/config.yml
Labels: improved-quickstart

#1177 refactor(Micrometer): Added install plans for micrometer
  install/third-party/micrometer/install.yml
  quickstarts/micrometer/config.yml
Labels: improved-quickstart

#1178 refactor(OKHTTP): Added install plans for okhttp
  install/third-party/okhttp/install.yml
  quickstarts/okhttp/config.yml
Labels: improved-quickstart

#1179 refactor(OpenCensus): Added install plans for opencensus
  install/third-party/opencensus/install.yml
  quickstarts/opencensus/config.yml
Labels: improved-quickstart

#1180 refactor(Newrelic-audits): Added install plans for new relic audits
  install/third-party/audit-events-analysis/install.yml
  quickstarts/audit/audit-events-analysis/config.yaml
Labels: improved-quickstart

#1183 refactor/NR-21302:Synthetics SSL Certification check
  install/third-party/synthetics-ssl-certification-check/install.yml
  quickstarts/synthetics/ssl-certification-check/config.yml
Labels: improved-quickstart

#1185 Added install plans for Synthetics User Step Execution
  install/third-party/user-step-execution/install.yml
  quickstarts/synthetics/user-step-execution/config.yml
Labels: improved-quickstart

#1222 Added install plans for New Relic CLI
  install/third-party/cli/install.yml
  quickstarts/observability-as-code/cli/config.yml
Labels: improved-quickstart

#1218 Added install plans for LaunchDarkly
  install/third-party/launchdarkly/install.yml
  quickstarts/launchdarkly/config.yml
Labels: improved-quickstart

#1213 Added install plans for Grafana Dashboard Migration
  install/third-party/grafana-dashboard-migration/install.yml
  quickstarts/grafana/grafana-dashboard-migration/config.yml
Labels: improved-quickstart

#1210 Added install plans for Port monitoring
  install/third-party/port-monitoring/install.yml
  quickstarts/port-monitoring/config.yml
Labels: improved-quickstart

#1208 Added install plans for PerfMon
  install/third-party/perfmon/install.yml
  quickstarts/perfmon/config.yml
Labels: improved-quickstart

#1206 NR-21303: integration of React Native
  install/third-party/react-native/install.yml
  quickstarts/react-native/config.yml
Labels: improved-quickstart

#1212 Added install plans for Google Cloud Pub/Sub Java Agent Extension
  install/third-party/gcp-pubsub/install.yml
  quickstarts/java/gcp-pubsub/config.yml
Labels: improved-quickstart

#1188 refactor/NR-21302: synthetics-page-link-crawler
  install/third-party/synthetics-page-link-crawler/install.yml
  quickstarts/synthetics/page-link-crawler/config.yml
Labels: improved-quickstart

#1214 Added install plans for JDBC-ExecuteBatch Java Agent Extension
  install/third-party/jdbc-executebatch/install.yml
  quickstarts/java/jdbc-executebatch/config.yml
Labels: improved-quickstart

#1187 refactor/NR-21302: synthetics-page-load-performance
  install/third-party/synthetics-page-load-performance/install.yml
  quickstarts/synthetics/page-load-performance/config.yml
Labels: improved-quickstart

#1191 refactor/NR-21302: synthetics-availability
  install/third-party/synthetics-availability/install.yml
  quickstarts/synthetics/availability/config.yml
Labels: improved-quickstart

#1192 Added install plans for Browser Segment Investigation Quickstart
  install/third-party/browser-segment-investigation/install.yml
  quickstarts/browser-segment-investigation/config.yml
Labels: improved-quickstart

#1193 refactor/NR-21302:terraform
  install/third-party/terraform/install.yml
  quickstarts/observability-as-code/terraform/config.yml
Labels: improved-quickstart

#1197 NR-21303: integration of Slack for Codestream
  install/third-party/codestream/slack-cs/install.yml
  quickstarts/codestream/slack-cs/config.yml
Labels: improved-quickstart

#1151 Added install plans for CloudFoundry
  install/third-party/cloudfoundry/install.yml
  quickstarts/cloudfoundry/config.yml
Labels: waiting on contributor, improved-quickstart

#1203 refactor(OpenTelemetry): Added install plans for opentelemetry
  install/third-party/opentelemetry/install.yml
  quickstarts/opentelemetry/config.yml
Labels: improved-quickstart

#1204 refactor(Oracledb): Added install plans for oracle database
  install/third-party/oracle-database/install.yml
  quickstarts/oracle/oracle-database/config.yml
Labels: improved-quickstart

#1205 refactor(PagerDuty): Added install plans for pagerduty
  install/third-party/pagerduty/install.yml
  quickstarts/pagerduty/pagerduty/config.yml
Labels: improved-quickstart

#1207 NR-21303: integration of Puppet
  install/third-party/observability-as-code/puppet/install.yml
  quickstarts/observability-as-code/puppet/config.yml
Labels: improved-quickstart

#1209 NR-21303: integration of Prometheus OpenMetrics Integration
  install/third-party/prometheus-openmetrics/install.yml
  quickstarts/prometheus-openmetrics/config.yml
Labels: improved-quickstart

#1215 refactor(Camel): Added install plans for apache camel java agent extension
  install/third-party/camel/install.yml
  quickstarts/java/camel/config.yml
Labels: improved-quickstart

#1216 refactor(Elasticsearch-query): Added install plans for elasticsearch …
  install/third-party/elasticsearch-query/install.yml
  quickstarts/java/elasticsearch-query/config.yml
Labels: improved-quickstart

#1217 refactor(Video-android): Added install plans for video agent for android
  install/third-party/video-android/install.yml
  quickstarts/video/video-android/config.yml
Labels: improved-quickstart

#1219 refactor(Split): Added install plans for split
  install/third-party/split/install.yml
  quickstarts/split/config.yml
Labels: improved-quickstart

#1220 Added install plans for Microsoft SQL Server Query Plans
  install/third-party/mssql-queryplan/install.yml
  quickstarts/mssql-queryplan/config.yml
Labels: improved-quickstart

#1221 refactor(SIGNL4): Added install plans for signl4
  install/third-party/signl4/install.yml
  quickstarts/signl4/config.yml
Labels: improved-quickstart

#1223 refactor(Quantum-metric): Added install plans for quantum metric
  install/third-party/quantum-metric/install.yml
  quickstarts/quantum-metric/config.yml
Labels: improved-quickstart

#1136 chore(Blameless): Added install plans for blameless
  install/third-party/blameless/install.yml
  quickstarts/blameless/config.yml
Labels: waiting on contributor, improved-quickstart

#1078 feat: add quickstart synthetics/private-locations
  CONTRIBUTING.md
  install/synthetics/private-locations/install.yml
  quickstarts/synthetics/private-locations/config.yml
  quickstarts/synthetics/private-locations/dashboards/synthetics-private-minions/synthetics-private-minions.json
  quickstarts/synthetics/private-locations/dashboards/synthetics-private-minions/synthetics-private-minions01.png
  quickstarts/synthetics/private-locations/dashboards/synthetics-private-minions/synthetics-private-minions02.png
  quickstarts/synthetics/private-locations/dashboards/synthetics-private-minions/synthetics-private-minions03.png
  quickstarts/synthetics/private-locations/dashboards/synthetics-private-minions/synthetics-private-minions04.png
  quickstarts/synthetics/private-locations/dashboards/synthetics-private-minions/synthetics-private-minions05.png
  quickstarts/synthetics/private-locations/logo.png
Labels: new-quickstart

#1233 changed java logo to duke
  quickstarts/jmx/logo.png
Labels: improved-quickstart

#1234 Azure mariadb
  quickstarts/azure/azure-mariadb/alerts/HighCpuUtil.yaml
  quickstarts/azure/azure-mariadb/alerts/HighMemoryUsage.yaml
  quickstarts/azure/azure-mariadb/config.yml
  quickstarts/azure/azure-mariadb/dashboards/azure-maria-db.json
  quickstarts/azure/azure-mariadb/dashboards/azure-maria-db.png
Labels: improved-quickstart

#1247 Fix moved icons paths
  quickstarts/lamp/dashboards/dashboard/dashboard.json
Labels: waiting on contributor, improved-quickstart

#1239 feat(pack): Added Azure MySQL quickstart
  quickstarts/azure/azure-mysql/alerts/HighCpuUtil.yaml
  quickstarts/azure/azure-mysql/alerts/HighMemoryUsage.yaml
  quickstarts/azure/azure-mysql/config.yml
  quickstarts/azure/azure-mysql/dashboards/azure-mysql/azure-mysql.json
  quickstarts/azure/azure-mysql/dashboards/azure-mysql/azure-mysql.png
Labels: waiting on contributor, improved-quickstart

#1254 chore: update dashboard image
  quickstarts/zebrium/dashboards/zebrium_rcaas/zebrium_rcaas_dashboard01.png
Labels: improved-quickstart

#1240 Delete quickstarts/react-native directory
  quickstarts/react-native/alerts/LowApdexScore.yml
  quickstarts/react-native/alerts/TransactionError.yml
  quickstarts/react-native/config.yml
  quickstarts/react-native/dashboards/react-native/react-native.json
  quickstarts/react-native/dashboards/react-native/react-native.png
  quickstarts/react-native/logo.svg
Labels: waiting on contributor

#1253 feat: Add HashiCorp HCP Consul and Envoy
  .gitignore
  quickstarts/hashicorp/hcp-consul/config.yml
  quickstarts/hashicorp/hcp-consul/logo.svg
  quickstarts/hashicorp/hcp-envoy/config.yml
  quickstarts/hashicorp/hcp-envoy/logo.svg
Labels: new-quickstart

#1265 feat(pack): Added Azure Key Vault quickstart
  dashboards/azure-key-vault/azure-key-vault.json
  dashboards/azure-key-vault/azure-key-vault.png
  quickstarts/azure/azure-key-vault/config.yml
  quickstarts/azure/azure-key-vault/logo.png
Labels: new-quickstart
