Repository newrelic/newrelic-quickstarts, pull requests merged in 2022-04, with the labels that each got.

#993 Add high cardinality information
  quickstarts/prometheus-remote-write/dashboards/prometheus-remote-write-monitoring.json
Labels: improved-quickstart

#990 Docs-based install plans for mobile quickstarts
  install/mobile/android/install.yml
  install/mobile/ios/install.yml
  install/mobile/tvos/install.yml
  quickstarts/android/config.yml
  quickstarts/ios/config.yml
  quickstarts/tvos/config.yml
Labels: waiting on contributor, improved-quickstart

#998 fix(oma-data-gov-quickstart): Fix chart names
  quickstarts/oma-data-gov/dashboards/data-ingest-baseline.json
Labels: improved-quickstart

#997 Name fix for slug
  quickstarts/apis/event/config.yml
  quickstarts/apis/logs/config.yml
  quickstarts/apis/metric/config.yml
  quickstarts/apis/trace/config.yml
  quickstarts/browser-segment-investigation/config.yml
  quickstarts/catchpoint/config.yml
  quickstarts/cloudflare/config.yml
  quickstarts/jumpstart/config.yml
  quickstarts/network-ktranslate-health/config.yml
  utils/package.json
  utils/yarn.lock
Labels: new-quickstart

#1003 Workflow for validating quickstarts (restored)
  .github/workflows/pr-merged.yml
  .github/workflows/release.yml
  .github/workflows/validate_packs.yml
Labels: sp:1

#1004 Syntax error in validate_packs.yml
  .github/workflows/validate_packs.yml
Labels: sp:1

#989 initial commit for coredns quickstart
  install/third-party/coredns/install.yml
  quickstarts/kubernetes/coredns/alerts/coredns-panics.yml
  quickstarts/kubernetes/coredns/config.yml
  quickstarts/kubernetes/coredns/dashboards/coredns-dashboard.json
  quickstarts/kubernetes/coredns/dashboards/coredns-dashboard.png
  quickstarts/kubernetes/coredns/logo.png
Labels: waiting on contributor, new-quickstart

#1007 Add helpful links in description - video and blog post
  quickstarts/postman/config.yml
Labels: improved-quickstart

#1016 CoreDNS Quickstart: fixing dashboard NRQL
  quickstarts/kubernetes/coredns/dashboards/coredns-dashboard.json
Labels: improved-quickstart

#1010 Update coredns-panics.yml
  quickstarts/kubernetes/coredns/alerts/coredns-panics.yml
Labels: improved-quickstart

#1031 Add expirationDuration to coredns alert
  quickstarts/kubernetes/coredns/alerts/coredns-panics.yml
Labels: improved-quickstart

#1029 add yaml validation
  .config/yamllint/config.yml
  .github/workflows/yaml-lint.yml
Labels: new-quickstart

#1032 added install plan for Prometheus Remote Write
  quickstarts/prometheus-remote-write/config.yml
Labels: improved-quickstart

#1034 fix(oma-data-gov): Added missing events to Mobile events chart
  quickstarts/oma-data-gov/dashboards/data-ingest-entity-breakdown/data-ingest-entity-breakdown.json
Labels: improved-quickstart

#1035 improvement: Added alerts
  quickstarts/kubernetes/kubernetes/alerts/HighCpuUtil.yml
  quickstarts/kubernetes/kubernetes/alerts/HighDiskUtilization.yml
  quickstarts/kubernetes/kubernetes/alerts/HighMemoryUsage.yml
  quickstarts/kubernetes/kubernetes/config.yml
Labels: improved-quickstart

#1038 updated visualization to stacked bar
  quickstarts/kubernetes/coredns/dashboards/coredns-dashboard/coredns-dashboard.json
Labels: improved-quickstart

#1045 Alec/nr 837 validation submission
  .github/workflows/pr-merged.yml
  .github/workflows/release.yml
  .github/workflows/reusable.quickstart_submission.yml
  .github/workflows/validate_data_sources.yml
  utils/__tests__/create-validate-data-sources.test.js
  utils/constants.ts
  utils/create-validate-data-sources.ts
  utils/create_validate_pr_quickstarts.ts
  utils/github-api-helpers.ts
  utils/mock_files/mock-data-source-1/config.yml
  utils/newrelic/customEvent.ts
  utils/package.json
  utils/types/DataSourceConfig.ts
  utils/types/DataSourceMutationVariable.ts
Labels: new-quickstart

#1054 fix: k8s dashboard restart chart
  quickstarts/kubernetes/kubernetes/dashboards/kubernetes/kubernetes.json
Labels: improved-quickstart

#1048 Update Azure mysql quickstart
  quickstarts/azure/azure-mysql/config.yml
Labels: improved-quickstart

#1049 Update AWS billing quickstart
  quickstarts/aws/aws-billing/config.yml
Labels: improved-quickstart

#1050 Update azure storage quickstart
  quickstarts/azure/azure-storage/config.yml
Labels: improved-quickstart

#1051 Update AWS trusted advisor quickstart
  quickstarts/aws/aws-trusted-advisor/config.yml
Labels: improved-quickstart

#1041 chore: update lacework logo
  quickstarts/lacework/config.yml
  quickstarts/lacework/logo.jpg
Labels: improved-quickstart

#1052 Add partner data sources
  .gitignore
  data-sources/atlassian-jira/config.yml
  data-sources/atlassian-jira/logo.png
  data-sources/circleci/config.yml
  data-sources/circleci/logo.png
  data-sources/cloudflare/config.yml
  data-sources/cloudflare/logo.png
  data-sources/collectd/config.yml
  data-sources/collectd/logo.svg
  data-sources/contentsquare/config.yml
  data-sources/contentsquare/logo.png
  data-sources/cribl/config.yml
  data-sources/cribl/logo.png
  data-sources/datazoom/config.yml
  data-sources/datazoom/logo.png
  data-sources/deeper-network/config.yml
  data-sources/deeper-network/logo.png
  data-sources/delphix/config.yml
  data-sources/delphix/logo.png
  data-sources/fastly/config.yml
  data-sources/fastly/logo.png
  data-sources/gigamon/config.yml
  data-sources/gigamon/logo.png
  data-sources/glassbox/config.yml
  data-sources/glassbox/logo.png
  data-sources/kentik/config.yml
  data-sources/kentik/logo.png
  data-sources/lacework/config.yml
  data-sources/lacework/logo.svg
  data-sources/mariadb/config.yml
  data-sources/mariadb/logo.svg
  data-sources/mulesoft/config.yml
  data-sources/mulesoft/logo.svg
  data-sources/netlify-builds/config.yml
  data-sources/netlify-builds/logo.png
  data-sources/netlify-logs/config.yml
  data-sources/netlify-logs/logo.png
  data-sources/perfmon/config.yml
  data-sources/perfmon/logo.svg
  data-sources/postman/config.yml
  data-sources/postman/logo.svg
  data-sources/releaseiq/config.yml
  data-sources/releaseiq/logo.png
  data-sources/speedscale/config.yml
  data-sources/speedscale/logo.svg
  data-sources/trendmicro-cloudone-conformity/config.yml
  data-sources/trendmicro-cloudone-conformity/logo.png
  data-sources/unix/config.yml
  data-sources/unix/logo.svg
Labels: new-quickstart

#1057 Add Redis-Prometheus Quickstart
  quickstarts/redis-prometheus/config.yml
  quickstarts/redis-prometheus/dashboards/redis-prometheus.json
  quickstarts/redis-prometheus/dashboards/redis01.png
  quickstarts/redis-prometheus/dashboards/redis02.png
  quickstarts/redis-prometheus/dashboards/redis03.png
  quickstarts/redis-prometheus/logo.png
Labels: new-quickstart

#1062 fix: update golden signals to new install
  quickstarts/golden-signals-web/config.yml
Labels: improved-quickstart

#1058 added salesforce-eventlog-for-logs/dashboards and InstallPlan
  install/third-party/salesforce-eventlog-for-logs/install.yml
  quickstarts/salesforce-eventlog-for-logs/config.yml
  quickstarts/salesforce-eventlog-for-logs/dashboards/sfdc-overview/sfdc-overview-01.png
  quickstarts/salesforce-eventlog-for-logs/dashboards/sfdc-overview/sfdc-overview-02.png
  quickstarts/salesforce-eventlog-for-logs/dashboards/sfdc-overview/sfdc-overview-03.png
  quickstarts/salesforce-eventlog-for-logs/dashboards/sfdc-overview/sfdc-overview-04.png
  quickstarts/salesforce-eventlog-for-logs/dashboards/sfdc-overview/sfdc-overview-05.png
  quickstarts/salesforce-eventlog-for-logs/dashboards/sfdc-overview/sfdc-overview-06.png
  quickstarts/salesforce-eventlog-for-logs/dashboards/sfdc-overview/sfdc-overview-07.png
  quickstarts/salesforce-eventlog-for-logs/dashboards/sfdc-overview/sfdc-overview-08.png
  quickstarts/salesforce-eventlog-for-logs/dashboards/sfdc-overview/sfdc-overview-09.png
  quickstarts/salesforce-eventlog-for-logs/dashboards/sfdc-overview/sfdc-overview-10.png
  quickstarts/salesforce-eventlog-for-logs/dashboards/sfdc-overview/sfdc-overview.json
  quickstarts/salesforce-eventlog-for-logs/dashboards/sfdc_securitry.md
Labels: improved-quickstart

#1060 updated circleci doc file
  install/third-party/circleci/install.yml
  quickstarts/circleci/config.yml
Labels: improved-quickstart
