Repository newrelic/newrelic-quickstarts, pull requests merged in 2023-06, with the labels that each got.

#1815 [Product Partnerships ] Added AWS Chatbot Entity
  alert-policies/aws-chatbot/MessageDeliveryFailure.yml
  dashboards/aws-chatbot/aws-chatbot.json
  dashboards/aws-chatbot/aws-chatbot.png
  data-sources/aws-chatbot/config.yml
  data-sources/aws-chatbot/logo.png
  quickstarts/aws/aws-chatbot/config.yml
  quickstarts/aws/aws-chatbot/logo.png
Labels: new-quickstart

#1819 Flutter-iOS- Updated dashboard about section.
  dashboards/flutter-ios/flutter-ios.json
  dashboards/flutter-ios/flutter-ios01.png
Labels: cxpui

#1820 Flutter-Android- Updated dashboard about section.
  dashboards/flutter-android/flutter-android.json
  dashboards/flutter-android/flutter-android01.png
Labels: cxpui

#1818 Websphere Liberty Profile Improvement
  alert-policies/websphere-liberty-profile/AverageResponseTime.yml
  alert-policies/websphere-liberty-profile/HeapMemoryUsage.yml
  alert-policies/websphere-liberty-profile/HighCpuUtilization.yml
  alert-policies/websphere-liberty-profile/TransactionErrors.yml
  dashboards/websphere-liberty-profile/wlp.json
  dashboards/websphere-liberty-profile/wlp01.png
  dashboards/websphere-liberty-profile/wlp02.png
  dashboards/websphere-liberty-profile/wlp03.png
  dashboards/websphere-liberty-profile/wlp04.png
  dashboards/websphere-liberty-profile/wlp05.png
  dashboards/websphere-liberty-profile/wlp06.png
  quickstarts/java/websphere-liberty-profile/config.yml
  quickstarts/java/websphere-liberty-profile/logo.png
  quickstarts/java/websphere-liberty-profile/logo.svg
Labels: improved-quickstart, cxpui

#1817 NR121819 Lighttpd - update based on testing
  alert-policies/lighttpd/BusyServers.yml
  alert-policies/lighttpd/HighMemoryUsage.yml
  alert-policies/lighttpd/NumberOfRequests.yml
  dashboards/lighttpd/lighttpd.json
  dashboards/lighttpd/lighttpd01.png
  dashboards/lighttpd/lighttpd02.png
  dashboards/lighttpd/lighttpd03.png
  dashboards/lighttpd/lighttpd04.png
  dashboards/lighttpd/lighttpd05.png
  dashboards/lighttpd/lighttpd06.png
  data-sources/lighttpd/config.yml
  quickstarts/lighttpd/config.yml
Labels: improved-quickstart, cxpui

#1812 Updated logo url on dashboard
  dashboards/lampy/lampy.json
Labels: improved-quickstart, cxpui

#1823 Java rmi quickstart
  data-sources/rmi/config.yml
  data-sources/rmi/logo.svg
  quickstarts/java/rmi/config.yml
  quickstarts/java/rmi/logo.svg
Labels: new-quickstart

#1830 Updated Aerospike dashboard about section and logo url
  dashboards/aerospike/aerospike.json
  dashboards/aerospike/aerospike01.png
Labels: cxpui

#1829 [Product Partnerships]Added azure cognitive service and azure bing search quickstarts
  dashboards/azure-bing-search/azure-bing-search.json
  dashboards/azure-bing-search/azure-bing-search.png
  dashboards/azure-cognitive-service/azure-cognitive-service.json
  dashboards/azure-cognitive-service/azure-cognitive-service.png
  quickstarts/azure/azure-bing-search/config.yml
  quickstarts/azure/azure-bing-search/logo.png
  quickstarts/azure/azure-cognitive-service/config.yml
  quickstarts/azure/azure-cognitive-service/logo.png
Labels: new-quickstart

#1826 [Product Partnerships] Added AWS Transcribe Entity
  alert-policies/aws-transcribe/AsyncServerErrorCount.yml
  alert-policies/aws-transcribe/AsyncUserErrorCount.yml
  alert-policies/aws-transcribe/SyncServerErrorCount.yml
  alert-policies/aws-transcribe/SyncUserErrorCount.yml
  dashboards/aws-transcribe/aws-transcribe.json
  dashboards/aws-transcribe/aws-transcribe.png
  data-sources/aws-transcribe/config.yml
  data-sources/aws-transcribe/logo.png
  quickstarts/aws/aws-transcribe/config.yml
  quickstarts/aws/aws-transcribe/logo.png
Labels: new-quickstart

#1816 feat: adding active directory integration
  alert-policies/active-directory/active-directory-replication-failures.yml
  alert-policies/active-directory/active-directory-windows-services.yml
  dashboards/active-directory/active-directory.json
  dashboards/active-directory/active-directory.png
  data-sources/active-directory/config.yml
  data-sources/active-directory/logo.svg
  quickstarts/active-directory/config.yml
  quickstarts/active-directory/logo.svg
Labels: new-quickstart

#1832 [Product Partnerships]Azure revised IO dashboards
  dashboards/azure-automation-account/azure-automation-account.json
  dashboards/azure-automation-account/azure-automation-account.png
  dashboards/azure-cdn-profile/azure-cdn-profile.json
  dashboards/azure-cdn-profile/azure-cdn-profile.png
  dashboards/azure-cloud-services/azure-cloud-services.json
  dashboards/azure-cloud-services/azure-cloud-services.png
  dashboards/azure-cognitive-search/azure-cognitive-search.json
  dashboards/azure-cognitive-search/azure-cognitive-search.png
  dashboards/azure-container-registry/azure-container-registry.png
  dashboards/azure-data-explorer/azure-data-explorer.json
  dashboards/azure-data-explorer/azure-data-explorer.png
  dashboards/azure-data-share/azure-data-share.json
  dashboards/azure-data-share/azure-data-share.png
  dashboards/azure-integration-service-environment/azure-integration-service-environment.json
  dashboards/azure-maps/azure-maps.json
  dashboards/azure-maps/azure-maps.png
  dashboards/azure-media-services-live-events/azure-media-services-live-events.json
  dashboards/azure-media-services-live-events/azure-media-services-live-events.png
  dashboards/azure-media-services-streaming-endpoints/azure-media-services-streaming-endpoints.json
  dashboards/azure-media-services-streaming-endpoints/azure-media-services-streaming-endpoints.png
  dashboards/azure-netapp-files/azure-netapp-files.json
  dashboards/azure-netapp-files/azure-netapp-files.png
  dashboards/azure-network-watcher/azure-network-watcher.json
  dashboards/azure-network-watcher/azure-network-watcher.png
  dashboards/azure-peering/azure-peering.json
  dashboards/azure-stream-analytics/azure-stream-analytics.json
  dashboards/azure-stream-analytics/azure-stream-analytics.png
  dashboards/azure-time-series-insights/azure-time-series-insights.json
  dashboards/azure-time-series-insights/azure-time-series-insights.png
  dashboards/azure-traffic-manager/azure-traffic-manager.json
  dashboards/azure-traffic-manager/azure-traffic-manager.png
  quickstarts/azure/azure-network-interface/config.yml
  quickstarts/azure/azure-network-interface/logo.png
Labels: waiting on contributor, product partnerships

#1822 [Product Partnerships] AWS lex quickstarts added.
  alert-policies/aws-lex/HighRuntimeSystemErrors.yml
  alert-policies/aws-lex/LatencyInResponse.yml
  dashboards/aws-lex/aws-lex.json
  dashboards/aws-lex/aws-lex.png
  data-sources/aws-lex/config.yml
  data-sources/aws-lex/logo.png
  quickstarts/aws/aws-lex/config.yml
  quickstarts/aws/aws-lex/logo.png
Labels: new-quickstart, product partnerships

#1833 feat:Expanding quality foundation to have a retail specific example
  dashboards/om-qf-retail-user-journey/om-qf-retail-user-journey.json
  dashboards/om-qf-retail-user-journey/om-qf-retail-user-journey.png
  quickstarts/oma-qf/config.yml
Labels: improved-quickstart

#1835 [Product Partnerships]Added azure cognitive sub services
  dashboards/azure-anomaly-detector/azure-anomaly-detector.json
  dashboards/azure-anomaly-detector/azure-anomaly-detector.png
  dashboards/azure-computer-vision/azure-computer-vision.json
  dashboards/azure-computer-vision/azure-computer-vision.png
  dashboards/azure-content-moderator/azure-content-moderator.json
  dashboards/azure-content-moderator/azure-content-moderator.png
  dashboards/azure-content-safety/azure-content-safety.json
  dashboards/azure-content-safety/azure-content-safety.png
  dashboards/azure-custom-vision-prediction/azure-custom-vision-prediction.json
  dashboards/azure-custom-vision-prediction/azure-custom-vision-prediction.png
  dashboards/azure-custom-vision-training/azure-custom-vision-training.json
  dashboards/azure-custom-vision-training/azure-custom-vision-training.png
  dashboards/azure-face-api/azure-face-api.json
  dashboards/azure-face-api/azure-face-api.png
  dashboards/azure-form-recognizer/azure-form-recognizer.json
  dashboards/azure-form-recognizer/azure-form-recognizer.png
  dashboards/azure-immersive-reader/azure-immersive-reader.json
  dashboards/azure-immersive-reader/azure-immersive-reader.png
  dashboards/azure-personalizer/azure-personalizer.json
  dashboards/azure-personalizer/azure-personalizer.png
  dashboards/azure-question-answering/azure-question-answering.json
  dashboards/azure-question-answering/azure-question-answering.png
  dashboards/azure-speech/azure-speech.json
  dashboards/azure-speech/azure-speech.png
  dashboards/azure-translator/azure-translator.json
  dashboards/azure-translator/azure-translator.png
  quickstarts/azure/azure-anomaly-detector/config.yml
  quickstarts/azure/azure-anomaly-detector/logo.png
  quickstarts/azure/azure-computer-vision/config.yml
  quickstarts/azure/azure-computer-vision/logo.png
  quickstarts/azure/azure-content-moderator/config.yml
  quickstarts/azure/azure-content-moderator/logo.png
  quickstarts/azure/azure-content-safety/config.yml
  quickstarts/azure/azure-content-safety/logo.png
  quickstarts/azure/azure-custom-vision-prediction/config.yml
  quickstarts/azure/azure-custom-vision-prediction/logo.png
  quickstarts/azure/azure-custom-vision-training/config.yml
  quickstarts/azure/azure-custom-vision-training/logo.png
  quickstarts/azure/azure-face-api/config.yml
  quickstarts/azure/azure-face-api/logo.png
  quickstarts/azure/azure-form-recognizer/config.yml
  quickstarts/azure/azure-form-recognizer/logo.png
  quickstarts/azure/azure-immersive-reader/config.yml
  quickstarts/azure/azure-immersive-reader/logo.png
  quickstarts/azure/azure-personalizer/config.yml
  quickstarts/azure/azure-personalizer/logo.png
  quickstarts/azure/azure-question-answering/config.yml
  quickstarts/azure/azure-question-answering/logo.png
  quickstarts/azure/azure-speech/config.yml
  quickstarts/azure/azure-speech/logo.png
  quickstarts/azure/azure-translator/config.yml
  quickstarts/azure/azure-translator/logo.png
Labels: waiting on contributor, new-quickstart, product partnerships

#1840 Added a Quickstart for BlazeMeter
  alert-policies/blazemeter/Blazemeter90thPercentileLatency.yml
  alert-policies/blazemeter/BlazemeterErrorRate.yml
  dashboards/blazemeter/blazemeter.json
  dashboards/blazemeter/blazemeter.png
  data-sources/blazemeter/config.yml
  data-sources/blazemeter/logo.png
  quickstarts/blazemeter/config.yml
  quickstarts/blazemeter/logo.png
Labels: new-quickstart

#1844 [Product Partnerships] Azure revised quickstarts
  dashboards/azure-application-insights/azure-application-insights.json
  dashboards/azure-application-insights/azure-application-insights.png
  dashboards/azure-dns-zones/azure-dns-zones.json
  dashboards/azure-dns-zones/azure-dns-zones.png
  dashboards/azure-media-services/azure-media-services.json
  dashboards/azure-media-services/azure-media-services.png
  dashboards/azure-private-dns-zones/azure-private-dns-zones.json
  dashboards/azure-private-dns-zones/azure-private-dns-zones.png
  dashboards/azure-purview/azure-purview.json
  dashboards/azure-purview/azure-purview.png
  dashboards/azure-relay/azure-relay.json
  dashboards/azure-relay/azure-relay.png
  dashboards/azure-spring-apps/azure-spring-apps.json
  dashboards/azure-spring-apps/azure-spring-apps.png
  dashboards/azure-storage-sync/azure-storage-sync.json
  dashboards/azure-storage-sync/azure-storage-sync.png
  dashboards/azure-web-apps/azure-web-apps.json
  dashboards/azure-web-apps/azure-web-apps.png
  quickstarts/azure/azure-content-moderator/logo.png
  quickstarts/azure/azure-custom-vision-prediction/logo.png
  quickstarts/azure/azure-custom-vision-training/logo.png
  quickstarts/azure/azure-face-api/logo.png
  quickstarts/azure/azure-immersive-reader/logo.png
  quickstarts/azure/azure-personalizer/logo.png
  quickstarts/azure/azure-question-answering/config.yml
  quickstarts/azure/azure-question-answering/logo.png
  quickstarts/azure/azure-speech/logo.png
  quickstarts/azure/azure-translator/logo.png
Labels: improved-quickstart

#1853 fix(Ansible install): Updated the content
  quickstarts/observability-as-code/ansible/config.yml
Labels: improved-quickstart

#1850 Added Magento Phase-II dashboard screenshots.
  dashboards/magento-business-insights/magentoBI.json
  dashboards/magento-business-insights/magentoBI04.png
  dashboards/magento-business-insights/magentoBI05.png
  dashboards/magento-business-insights/magentoBI06.png
  dashboards/magento-business-insights/magentoBI07.png
  dashboards/magento-business-insights/magentoBI08.png
  dashboards/magento-business-insights/magentoBI09.png
Labels: cxpui

#1845 NR-16919 LAMP screenshot cleanup
  dashboards/lamp/apache.svg
  dashboards/lamp/dashboard.json
  dashboards/lamp/linux.svg
  dashboards/lamp/mysql.svg
  dashboards/lamp/php.svg
  dashboards/lampy/lampy.json
Labels: cxpui

#1847 OpsLevel Quickstart
  quickstarts/opslevel/config.yml
  quickstarts/opslevel/logo.svg
Labels: new-quickstart

#1856 fix(Puppet install): Updated the content
  quickstarts/observability-as-code/puppet/config.yml
Labels: improved-quickstart

#1862 Magento Business Insights - Changed dashboard name and image.
  dashboards/magento-business-insights/magentoBI.json
  dashboards/magento-business-insights/magentoBI01.png
  dashboards/magento-business-insights/magentoBI02.png
  dashboards/magento-business-insights/magentoBI03.png
  dashboards/magento-business-insights/magentoBI05.png
  dashboards/magento-business-insights/magentoBI06.png
  dashboards/magento-business-insights/magentoBI07.png
  dashboards/magento-business-insights/magentoBI08.png
  dashboards/magento-business-insights/magentoBI09.png
  dashboards/magento-business-insights/magentoBI10.png
  dashboards/magento-business-insights/magentoBI11.png
  dashboards/magento-business-insights/magentoBI12.png
Labels: improved-quickstart, cxpui

#1865 NR-128105 Cleanup MEAN datasource
  data-sources/mean/config.yml
  data-sources/mean/logo.png
  quickstarts/mean/config.yml
Labels: improved-quickstart, cxpui

#1866 NR-128108 Cleanup MERN datasource
  data-sources/mern/config.yml
  data-sources/mern/logo.png
  quickstarts/mern/config.yml
Labels: improved-quickstart, cxpui

#1867 NR-123807 Cleanup LAMPy datasource
  data-sources/lampy/config.yml
  data-sources/lampy/logo.png
  quickstarts/lampy/config.yml
Labels: improved-quickstart, cxpui
