Repository newrelic/newrelic-quickstarts, pull requests merged in 2023-04, with the labels that each got.

#1668 added quickstart, datasource and dashboard for windows cert monitoring
  dashboards/windows-certs/Screenshot-1.png
  dashboards/windows-certs/windows-certs-expiration.json
  data-sources/windows-certs/config.yml
  data-sources/windows-certs/logo.png
  quickstarts/windows/windows-certs/config.yml
  quickstarts/windows/windows-certs/logo.png
Labels: new-quickstart

#1734 feat: security lake quickstart
  dashboards/amazon-security-lake-cloudtrail-logs/amazon-security-lake-cloudtrail-logs.json
  dashboards/amazon-security-lake-cloudtrail-logs/amazon-security-lake-cloudtrail-logs01.png
  dashboards/amazon-security-lake-route53-resolver-query-logs/amazon-security-lake-route53-resolver-query-logs.json
  dashboards/amazon-security-lake-route53-resolver-query-logs/amazon-security-lake-route53-resolver-query-logs01.png
  dashboards/amazon-security-lake-security-hub/amazon-security-lake-security-hub.json
  dashboards/amazon-security-lake-security-hub/amazon-security-lake-security-hub01.png
  dashboards/amazon-security-lake-vpc-flowlogs/amazon-security-lake-vpc-flowlogs.json
  dashboards/amazon-security-lake-vpc-flowlogs/amazon-security-lake-vpc-flowlogs01.png
  data-sources/amazon-security-lake/config.yml
  data-sources/amazon-security-lake/logo.svg
  install/aws/aws-security-lake/install.yml
  quickstarts/aws/amazon-security-lake/config.yml
  quickstarts/aws/amazon-security-lake/logo.svg
Labels: new-quickstart, product partnerships

#1736 NR-79113: Note max-length for datasource description field
  CONTRIBUTING.md
Labels: DO_NOT_MERGE

#1737 Azure monitor
  data-sources/azure-monitor/config.yml
  data-sources/azure-monitor/logo.svg
Labels: waiting on contributor, new-datasource, product partnerships

#1727 feat: (Product Partnerships) aws natgateway
  dashboards/amazon-vpc-natgateway/amazon-vpc-natgateway.json
  dashboards/amazon-vpc-natgateway/amazon-vpc-natgateway01.png
  quickstarts/aws/amazon-vpc-nat-gateway/config.yml
  quickstarts/aws/amazon-vpc-nat-gateway/logo.svg
Labels: new-quickstart

#1732 modified: sap-dashboard.json
  dashboards/nrm4sap/sap-dashboard.json
Labels: waiting on contributor

#1567 Chore:update contentsquare quickstart
  quickstarts/contentsquare/config.yml
Labels: waiting on contributor, improved-quickstart

#1661 chore: update nextcloud content
  quickstarts/nextcloud/config.yml
Labels: improved-quickstart

#1742 Adding Dapr quickstart
  dashboards/dapr-metrics/nr-dashboard-dapr-metrics.json
  dashboards/dapr-metrics/nr-dashboard-dapr-metrics.png
  dashboards/dapr-system-services/nr-dashboard-dapr-system-services.json
  dashboards/dapr-system-services/nr-dashboard-dapr-system-services.png
  data-sources/dapr/config.yml
  data-sources/dapr/icon.png
  install/third-party/dapr/install.yml
  quickstarts/dapr/config.yml
  quickstarts/dapr/logo.svg
Labels: new-quickstart

#1748 Small edit to force update
  quickstarts/oma-data-gov/config.yml
Labels: improved-quickstart

#1752 chore: Favor showing openai qs in add data
  data-sources/openai/config.yaml
  quickstarts/openai/config.yaml
Labels: improved-quickstart

#1751 Adding the Mobile Network Performance Dashboard
  dashboards/mobile-network-performance/NetworkPerformance.png
  dashboards/mobile-network-performance/NetworkPerformance2.png
  dashboards/mobile-network-performance/NetworkPerformance3.png
  dashboards/mobile-network-performance/network-performance.json
  data-sources/mobile-network-performance/config.yml
  data-sources/mobile-network-performance/logo.png
  install/mobile-network-performance/install.yml
  quickstarts/mobile-network-performance/config.yml
  quickstarts/mobile-network-performance/logo.png
Labels: waiting on contributor, new-quickstart

#1690 feat: aws va quickstart
  dashboards/aws-verified-access/aws-verified-access.json
  dashboards/aws-verified-access/aws-verified-access.png
  data-sources/amazon-verified-access/config.yml
  data-sources/amazon-verified-access/logo.svg
  install/aws/aws-verified-access/install.yml
  quickstarts/aws/aws-verified-access/config.yml
  quickstarts/aws/aws-verified-access/logo.svg
Labels: new-quickstart, product partnerships

#1754 squid-prometheus quickstart
  dashboards/squid-prometheus/squid.json
  dashboards/squid-prometheus/squid01.png
  dashboards/squid-prometheus/squid02.png
  data-sources/squid-prometheus-integration-docs/config.yml
  data-sources/squid-prometheus-integration-docs/logo.png
  install/on-host-integration/squid/install.yml
  quickstarts/squid-prometheus/config.yml
  quickstarts/squid-prometheus/logo.png
Labels: new-quickstart
