Repository newrelic/newrelic-quickstarts, pull requests merged in 2023-02, with the labels that each got.

#1610 Chore: Update security quickstart descriptions
  quickstarts/aws/aws-security-hub/config.yml
  quickstarts/github/config.yml
  quickstarts/snyk/config.yml
  quickstarts/trivy/config.yml
Labels: improved-quickstart

#1629 Feat/win services bis
  dashboards/winservices/winservices.json
  dashboards/winservices/winservices01.png
  install/on-host-integration/ibm-mq/install.yml
  install/on-host-integration/winservices/install.yml
  quickstarts/ibmmq/config.yml
  quickstarts/winservices/config.yml
  quickstarts/winservices/logo.svg
Labels: new-quickstart

#1626 Redmine IO page text changes
  install/redmine/install.yml
  quickstarts/redmine/config.yml
Labels: improved-quickstart

#1627 Dojo IO page Text changes
  install/dojo/install.yml
  quickstarts/dojo/config.yml
Labels: improved-quickstart

#1622 NR-85996 Updated the Blazor WebAssembly text content changes.
  alert-policies/blazor-webassembly/ApplicationErrorRate.yml
  alert-policies/blazor-webassembly/ClientandServerErrorResponse.yml
  alert-policies/blazor-webassembly/PageLoadTime.yml
  dashboards/blazor-webassembly/blazor-webassembly.json
  dashboards/blazor-webassembly/blazor-webassembly01.png
  dashboards/blazor-webassembly/blazor-webassembly02.png
  dashboards/blazor-webassembly/blazor-webassembly03.png
  dashboards/blazor-webassembly/blazor-webassembly04.png
  dashboards/blazor-webassembly/blazor-webassembly05.png
  dashboards/blazor-webassembly/blazor-webassembly06.png
  dashboards/blazor-webassembly/blazor-webassembly07.png
  install/blazor-webassembly/install.yml
  quickstarts/blazor-web-assembly/config.yml
  quickstarts/blazor-webassembly/config.yml
  quickstarts/blazor-webassembly/logo.png
Labels: waiting on contributor

#1623 NR85999: Nextcloud - Worked on IO page content
  alert-policies/nextcloud/HeapMemoryUsage.yml
  alert-policies/nextcloud/ScrapeErrors.yml
  install/nextcloud/install.yml
  quickstarts/nextcloud/config.yml
Labels: waiting on contributor, improved-quickstart

#1624 NR-86000 Updated Blazor Server text changes.
  alert-policies/blazor-server/TransactionErrors.yml
  dashboards/blazor-server/blazor-server.json
  install/blazor-server/install.yml
  quickstarts/dotnet/blazor-server/config.yml
Labels: waiting on contributor, improved-quickstart

#1632 chore: refreshing mysql dashboard
  dashboards/mysql/mysql.json
  dashboards/mysql/mysql.png
  dashboards/mysql/mysql01.png
  dashboards/mysql/mysql02.png
  quickstarts/mysql/config.yml
Labels: improved-quickstart

#1637 Add new mongodb prometheus
  dashboards/mongodb-prometheus/mongodb.json
  dashboards/mongodb-prometheus/mongodb01.png
  dashboards/mongodb-prometheus/mongodb02.png
  dashboards/mongodb-prometheus/mongodb03.png
  dashboards/mongodb-prometheus/mongodb04.png
  install/on-host-integration/mongodb-prometheus/install.yml
  quickstarts/mongodb-prometheus/config.yml
  quickstarts/mongodb-prometheus/logo.jpeg
Labels: new-quickstart

#1643 Fix mongodb documentation links
  dashboards/mongodb-prometheus/mongodb.json
  quickstarts/mongodb-prometheus/config.yml
Labels: improved-quickstart

#1547 NR-30929 Ansible Automation Controller Quickstart.
  alert-policies/ansible-automation-controller/BatchInsertionsFailed .yml
  alert-policies/ansible-automation-controller/JobsPending.yml
  alert-policies/ansible-automation-controller/LowInstanceMemory.yml
  alert-policies/ansible-automation-controller/TimeSpentSavingEventstoDatabase.yml
  dashboards/ansible-automation-controller/ansible-automation-controller01.png
  dashboards/ansible-automation-controller/ansible-automation-controller02.png
  dashboards/ansible-automation-controller/ansible-automation-controller03.png
  dashboards/ansible-automation-controller/ansible-automation-controller04.png
  dashboards/ansible-automation-controller/ansible-automation-controller05.png
  dashboards/ansible-automation-controller/ansible-automation-controller06.png
  dashboards/ansible-automation-controller/ansible-automation-controller07.png
  dashboards/ansible-automation-controller/dashboard.json
  install/ansible-automation-controller/install.yml
  quickstarts/ansible-automation-controller/config.yml
  quickstarts/ansible-automation-controller/logo.png
Labels: stale, new-quickstart

#1642 Resized the apache flink logo image
  quickstarts/apache-flink/logo.png
Labels: improved-quickstart

#1607 ArgoCD Quickstart update
  alert-policies/argocd/ApplicationDegraded.yml
  alert-policies/argocd/ApplicationOutOfSync.yml
  alert-policies/argocd/ArgoCDAppDegraded_static.yaml
  alert-policies/argocd/ArgoCDAppOutOfSync_static.yaml
  dashboards/argocd-dashboard/argocd_dashboard.json
  dashboards/argocd-dashboard/argocd_dashboard.png
  dashboards/argocd-dashboard/argocd_dashboard_1.jpg
  dashboards/argocd-dashboard/argocd_dashboard_2.jpg
  dashboards/argocd-dashboard/argocd_dashboard_3.jpg
  dashboards/argocd-dashboard/argocd_dashboard_4.jpg
  quickstarts/argocd/config.yml
Labels: waiting on contributor, improved-quickstart

#1599 chore: update Harbor for prometheus growth project
  alert-policies/harbor/harborClientErrorRate.yml
  alert-policies/harbor/harborProjectByteQuotaUtilization.yml
  alert-policies/harbor/harborServerErrorRate.yml
  alert-policies/harbor/harborServiceStatus.yml
  alert-policies/harbor/harborStatus.yml
  dashboards/harbor/harbor.json
  dashboards/harbor/harbor.png
  quickstarts/harbor/config.yml
Labels: improved-quickstart

#1656 chore: update nuxt.js content
  quickstarts/nuxtjs/config.yml
Labels: improved-quickstart

#1657 chore: update redpanda content
  quickstarts/redpanda/config.yml
Labels: improved-quickstart

#1658 chore: update dojo content
  quickstarts/dojo/config.yml
Labels: improved-quickstart

#1659 chore: update blazor server content
  quickstarts/dotnet/blazor-server/config.yml
Labels: improved-quickstart

#1660 chore: update redmine content
  quickstarts/redmine/config.yml
Labels: improved-quickstart
