Repository newrelic/newrelic-quickstarts, pull requests merged in 2023-11, with the labels that each got.

#2124 [Product Partnerships] Added Amazon Database Migration Service
  alert-policies/amazon-database-migration-service/HighCPUUtilization.yml
  alert-policies/amazon-database-migration-service/LowFreeableMemory.yml
  dashboards/amazon-database-migration-service/amazon-database-migration-service.json
  dashboards/amazon-database-migration-service/amazon-database-migration-service01.png
  dashboards/amazon-database-migration-service/amazon-database-migration-service02.png
  quickstarts/aws/amazon-database-migration-service/config.yml
  quickstarts/aws/amazon-database-migration-service/logo.png
Labels: waiting on contributor, new-quickstart, product partnerships, northstar

#2087 Elastic KNN Search new quickstart.
  quickstarts/elastic-knn-search/config.yml
  quickstarts/elastic-knn-search/logo.png
Labels: new-quickstart, cxpui, aimlops

#2136 NR-175396 Template Dashboard Images - Update
  _template/dashboards/example-dashboard/example-dashboard.json
  quickstarts/example-dashboard/example-dashboard.json
Labels: improved-quickstart, cxpui

#2137 [Product Partnerships] Updating Amazon Database Migration Service Dashboard
  dashboards/amazon-database-migration-service/amazon-database-migration-service.json
Labels: new-quickstart, product partnerships, northstar

#2113 feat(apdex-optimizer): Added a quickstart for apdex-optimizer
  dashboards/apdex-optimizer/apdex-optimizer.json
  dashboards/apdex-optimizer/apdex-optimizer.png
  data-sources/apdex-optimizer/config.yml
  data-sources/apdex-optimizer/logo.svg
  quickstarts/apdex-optimizer/config.yml
  quickstarts/apdex-optimizer/logo.svg
Labels: new-quickstart

#2119 Magento-Updated the dashboard
  dashboards/magento-business-insights/magentoBI.json
Labels: cxpui

#2133 NVIDIA DCGM - New AI Quickstart
  alert-policies/nvidia-dcgm/HighTemperature.yml
  alert-policies/nvidia-dcgm/XidError.yml
  dashboards/nvidia-dcgm/nvidia-dcgm.json
  dashboards/nvidia-dcgm/nvidia-dcgm01.png
  data-sources/nvidia-dcgm/config.yml
  data-sources/nvidia-dcgm/logo.png
  quickstarts/nvidia-dcgm/config.yml
  quickstarts/nvidia-dcgm/logo.png
Labels: new-quickstart, Tara, aimlops

#2141 Magento Business Insights-Added host variable and updated the images
  dashboards/magento-business-insights/magentoBI.json
  dashboards/magento-business-insights/magentoBI001.png
  dashboards/magento-business-insights/magentoBI002.png
  dashboards/magento-business-insights/magentoBI003.png
  dashboards/magento-business-insights/magentoBI004.png
  dashboards/magento-business-insights/magentoBI005.png
  dashboards/magento-business-insights/magentoBI006.png
  dashboards/magento-business-insights/magentoBI007.png
  dashboards/magento-business-insights/magentoBI008.png
  dashboards/magento-business-insights/magentoBI009.png
  dashboards/magento-business-insights/magentoBI010.png
  dashboards/magento-business-insights/magentoBI011.png
  dashboards/magento-business-insights/magentoBI012.png
Labels: Tara

#2114 LambdaTest Quickstart
  dashboards/lambdatest/lambdatest-logs.json
  dashboards/lambdatest/lambdatest01.png
  dashboards/lambdatest/lambdatest02.png
  dashboards/lambdatest/lambdatest03.png
  dashboards/lambdatest/lambdatest04.png
  dashboards/lambdatest/logo.png
  data-sources/lambdatest/config.yml
  data-sources/lambdatest/logo.svg
  quickstarts/lambdatest/config.yml
  quickstarts/lambdatest/logo.svg
Labels: new-quickstart, product partnerships

#2142 chore: Lacework TLC
  data-sources/lacework/config.yml
  install/third-party/lacework/install.yml
  quickstarts/lacework/config.yml
Labels: improved-quickstart

#2145 NVIDIA-DCGM: Dashboard updates
  dashboards/nvidia-dcgm/nvidia-dcgm.json
Labels: Tara

#2083 feat(golden-signals-dashboard): Added a golden signals dashboard
  dashboards/golden-signals-dashboard/golden-signals-dashboard-01.png
  dashboards/golden-signals-dashboard/golden-signals-dashboard-02.png
  dashboards/golden-signals-dashboard/golden-signals-dashboard-03.png
  dashboards/golden-signals-dashboard/golden-signals-dashboard-04.png
  dashboards/golden-signals-dashboard/golden-signals-dashboard.json
  quickstarts/golden-signals-dashboard/config.yml
  quickstarts/golden-signals-dashboard/logo.svg
Labels: new-quickstart

#2143 feat: New shopify quickstart
  quickstarts/shopify/config.yml
  quickstarts/shopify/logo.jpg
Labels: new-quickstart
