Repository newrelic/newrelic-quickstarts, pull requests merged in 2023-05, with the labels that each got.

#1756 Small PR to trigger a release of Elixir quickstart
  quickstarts/elixir/config.yml
Labels: improved-quickstart

#1749 Apollo Server quickstart dashboard
  dashboards/apollo-server/apollo-server.json
  dashboards/apollo-server/apollo-server.png
  quickstarts/apollo/apollo-server/config.yml
Labels: improved-quickstart

#1750 Add dashboard to azure virtual machines
  quickstarts/azure/azure-vms/config.yml
Labels: waiting on contributor, improved-quickstart

#1744 Feat: Add vSphere dashboard
  alert-policies/network-routers-and-switches/average-receive-violation.yml
  dashboards/vsphere-summary/Page1.png
  dashboards/vsphere-summary/Page5.png
  dashboards/vsphere-summary/vsphere-summary-dashboard.json
  install/on-host-integration/vsphere/install.yml
  quickstarts/vmware/vmware-vsphere/config.yml
  quickstarts/vmware/vmware-vsphere/logo.svg
Labels: waiting on contributor, new-quickstart

#1753 feat: new GH gates
  quickstarts/gh-gates/config.yml
  quickstarts/gh-gates/logo.svg
Labels: new-quickstart, product partnerships

#1764 feat: Update quickstarts to have data sources
  quickstarts/apm-change-tracking/config.yml
  quickstarts/audit/account-data-ingestion-analysis/config.yml
  quickstarts/audit/infrastructure-integrations-data-analysis/config.yml
  quickstarts/audit/k8s-log-ingestion-analysis/config.yaml
  quickstarts/audit/log-ingestion-analysis/config.yml
  quickstarts/aws/amazon-security-lake/config.yml
  quickstarts/battlesnake/config.yml
  quickstarts/gitlab/config.yml
  quickstarts/hivemq/config.yml
  quickstarts/ibmmq/config.yml
  quickstarts/kubernetes/azure-kubernetes-service/config.yml
  quickstarts/kubernetes/google-kubernetes-engine/config.yml
  quickstarts/mobile-crash-analytics/config.yml
  quickstarts/mobile-network-performance/config.yml
  quickstarts/mobile/config.yml
  quickstarts/sendgrid/config.yml
  quickstarts/squid-prometheus/config.yml
  quickstarts/sybase/config.yml
  quickstarts/synthetics/private-locations/config.yml
  quickstarts/tvos/config.yml
  quickstarts/video/video-android/config.yml
Labels: improved-quickstart

#1636 Feat/Gigamon Application Insights
  dashboards/gigamon-appinsights/gigamon-appinsights.json
  dashboards/gigamon-appinsights/gigamon-appinsights01.png
  dashboards/gigamon-appinsights/gigamon-appinsights02.png
  dashboards/gigamon-appinsights/gigamon-appinsights03.png
  dashboards/gigamon-appinsights/gigamon-appinsights04.png
  dashboards/gigamon-appinsights/gigamon-appinsights05.png
  dashboards/gigamon-appinsights/gigamon-appinsights06.png
  dashboards/gigamon-appinsights/gigamon-appinsights07.png
  dashboards/gigamon-appinsights/gigamon-appinsights08.png
  dashboards/gigamon-appinsights/gigamon-appinsights09.png
  dashboards/gigamon-appinsights/gigamon-appinsights10.png
  data-sources/gigamon-appinsights/config.yml
  data-sources/gigamon-appinsights/logo.png
  install/third-party/gigamon-appinsights/install.yml
  quickstarts/gigamon-appinsights/config.yml
  quickstarts/gigamon-appinsights/gigamon-appint.png
Labels: new-quickstart

#1717 NR-34627: Aerospike- new quickstart
  alert-policies/aerospike/FailedGeneration.yml
  alert-policies/aerospike/HeapEfficiency.yml
  alert-policies/aerospike/PartitionsUnavailable.yml
  alert-policies/aerospike/UpTime.yml
  dashboards/aerospike/aerospike.json
  dashboards/aerospike/aerospike01.png
  dashboards/aerospike/aerospike02.png
  dashboards/aerospike/aerospike03.png
  dashboards/aerospike/aerospike04.png
  data-sources/aerospike/config.yml
  data-sources/aerospike/logo.png
  quickstarts/aerospike/config.yml
  quickstarts/aerospike/logo.png
Labels: new-quickstart, cxpui

#1762 Project NorthStar Azure Cohort 1 IO entities
  dashboards/azure-app-configuration/azure-app-configuration.json
  dashboards/azure-app-configuration/azure-app-configuration.png
  dashboards/azure-app-service-plan/azure-app-service-plan.json
  dashboards/azure-batch/azure-batch.json
  dashboards/azure-batch/azure-batch.png
  dashboards/azure-container-registry/azure-container-registry.json
  dashboards/azure-container-registry/azure-container-registry.png
  dashboards/azure-disk-storage/azure-disk-storage.json
  dashboards/azure-dns-zones/azure-dns-zones.json
  dashboards/azure-event-grid-domains/azure-eventgrid-domains.json
  dashboards/azure-event-grid-partner-namespaces/azure-event-grid-partner-namespaces.json
  dashboards/azure-event-grid-partner-topics/azure-event-grid-partner-topics.json
  dashboards/azure-event-grid-subscriptions/azure-event-grid-subscriptions.json
  dashboards/azure-event-grid-system-topics/azure-event-grid-system-topics.json
  dashboards/azure-event-grid-topics/azure-event-grid-topics.json
  dashboards/azure-iot-central-applications/azure-iot-central-applications.json
  dashboards/azure-maps/azure-maps.json
  dashboards/azure-maps/azure-maps.png
  dashboards/azure-media-services-live-events/azure-media-services-live-events.json
  dashboards/azure-media-services-streaming-endpoints/azure-media-services-streaming-endpoints.json
  dashboards/azure-media-services-video-analyzer/azure-media-services-video-analyzer.json
  dashboards/azure-media-services/azure-media-services.json
  data-sources/azure-monitor/config.yml
  quickstarts/azure/azure-app-configuration/config.yml
  quickstarts/azure/azure-app-configuration/logo.png
  quickstarts/azure/azure-app-service-plan/config.yml
  quickstarts/azure/azure-app-service-plan/logo.png
  quickstarts/azure/azure-batch/config.yml
  quickstarts/azure/azure-batch/logo.png
  quickstarts/azure/azure-container-registry/config.yml
  quickstarts/azure/azure-container-registry/logo.png
  quickstarts/azure/azure-disk-storage/config.yml
  quickstarts/azure/azure-disk-storage/logo.png
  quickstarts/azure/azure-dns-zones/config.yml
  quickstarts/azure/azure-dns-zones/logo.png
  quickstarts/azure/azure-event-grid-domains/config.yml
  quickstarts/azure/azure-event-grid-domains/logo.png
  quickstarts/azure/azure-event-grid-partner-namespaces/config.yml
  quickstarts/azure/azure-event-grid-partner-namespaces/logo.png
  quickstarts/azure/azure-event-grid-partner-topics/config.yml
  quickstarts/azure/azure-event-grid-partner-topics/logo.png
  quickstarts/azure/azure-event-grid-subscriptions/config.yml
  quickstarts/azure/azure-event-grid-subscriptions/logo.png
  quickstarts/azure/azure-event-grid-system-topics/config.yml
  quickstarts/azure/azure-event-grid-system-topics/logo.png
  quickstarts/azure/azure-event-grid-topics/config.yml
  quickstarts/azure/azure-event-grid-topics/logo.png
  quickstarts/azure/azure-iot-central-applications/config.yml
  quickstarts/azure/azure-iot-central-applications/logo.png
  quickstarts/azure/azure-maps/config.yml
  quickstarts/azure/azure-maps/logo.svg
  quickstarts/azure/azure-media-services-live-events/config.yml
  quickstarts/azure/azure-media-services-live-events/logo.png
  quickstarts/azure/azure-media-services-streaming-endpoints/config.yml
  quickstarts/azure/azure-media-services-streaming-endpoints/logo.png
  quickstarts/azure/azure-media-services-video-analyzer/config.yml
  quickstarts/azure/azure-media-services-video-analyzer/logo.png
  quickstarts/azure/azure-media-services/config.yml
  quickstarts/azure/azure-media-services/logo.png
Labels: waiting on contributor, new-quickstart, product partnerships

#1747 add Browser Alerts
  alert-policies/browser/AjaxResponseCodes.yml
  alert-policies/browser/AjaxThroughput.yml
  alert-policies/browser/AjaxTimetoSettle.yml
  alert-policies/browser/FirstInputDelay.yml
  alert-policies/browser/JSErrors.yml
  alert-policies/browser/LargestContentfulPaint.yml
  alert-policies/browser/PageloadTime.yml
  alert-policies/browser/Throughput.yml
  quickstarts/ajax/config.yml
  quickstarts/browser/config.yml
Labels: waiting on contributor

#1755 Ru/mobile updates
  alert-policies/mobile-crash-analytics/HighCrashRate.yml
  alert-policies/mobile-crash-analytics/HighCrashRateByVersion.yml
  alert-policies/mobile-crash-analytics/HighUniqueCrashRate.yml
  alert-policies/mobile/HighHttpErrorRate.yml
  alert-policies/mobile/HighPercentageUsersAffectedByExceptions.yml
  alert-policies/mobile/LowAppLaunchCount.yml
  alert-policies/mobile/SlowNetworkResponse.yml
  dashboards/mobile/Mobile.png
  dashboards/mobile/mobile.json
  quickstarts/mobile-crash-analytics/config.yml
  quickstarts/mobile-crash-analytics/icon.png
  quickstarts/mobile-crash-analytics/logo.png
  quickstarts/mobile/config.yml
Labels: improved-quickstart

#1760 Translate quickstart
  dashboards/aws-translate/aws-translate.json
  dashboards/aws-translate/aws-translate.png
  data-sources/aws-translate/config.yml
  data-sources/aws-translate/logo.png
  quickstarts/aws/aws-translate/config.yml
  quickstarts/aws/aws-translate/logo.png
Labels: new-quickstart, product partnerships

#1761 Textract quickstart
  dashboards/aws-textract/aws-textract.json
  dashboards/aws-textract/aws-textract.png
  data-sources/aws-textract/config.yml
  data-sources/aws-textract/logo.png
  quickstarts/aws/aws-textract/config.yml
  quickstarts/aws/aws-textract/logo.png
Labels: new-quickstart, product partnerships

#1778 Update config.yml
  quickstarts/azure/azure-batch/config.yml
Labels: improved-quickstart

#1779 Project NorthStar Azure - Cohort 1 Quickstart docs fixes
  quickstarts/azure/azure-app-service-plan/config.yml
  quickstarts/azure/azure-disk-storage/config.yml
  quickstarts/azure/azure-event-grid-partner-topics/config.yml
  quickstarts/azure/azure-event-grid-subscriptions/config.yml
Labels: improved-quickstart

#1777 Update GitHub Deployment Protection Rules quickstart
  quickstarts/gh-gates/config.yml
Labels: improved-quickstart

#1781 Project NorthStar Azure Cohort2
  dashboards/azure-netapp-capacity-pool/azure-netapp-capacity-pool.json
  dashboards/azure-netapp-capacity-pool/azure-netapp-capacity-pool.png
  dashboards/azure-netapp-file/azure-netapp-file.json
  dashboards/azure-network-watcher/azure-network-watcher.json
  dashboards/azure-network-watcher/azure-network-watcher.png
  dashboards/azure-notification-hub/azure-notification-hub.json
  dashboards/azure-private-dns-zone/azure-private-dns-zone.json
  dashboards/azure-relay/azure-relay.json
  dashboards/azure-signalr/azure-signalr.json
  dashboards/azure-spring-app/azure-spring-app.json
  dashboards/azure-spring-app/azure-spring-app.png
  dashboards/azure-storage-sync/azure-storage-sync.json
  dashboards/azure-storage-sync/azure-storage-sync.png
  dashboards/azure-traffic-manager/azure-traffic-manager.json
  dashboards/azure-traffic-manager/azure-traffic-manager.png
  dashboards/azure-web-app/azure-web-app.json
  dashboards/azure-web-app/azure-web-app.png
  quickstarts/azure/azure-netapp-capacity-pool/config.yml
  quickstarts/azure/azure-netapp-capacity-pool/logo.png
  quickstarts/azure/azure-netapp-file/config.yml
  quickstarts/azure/azure-netapp-file/logo.png
  quickstarts/azure/azure-network-watcher/config.yml
  quickstarts/azure/azure-network-watcher/logo.png
  quickstarts/azure/azure-notification-hub/config.yml
  quickstarts/azure/azure-notification-hub/logo.png
  quickstarts/azure/azure-private-dns-zone/config.yml
  quickstarts/azure/azure-private-dns-zone/logo.png
  quickstarts/azure/azure-relay/config.yml
  quickstarts/azure/azure-relay/logo.png
  quickstarts/azure/azure-signalr/config.yml
  quickstarts/azure/azure-signalr/logo.png
  quickstarts/azure/azure-spring-app/config.yml
  quickstarts/azure/azure-spring-app/logo.png
  quickstarts/azure/azure-storage-sync/config.yml
  quickstarts/azure/azure-storage-sync/logo.png
  quickstarts/azure/azure-traffic-manager/config.yml
  quickstarts/azure/azure-traffic-manager/logo.png
  quickstarts/azure/azure-web-app/config.yml
  quickstarts/azure/azure-web-app/logo.png
Labels: new-quickstart, product partnerships

#1757 New Relic Quickstarts: azure-datafactories dashboard
  dashboards/azure-datafactories/azure-datafactories-golden-metrics-page.png
  dashboards/azure-datafactories/azure-datafactories-overview-page.png
  dashboards/azure-datafactories/azure-datafactories.json
  quickstarts/azure/azure-datafactories/config.yml
Labels: waiting on contributor, DO_NOT_MERGE, waiting on PM approval

#1772 k6 dashboards
  dashboards/k6/k6.json
  dashboards/k6/k6.png
  data-sources/k6/config.yml
  data-sources/k6/logo.png
  quickstarts/k6/config.yml
  quickstarts/k6/logo.png
Labels: waiting on contributor, new-quickstart

#1731 NR-79710-Flutter iOS quickstart
  alert-policies/flutter-ios/AppCrashPercent.yml
  alert-policies/flutter-ios/ErrorsandFailurePercent.yml
  alert-policies/flutter-ios/HTTPResponseTime.yml
  alert-policies/flutter-ios/UsersAffectedRateDuetoExceptionLocation.yml
  dashboards/flutter-ios/flutter-ios.json
  dashboards/flutter-ios/flutter-ios01.png
  dashboards/flutter-ios/flutter-ios02.png
  dashboards/flutter-ios/flutter-ios03.png
  dashboards/flutter-ios/flutter-ios04.png
  dashboards/flutter-ios/flutter-ios05.png
  dashboards/flutter-ios/flutter-ios06.png
  data-sources/flutter-ios/config.yml
  data-sources/flutter-ios/logo.png
  quickstarts/flutter-ios/config.yml
  quickstarts/flutter-ios/logo.png
Labels: new-quickstart, cxpui

#1738 NR-79703-Flutter Android Quickstart.
  alert-policies/flutter-android/AppCrashPercent.yml
  alert-policies/flutter-android/ErrorsandFailurePercent.yml
  alert-policies/flutter-android/HTTPResponseTime.yml
  alert-policies/flutter-android/UsersAffectedRateDuetoExceptionLocation.yml
  dashboards/flutter-android/flutter-android.json
  dashboards/flutter-android/flutter-android01.png
  dashboards/flutter-android/flutter-android02.png
  dashboards/flutter-android/flutter-android03.png
  dashboards/flutter-android/flutter-android04.png
  dashboards/flutter-android/flutter-android05.png
  dashboards/flutter-android/flutter-android06.png
  data-sources/flutter-android/config.yml
  data-sources/flutter-android/logo.png
  quickstarts/flutter-android/config.yml
  quickstarts/flutter-android/logo.png
Labels: new-quickstart, cxpui

#1741 NR-103234 Magento Business Insights Quickstart
  alert-policies/magento-business-insights/5xxErrors.yml
  alert-policies/magento-business-insights/cpuUsage.yml
  alert-policies/magento-business-insights/downtime.yml
  alert-policies/magento-business-insights/memoryUsage.yml
  dashboards/magento-business-insights/magentoBI.json
  dashboards/magento-business-insights/magentoBI01.png
  dashboards/magento-business-insights/magentoBI02.png
  dashboards/magento-business-insights/magentoBI03.png
  dashboards/magento-business-insights/magentoBI04.png
  dashboards/magento-business-insights/magentoBI05.png
  dashboards/magento-business-insights/magentoBI06.png
  dashboards/magento-business-insights/magentoBI07.png
  dashboards/magento-business-insights/magentoBI08.png
  dashboards/magento-business-insights/magentoBI09.png
  dashboards/magento-business-insights/magentoBI10.png
  dashboards/magento-business-insights/magentoBI11.png
  dashboards/magento-business-insights/magentoBI12.png
  install/magento-busniess-insights/install.yml
  quickstarts/magento-business-insights/config.yml
  quickstarts/magento-business-insights/logo.png
Labels: new-quickstart, cxpui

#1786 Update config.yml of magento business insights
  quickstarts/magento-business-insights/config.yml
Labels: improved-quickstart, cxpui

#1787 added datasource on magento-business-insights
  data-sources/magento-business-insights/config.yml
  data-sources/magento-business-insights/logo.png
Labels: new-quickstart

#1775 NR-109033 Updated datasource description
  data-sources/apache-flink/config.yml
Labels: cxpui

#1785 NR116935 - Updated lighttpd dashboard
  dashboards/lighttpd/lighttpd.json
  dashboards/lighttpd/lighttpd01.png
  dashboards/lighttpd/lighttpd02.png
  dashboards/lighttpd/lighttpd03.png
  dashboards/lighttpd/lighttpd04.png
  dashboards/lighttpd/lighttpd05.png
  dashboards/lighttpd/lighttpd06.png
Labels: improved-quickstart, cxpui

#1776 NR-115132 - Ansible Automation Controller - updated about section on dashboard
  dashboards/ansible-automation-controller/dashboard.json
Labels: cxpui

#1793 Update Azure-based quickstarts that failed to submit previously
  quickstarts/azure/azure-app-service-environment/config.yml
  quickstarts/azure/azure-app-service-plan/config.yml
  quickstarts/azure/azure-application-insights/config.yml
  quickstarts/azure/azure-automation-account/config.yml
  quickstarts/azure/azure-cdn-profile/config.yml
  quickstarts/azure/azure-cloud-services/config.yml
  quickstarts/azure/azure-cognitive-search/config.yml
  quickstarts/azure/azure-data-box-edge/config.yml
  quickstarts/azure/azure-data-explorer/config.yml
  quickstarts/azure/azure-data-lake-analytics/config.yml
  quickstarts/azure/azure-data-lake-storage/config.yml
  quickstarts/azure/azure-data-share/config.yml
  quickstarts/azure/azure-device-provisioning-service/config.yml
  quickstarts/azure/azure-hdinsight/config.yml
  quickstarts/azure/azure-integration-service-environment/config.yml
  quickstarts/azure/azure-iot-hub/config.yml
  quickstarts/azure/azure-netapp-capacity-pools/config.yml
  quickstarts/azure/azure-netapp-files/config.yml
  quickstarts/azure/azure-notification-hubs/config.yml
  quickstarts/azure/azure-peering-service/config.yml
  quickstarts/azure/azure-peering/config.yml
  quickstarts/azure/azure-private-dns-zones/config.yml
  quickstarts/azure/azure-purview/config.yml
  quickstarts/azure/azure-spring-apps/config.yml
  quickstarts/azure/azure-stream-analytics/config.yml
  quickstarts/azure/azure-synapse-analytics/config.yml
  quickstarts/azure/azure-time-series-insights/config.yml
  quickstarts/azure/azure-web-apps/config.yml
Labels: improved-quickstart

#1796 Updated description change
  data-sources/lighttpd/config.yml
  quickstarts/lighttpd/config.yml
Labels: improved-quickstart

#1773 Loadmill dashboards
  dashboards/loadmill/loadmill.jpeg
  dashboards/loadmill/loadmill.json
  quickstarts/loadmill/config.yml
  quickstarts/loadmill/logo.svg
Labels: waiting on contributor, new-quickstart

#1768 NR-112249 - updating MExN dashboard and alerts
  alert-policies/mexn/FirstContentfulPaint.yml
  alert-policies/mexn/FreeMemoryPercent.yml
  alert-policies/mexn/MongoDBUp.yml
  alert-policies/mexn/TransactionErrors.yml
  dashboards/mexn/dashboard.json
  dashboards/mexn/mexn01.png
  dashboards/mexn/mexn02.png
  dashboards/mexn/mexn03.png
  dashboards/mexn/mexn04.png
  dashboards/mexn/mexn05.png
  dashboards/mexn/mexn06.png
  dashboards/mexn/mexn07.png
  dashboards/mexn/mexn08.png
  dashboards/mexn/mexn09.png
  dashboards/mexn/mexn10.png
  data-sources/mean/config.yml
  data-sources/mern/config.yml
  quickstarts/mean/config.yml
  quickstarts/mern/config.yml
Labels: cxpui

#1782 Update sap-dashboard to add new features to work with 2.4.2 release
  dashboards/nrm4sap/sap-dashboard.json
Labels: waiting on contributor

#1802 Updated Dashboard and Alerts
  alert-policies/apache/cpuUsage.yml
  alert-policies/apache/memoryUsage.yml
  alert-policies/apache/processorCount.yml
  alert-policies/apache/requestPerSecond.yml
  dashboards/apache/apache.json
  dashboards/apache/apache01.png
  dashboards/apache/apache02.png
  dashboards/apache/apache03.png
  dashboards/apache/apache04.png
  dashboards/apache/apache05.png
  quickstarts/apache/config.yml
Labels: improved-quickstart

#1803 Updated Text "AIOHTTP"
  quickstarts/python/aiohttp/config.yml
Labels: improved-quickstart

#1801 Polly
  dashboards/aws-polly/aws-polly.json
  dashboards/aws-polly/aws-polly.png
  data-sources/aws-polly/config.yml
  data-sources/aws-polly/logo.png
  quickstarts/aws/aws-polly/config.yml
  quickstarts/aws/aws-polly/logo.png
Labels: new-quickstart

#1805 Updated alertsPolicies in config.yml for Apache HTTPD quickstart
  quickstarts/apache/config.yml
Labels: improved-quickstart, cxpui

#1810 Updated the logo for Magento Business Insights
  quickstarts/magento-business-insights/config.yml
  quickstarts/magento-business-insights/logo.png
  quickstarts/magento-business-insights/logo.svg
Labels: improved-quickstart, cxpui

#1811 feat(jmeter): Added a quickstart for JMeter
  alert-policies/jmeter/JMeter90thPercentileLatency.yml
  alert-policies/jmeter/JmeterErrorRate.yml
  dashboards/jmeter/jmeter.json
  dashboards/jmeter/jmeter.png
  data-sources/jmeter/config.yml
  data-sources/jmeter/logo.png
  quickstarts/jmeter/config.yml
  quickstarts/jmeter/logo.png
Labels: new-quickstart
