Repository newrelic/newrelic-quickstarts, pull requests merged in 2023-10, with the labels that each got.

#2001 NR-147981: Add redis otel quickstart
  alert-policies/redis-otel/HighMemoryUsage.yml
  dashboards/redis-otel/redis-otel.json
  dashboards/redis-otel/redis-otel.png
  data-sources/redis-otel/config.yml
  data-sources/redis-otel/logo.svg
  quickstarts/redis-otel/config.yml
  quickstarts/redis-otel/logo.svg
Labels: new-quickstart, cxpui, awaiting freeze end

#2068 chore: add alerts and dashboard to existing f5 quickstart
  alert-policies/f5/f5-node-offline.yml
  alert-policies/f5/f5-pool-member-offline.yml
  alert-policies/f5/f5-pool-offline.yml
  alert-policies/f5/f5-virtual-server-offline.yml
  dashboards/f5/f5-big-ip.json
  dashboards/f5/f5-big-ip_01.png
  dashboards/f5/f5-big-ip_02.png
  quickstarts/f5/config.yml
Labels: improved-quickstart

#2072 feat: Added Java RMI configuration steps
  data-sources/rmi/config.yml
Labels: awaiting freeze end

#2058 fix(mariadb): Show the mysql config directly
  quickstarts/mariadb/config.yml
Labels: awaiting freeze end

#2027 fix: invalid widget input
  dashboards/github-repo/github_repo_dashboard.json
Labels: awaiting freeze end

#2023 chore(Datasource): Add marketplace IF data source id to Vercel
  data-sources/vercel/config.yml
Labels: datasource-update, awaiting freeze end

#2106 Revert "fix(mariadb): Show the mysql config directly"
  data-sources/mariadb/config.yml
  data-sources/mariadb/logo.svg
  quickstarts/mariadb/config.yml
Labels: improved-quickstart

#1998 Clean-up CloudFoundry data source
  data-sources/cloudfoundry/config.yml
  data-sources/cloudfoundry/logo.svg
  install/third-party/cloudfoundry/install.yml
  quickstarts/cloudfoundry/config.yml
Labels: improved-quickstart, datasource-update

#2097 [Product Partnerships] Added Amazon MediaTailor Entity
  alert-policies/aws-elemental-mediatailor/High4xxErrors.yml
  alert-policies/aws-elemental-mediatailor/High5xxErrors.yml
  alert-policies/aws-elemental-mediatailor/HighAdDecisionServerErrors.yml
  alert-policies/aws-elemental-mediatailor/HighOriginErrors.yml
  dashboards/aws-elemental-mediatailor/aws-elemental-mediatailor.json
  dashboards/aws-elemental-mediatailor/aws-elemental-mediatailor01.png
  dashboards/aws-elemental-mediatailor/aws-elemental-mediatailor02.png
  quickstarts/aws/aws-elemental-mediatailor/config.yml
  quickstarts/aws/aws-elemental-mediatailor/logo.png
Labels: new-quickstart

#2111 chore(Datasource): Add marketplace IF data source id to Netlify logs
  data-sources/netlify-logs/config.yml
Labels: datasource-update

#2098 NR-167414 Sendmail Dashboard Update
  dashboards/sendmail/sendmail.json
Labels: cxpui

#2069 NR-158263 Palm2
  quickstarts/palm-2/config.yml
  quickstarts/palm-2/logo.svg
Labels: new-quickstart, cxpui, aimlops

#2070 NR-158263 MosaicML
  quickstarts/mosaicml/config.yml
  quickstarts/mosaicml/logo.svg
Labels: new-quickstart, cxpui, aimlops

#2074 NR-163684 Redmine Datasource Update
  data-sources/redmine/config.yml
  install/redmine/install.yml
Labels: stale, cxpui, datasource-update

#2077 DocArray new quickstart.
  quickstarts/docarray/config.yml
  quickstarts/docarray/logo.png
Labels: new-quickstart, cxpui, aimlops

#2075 Apache Traffic Server - Update Dashboard
  dashboards/apache-traffic-server/apache-traffic-server.json
Labels: cxpui

#1983 NR-152363: Remove install plan - ActiveMQ
  install/activemq/install.yml
  quickstarts/activemq/config.yml
Labels: cxpui

#1988 NR-152369: DataSource update - NuxtJS
  data-sources/nuxtjs/config.yml
  install/nuxt-js/install.yml
  quickstarts/nuxtjs/config.yml
Labels: improved-quickstart, cxpui, datasource-update

#2108 NR-164067 Clean up - 3 Codestream Quickstarts
  data-sources/github-for-codestream/config.yml
  data-sources/github-for-codestream/logo.png
  data-sources/microsoft-teams-for-codestream/config.yml
  data-sources/microsoft-teams-for-codestream/logo.png
  data-sources/slack-for-codestream/config.yml
  data-sources/slack-for-codestream/logo.png
  install/third-party/codestream/github-cs/install.yml
  install/third-party/codestream/slack-cs/install.yml
  install/third-party/teams-cs/install.yml
  quickstarts/codestream/github-cs/config.yml
  quickstarts/codestream/github-cs/logo.png
  quickstarts/codestream/slack-cs/config.yml
  quickstarts/codestream/slack-cs/logo.png
  quickstarts/codestream/teams-cs/config.yml
  quickstarts/codestream/teams-cs/logo.png
Labels: cxpui

#2079 Hologres Matching Engine Quickstart
  quickstarts/hologres-matching-engine/config.yml
  quickstarts/hologres-matching-engine/logo.png
Labels: new-quickstart, cxpui, aimlops

#2078 AwaDB new quickstart
  quickstarts/awadb/config.yml
  quickstarts/awadb/logo.png
Labels: new-quickstart, cxpui, aimlops

#2104 NR-158323 Zilliz - Wave2 Proprietary
  quickstarts/zilliz/config.yml
  quickstarts/zilliz/logo.svg
Labels: new-quickstart, cxpui, aimlops

#2096 [Product Partnerships] Added Amazon Transfer Family Entity
  alert-policies/amazon-transfer-family/InboundFailedMessage.yml
  alert-policies/amazon-transfer-family/OnPartialUploadExecutionsFailed.yml
  alert-policies/amazon-transfer-family/OnUploadExecutionsFailed.yml
  dashboards/amazon-transfer-family/amazon-transfer-family.json
  dashboards/amazon-transfer-family/amazon-transfer-family.png
  quickstarts/aws/amazon-transfer-family/config.yml
  quickstarts/aws/amazon-transfer-family/logo.png
Labels: new-quickstart, awaiting docs

#2080 Elastic Vector Search new quickstart.
  quickstarts/elastic-vector-search/config.yml
  quickstarts/elastic-vector-search/logo.png
Labels: new-quickstart, cxpui, aimlops

#2085 SKLearn Vector Store Quickstart
  quickstarts/sklearn-vector-store/config.yml
  quickstarts/sklearn-vector-store/logo.png
Labels: stale, new-quickstart, cxpui, aimlops

#2109 [Product Partnerships] Added Amazon Keyspaces Entity
  alert-policies/amazon-keyspaces/HighAccountProvisionedReadCapacityUtilization.yml
  alert-policies/amazon-keyspaces/HighAccountProvisionedWriteCapacityUtilization.yml
  alert-policies/amazon-keyspaces/HighSystemErrors.yml
  alert-policies/amazon-keyspaces/HighUserErrors.yml
  dashboards/amazon-keyspaces/amazon-keyspaces.json
  dashboards/amazon-keyspaces/amazon-keyspaces.png
  quickstarts/aws/amazon-keyspaces/config.yml
  quickstarts/aws/amazon-keyspaces/logo.png
Labels: new-quickstart

#2102 Stripe - Dashboard update
  dashboards/stripe/stripe.json
Labels: cxpui

#2103 Openstack controller - Dashboard updated
  dashboards/openstack-controller/openstack-controller.json
Labels: cxpui

#2120 feat: added gcp spanner dashboard for new metrics
  dashboards/gcp-spanner/gcp-spanner.json
  dashboards/gcp-spanner/gcp-spanner01.png
  dashboards/gcp-spanner/gcp-spanner02.png
  quickstarts/gcp/google-cloud-spanner/config.yml
Labels: improved-quickstart

#2048 Datazoom Updates
  dashboards/datazoom-dashboard/datazoom_dashboard01.jpg
  dashboards/datazoom-dashboard/datazoom_dashboard01.png
  dashboards/datazoom-dashboard/datazoom_dashboard02.jpg
  dashboards/datazoom-dashboard/datazoom_dashboard02.png
  dashboards/datazoom-dashboard/datazoom_dashboard03.jpg
  dashboards/datazoom-dashboard/datazoom_dashboard04.jpg
  quickstarts/datazoom/logo.png
Labels: waiting on contributor, improved-quickstart

#2115 feat: add nvidia gpu monitoring quickstart
  alert-policies/nvidia-gpu/HighMemoryUtilization.yml
  dashboards/nvidia-gpu/nvidia-gpu.json
  dashboards/nvidia-gpu/nvidia-gpu.png
  data-sources/nvidia-gpu/config.yml
  data-sources/nvidia-gpu/logo.png
  quickstarts/nvidia-gpu/config.yml
  quickstarts/nvidia-gpu/logo.png
Labels: new-quickstart

#2117 fix(elastic-vector-search): Updated the documentation name in the config file.
  quickstarts/elastic-vector-search/config.yml
Labels: improved-quickstart

#2105 NR-159530 Jina AI - logo update
  quickstarts/jina-ai/config.yml
  quickstarts/jina-ai/logo.jpeg
  quickstarts/jina-ai/logo.svg
Labels: improved-quickstart, cxpui, aimlops

#2086 Typesense new quickstart
  quickstarts/typesense/config.yml
  quickstarts/typesense/logo.svg
Labels: new-quickstart, cxpui, aimlops

#2088 MongoDB Atlas Vector Search Quickstart
  quickstarts/mongodb-atlas-vector-search/config.yml
  quickstarts/mongodb-atlas-vector-search/logo.svg
Labels: new-quickstart, cxpui, aimlops

#2090 DocArray HnswSearch Quickstart
  quickstarts/docarray-hnswsearch/config.yml
  quickstarts/docarray-hnswsearch/logo.svg
Labels: new-quickstart, cxpui, aimlops

#2091 Vectara Quickstart
  quickstarts/vectara/config.yml
  quickstarts/vectara/logo.svg
Labels: new-quickstart, cxpui, aimlops

#2126 NR-172312 Dojo - Update Datasource
  data-sources/dojo/config.yml
  install/dojo/install.yml
  quickstarts/dojo/config.yml
Labels: improved-quickstart

#2128 Jfrog
  data-sources/jfrog-platform/config.yml
  install/third-party/jfrog-platform/install.yml
  quickstarts/jfrog-platform/config.yml
Labels: improved-quickstart

#2135 feat: shopify data source
  data-sources/shopify/config.yml
  data-sources/shopify/logo.png
Labels: new-quickstart, product partnerships

#2134 MExN-Updated the dashboard
  dashboards/mexn/mexn001.png
  dashboards/mexn/mexn002.png
  dashboards/mexn/mexn003.png
  dashboards/mexn/mexn004.png
  dashboards/mexn/mexn005.png
  dashboards/mexn/mexn006.png
  dashboards/mexn/mexn007.png
  dashboards/mexn/mexn008.png
  dashboards/mexn/mexn009.png
  dashboards/mexn/mexn010.png
Labels: cxpui

#2132 NR-120470: Redpanda Text Change
  quickstarts/redpanda/config.yml
Labels: improved-quickstart, cxpui

#2131 chore: fix logo
  quickstarts/gcp/google-cloud-spanner-otel/config.yml
  quickstarts/gcp/google-cloud-spanner-otel/gcpspanner.png
  quickstarts/gcp/google-cloud-spanner-otel/logo.svg
  quickstarts/gcp/google-cloud-spanner/config.yml
  quickstarts/gcp/google-cloud-spanner/gcpspanner.png
  quickstarts/gcp/google-cloud-spanner/logo.svg
Labels: improved-quickstart

#2130 NR-174260 FlutterWeb - Update Datasource
  data-sources/flutter-web/config.yml
  install/flutter-web/install.yml
  quickstarts/flutter-web/config.yml
Labels: improved-quickstart, cxpui, datasource-update
