Repository newrelic/newrelic-quickstarts, pull requests merged in 2023-09, with the labels that each got.

#2000 Return quickstart keywords as empty array if no keywords are provided
  quickstarts/gatsby-build/config.yml
  utils/__tests__/dashboard-helper.test.js
  utils/lib/Quickstart.ts
  utils/lib/__tests__/Quickstart.test.js
  utils/mock_files/quickstarts/mock-quickstart-11/config.yml
Labels: new-quickstart

#2015 NR-157853 LangChain Vector Database
  alert-policies/langchain-vectordb/APIResponseTime.yml
  alert-policies/langchain-vectordb/ZeroDocumentsRetrieved.yml
  dashboards/langchain-vectordb/langchain-vectordb-01.png
  dashboards/langchain-vectordb/langchain-vectordb-02.png
  dashboards/langchain-vectordb/langchain-vectordb-03.png
  dashboards/langchain-vectordb/langchain-vectordb-04.png
  dashboards/langchain-vectordb/langchain-vectordb-05.png
  dashboards/langchain-vectordb/langchain-vectordb.json
  data-sources/langchain-vectordb/config.yml
  data-sources/langchain-vectordb/logo.png
  quickstarts/langchain-vectordb/config.yml
  quickstarts/langchain-vectordb/logo.png
Labels: new-quickstart, cxpui, aimlops

#2005 LangChain Quickstart
  alert-policies/langchain/error.yml
  alert-policies/langchain/requestsPerModel.yml
  alert-policies/langchain/responseTime.yml
  dashboards/langchain/langchain-01.png
  dashboards/langchain/langchain-02.png
  dashboards/langchain/langchain-03.png
  dashboards/langchain/langchain-04.png
  dashboards/langchain/langchain-05.png
  dashboards/langchain/langchain.json
  data-sources/langchain/config.yml
  data-sources/langchain/logo.png
  quickstarts/mlops/langchain/config.yml
  quickstarts/mlops/langchain/logo.png
Labels: new-quickstart, cxpui, aimlops

#2021 NR-158410 OpenAI observability - Alerts
  alert-policies/llm-application/APIResponseTime.yml
  alert-policies/llm-application/cost.yml
  quickstarts/openai/config.yaml
Labels: cxpui, aimlops

#2028 Build Your Own ML- Updated Alerts
  alert-policies/bring-your-own-data/DataDrift.yml
  alert-policies/bring-your-own-data/ModelDrift.yml
  alert-policies/bring-your-own-data/Predictions.yml
  quickstarts/mlops/bring-your-own/config.yml
Labels: improved-quickstart, cxpui, aimlops

#2044 Nr 158263 - AI I/O Wave 1
  quickstarts/amazon-bedrock/config.yml
  quickstarts/amazon-bedrock/logo.png
  quickstarts/annoy/config.yml
  quickstarts/annoy/logo.png
  quickstarts/azure-openai/config.yml
  quickstarts/azure-openai/logo.svg
  quickstarts/chromadb/config.yml
  quickstarts/chromadb/logo.png
  quickstarts/clickhouse/config.yml
  quickstarts/clickhouse/logo.png
  quickstarts/deeplake/config.yml
  quickstarts/deeplake/logo.png
  quickstarts/faiss/config.yml
  quickstarts/faiss/logo.png
  quickstarts/hugging-face/config.yml
  quickstarts/hugging-face/logo.png
  quickstarts/lancedb/config.yml
  quickstarts/lancedb/logo.png
  quickstarts/marqo/config.yml
  quickstarts/marqo/logo.svg
  quickstarts/meilisearch/config.yml
  quickstarts/meilisearch/logo.png
  quickstarts/milvus/config.yml
  quickstarts/milvus/logo.png
  quickstarts/mlops/google-jax/config.yml
  quickstarts/mlops/google-jax/logo.png
  quickstarts/mlops/keras/config.yml
  quickstarts/mlops/keras/logo.png
  quickstarts/mlops/lightgbm/config.yml
  quickstarts/mlops/lightgbm/logo.png
  quickstarts/mlops/pytorch/config.yml
  quickstarts/mlops/pytorch/logo.png
  quickstarts/mlops/scikit-learn/config.yml
  quickstarts/mlops/scikit-learn/logo.png
  quickstarts/mlops/tensorflow/config.yml
  quickstarts/mlops/tensorflow/logo.png
  quickstarts/mlops/xgboost/config.yml
  quickstarts/mlops/xgboost/logo.png
  quickstarts/pgvector/config.yml
  quickstarts/pgvector/logo.jpeg
  quickstarts/qdrant/config.yml
  quickstarts/qdrant/logo.png
  quickstarts/supabase/config.yml
  quickstarts/supabase/logo.png
  quickstarts/weaviate/config.yml
  quickstarts/weaviate/logo.png
Labels: new-quickstart

#1999 NR-154436-SonarQube improvement quickstart.
  dashboards/sonarqube/sonarqube-01a.png
  dashboards/sonarqube/sonarqube-01b.png
  dashboards/sonarqube/sonarqube-02a.png
  dashboards/sonarqube/sonarqube-02b.png
  dashboards/sonarqube/sonarqube-03a.png
  dashboards/sonarqube/sonarqube-03b.png
  dashboards/sonarqube/sonarqube-04a.png
  dashboards/sonarqube/sonarqube-04b.png
  dashboards/sonarqube/sonarqube-05a.png
  dashboards/sonarqube/sonarqube-05b.png
  dashboards/sonarqube/sonarqube-06b.png
  dashboards/sonarqube/sonarqube-07b.png
  dashboards/sonarqube/sonarqube.json
  quickstarts/sonarqube/config.yml
Labels: improved-quickstart, cxpui

#1990 NR-149661-Apache Traffic Server new quickstart.
  alert-policies/apache-traffic-server/CPUPercent.yml
  alert-policies/apache-traffic-server/FreeCacheRAM.yml
  alert-policies/apache-traffic-server/MemoryUsagePercent.yml
  alert-policies/apache-traffic-server/SSLExpiredCertificate.yml
  dashboards/apache-traffic-server/apache-traffic-server.json
  dashboards/apache-traffic-server/ats-01.png
  dashboards/apache-traffic-server/ats-02.png
  dashboards/apache-traffic-server/ats-03.png
  dashboards/apache-traffic-server/ats-04.png
  dashboards/apache-traffic-server/ats-05.png
  dashboards/apache-traffic-server/ats-06.png
  dashboards/apache-traffic-server/ats-07.png
  dashboards/apache-traffic-server/ats-08.png
  data-sources/apache-traffic-server/config.yml
  data-sources/apache-traffic-server/logo.png
  quickstarts/apache-traffic-server/config.yml
  quickstarts/apache-traffic-server/logo.png
Labels: new-quickstart, cxpui

#1992 NR-143043: Updated Nodejs dashboards and alerts
  alert-policies/node-js/HighCpuUtilization.yml
  alert-policies/node-js/HighMemoryUsage.yml
  alert-policies/node-js/LowApdexScore.yml
  alert-policies/node-js/TransactionErrors.yml
  dashboards/nodejs/node01.png
  dashboards/nodejs/nodejs.json
  dashboards/nodejs/nodejs.png
  dashboards/nodejs/nodejs01a.png
  dashboards/nodejs/nodejs02.png
  dashboards/nodejs/nodejs02a.png
  dashboards/nodejs/nodejs03.png
  dashboards/nodejs/nodejs04.png
  dashboards/nodejs/nodejs05.png
  dashboards/nodejs/nodejs06.png
  dashboards/nodejs/nodejs07.png
Labels: improved-quickstart, cxpui

#2002 [Product Partnerships] Updated Amazon Sagemaker Entity
  dashboards/amazon-sagemaker/amazon-sagemaker.json
  dashboards/amazon-sagemaker/amazon-sagemaker.png
  dashboards/amazon-sagemaker/amazon-sagemaker01.png
  dashboards/amazon-sagemaker/amazon-sagemaker02.png
  dashboards/amazon-sagemaker/amazon-sagemaker03.png
  dashboards/amazon-sagemaker/amazon-sagemaker04.png
  dashboards/amazon-sagemaker/amazon-sagemaker05.png
  dashboards/amazon-sagemaker/amazon-sagemaker06.png
  dashboards/amazon-sagemaker/amazon-sagemaker07.png
Labels: aimlops, northstar

#2053 [Product Partnerships] Added Azure Machine Learning Entity
  alert-policies/azure-machine-learning/Errors.yml
  dashboards/azure-machine-learning/Azure-Machine-Learning.png
  dashboards/azure-machine-learning/Azure-Machine-Learning01.png
  dashboards/azure-machine-learning/Azure-Machine-Learning02.png
  dashboards/azure-machine-learning/Azure-Machine-Learning03.png
  dashboards/azure-machine-learning/Azure-Machine-Learning04.png
  dashboards/azure-machine-learning/azure-machine-learning.json
  quickstarts/azure/azure-machine-learning/config.yml
  quickstarts/azure/azure-machine-learning/logo.png
Labels: new-quickstart, aimlops, northstar

#2014 NR-157445 Clean Up Amazon SageMaker(MLOps)
  install/third-party/sagemaker/install.yml
  quickstarts/mlops/sagemaker/config.yml
  quickstarts/mlops/sagemaker/logo.svg
Labels: cxpui, aimlops

#2051 [Product Partnerships] Updated Amazon Sagemaker Entity
  dashboards/amazon-sagemaker/amazon-sagemaker.json
  dashboards/amazon-sagemaker/amazon-sagemaker01.png
  dashboards/amazon-sagemaker/amazon-sagemaker02.png
  dashboards/amazon-sagemaker/amazon-sagemaker03.png
  dashboards/amazon-sagemaker/amazon-sagemaker04.png
  dashboards/amazon-sagemaker/amazon-sagemaker05.png
  dashboards/amazon-sagemaker/amazon-sagemaker06.png
  dashboards/amazon-sagemaker/amazon-sagemaker07.png
  dashboards/amazon-sagemaker/amazon-sagemaker08.png
Labels: aimlops, northstar

#1981 NR-152019: DataSource update - Apache Flink
  data-sources/apache-flink/config.yml
  install/apache-flink/install.yml
  quickstarts/apache-flink/config.yml
Labels: improved-quickstart, cxpui, datasource-update

#1982 NR-152362: DataSource update - Redpanda
  data-sources/redpanda/config.yml
  install/redpanda/install.yml
  quickstarts/redpanda/config.yml
Labels: improved-quickstart, cxpui, datasource-update

#1985 NR-152364: DataSource update - Snowflake
  data-sources/snowflake/config.yml
  install/snowflake/install.yml
  quickstarts/snowflake/config.yml
Labels: improved-quickstart, cxpui, datasource-update

#1986 NR-152362: DataSource update - Ansible Automation Controller
  data-sources/ansible-automation-controller/config.yml
  install/ansible-automation-controller/install.yml
  quickstarts/ansible-automation-controller/config.yml
Labels: cxpui, datasource-update

#2056 [Product Partnerships] Added New Metrics To Azure Machine Learning
  dashboards/azure-machine-learning/Azure-Machine-Learning.png
  dashboards/azure-machine-learning/Azure-Machine-Learning01.png
  dashboards/azure-machine-learning/Azure-Machine-Learning05.png
  dashboards/azure-machine-learning/Azure-Machine-Learning06.png
  dashboards/azure-machine-learning/azure-machine-learning.json
  quickstarts/azure/azure-machine-learning/config.yml
Labels: northstar, awaiting CAB approval

#2055 [Product Partnerships]Renamed files for Amazon Sagemaker for Drupal to pick images
  dashboards/amazon-sagemaker/amazon-sagemaker001.png
  dashboards/amazon-sagemaker/amazon-sagemaker002.png
  dashboards/amazon-sagemaker/amazon-sagemaker003.png
  dashboards/amazon-sagemaker/amazon-sagemaker004.png
  dashboards/amazon-sagemaker/amazon-sagemaker005.png
  dashboards/amazon-sagemaker/amazon-sagemaker006.png
  dashboards/amazon-sagemaker/amazon-sagemaker007.png
  dashboards/amazon-sagemaker/amazon-sagemaker008.png
Labels: aimlops, northstar, awaiting CAB approval

#2045 NR-158676 SingleStoreDB - AI quickstart
  quickstarts/singlestoredb/config.yml
  quickstarts/singlestoredb/logo.svg
Labels: new-quickstart, cxpui, aimlops, awaiting CAB approval

#2052 NR-158339 Wave2 OpenSource AI Quickstarts
  quickstarts/anyscale/config.yml
  quickstarts/anyscale/logo.svg
  quickstarts/jina-ai/config.yml
  quickstarts/jina-ai/logo.svg
  quickstarts/myscale/config.yml
  quickstarts/myscale/logo.jpeg
  quickstarts/ollama/config.yml
  quickstarts/ollama/logo.png
  quickstarts/openllm/config.yml
  quickstarts/openllm/logo.jpeg
  quickstarts/starrocks/config.yml
  quickstarts/starrocks/logo.png
Labels: new-quickstart, cxpui, aimlops, awaiting CAB approval

#2066 Updated data source definition for postman
  data-sources/postman/config.yml
Labels: datasource-update, awaiting freeze end

#2067 Updated data source definition for deeper-network
  data-sources/deeper-network/config.yml
Labels: datasource-update, awaiting freeze end

#2076 [Product Partnerships] Added Amazon CloudSearch Entity
  alert-policies/amazon-cloudsearch/HighIndexUtilization.yml
  dashboards/amazon-cloudsearch/amazon-cloudsearch.json
  dashboards/amazon-cloudsearch/amazon-cloudsearch.png
  quickstarts/aws/amazon-cloudsearch/config.yml
  quickstarts/aws/amazon-cloudsearch/logo.png
Labels: new-quickstart

#2065 Nr 89185 Vertica
  alert-policies/vertica/DiskUsed.yml
  dashboards/vertica/vertica.json
  dashboards/vertica/vertica01.png
  dashboards/vertica/vertica02.png
  dashboards/vertica/vertica03.png
  dashboards/vertica/vertica04.png
  dashboards/vertica/vertica05.png
  data-sources/vertica/config.yml
  data-sources/vertica/logo.png
  quickstarts/vertica/config.yml
  quickstarts/vertica/logo.png
Labels: new-quickstart, cxpui, freeze-exception

#2016 Openstack Controller- New Quickstart
  alert-policies/openstack-controller/ImageStatus.yml
  alert-policies/openstack-controller/MemoryUsage.yml
  alert-policies/openstack-controller/ServerFreeMemoryLow.yml
  dashboards/openstack-controller/openstack-controller.json
  dashboards/openstack-controller/openstack-controller01.png
  dashboards/openstack-controller/openstack-controller02.png
  dashboards/openstack-controller/openstack-controller03.png
  dashboards/openstack-controller/openstack-controller04.png
  dashboards/openstack-controller/openstack-controller05.png
  dashboards/openstack-controller/openstack-controller06.png
  dashboards/openstack-controller/openstack-controller07.png
  dashboards/openstack-controller/openstack-controller08.png
  data-sources/openstack-controller/config.yml
  data-sources/openstack-controller/logo.png
  quickstarts/openstack-controller/config.yml
  quickstarts/openstack-controller/logo.png
Labels: new-quickstart, cxpui, freeze-exception

#2004 Stripe-New Quickstart
  alert-policies/stripe/clientErrors.yml
  alert-policies/stripe/downtime.yml
  alert-policies/stripe/transactionSuccessRate.yml
  dashboards/stripe/stripe.json
  dashboards/stripe/stripe01.png
  dashboards/stripe/stripe02.png
  dashboards/stripe/stripe03.png
  dashboards/stripe/stripe04.png
  dashboards/stripe/stripe05.png
  data-sources/stripe/config.yml
  data-sources/stripe/logo.png
  quickstarts/stripe/config.yml
  quickstarts/stripe/logo.png
Labels: new-quickstart, cxpui, freeze-exception

#2089 [Product Partnerships] Added New Alert For Azure ML
  alert-policies/azure-machine-learning/ModelDeployFailed.yml
  quickstarts/azure/azure-machine-learning/config.yml
Labels: improved-quickstart

#2061 fix: K8s Node NRQL syntax
  dashboards/kubernetes/kubernetes.json
Labels: awaiting freeze end

#2063 chore: update vsphere quickstart
  alert-policies/vmware-vsphere/cluster-overall-status.yml
  alert-policies/vmware-vsphere/datacenter-overall-status.yml
  alert-policies/vmware-vsphere/datastore-accessible.yml
  alert-policies/vmware-vsphere/datastore-capacity-percent.yml
  alert-policies/vmware-vsphere/datastore-overall-status.yml
  alert-policies/vmware-vsphere/host-connection-state.yml
  alert-policies/vmware-vsphere/host-cpu-percent.yml
  alert-policies/vmware-vsphere/host-memory-percent.yml
  alert-policies/vmware-vsphere/host-overall-status.yml
  alert-policies/vmware-vsphere/resourcepool-cpu-percent.yml
  alert-policies/vmware-vsphere/resourcepool-memory-percent.yml
  alert-policies/vmware-vsphere/resourcepool-overall-status.yml
  alert-policies/vmware-vsphere/vm-overall-status.yml
  dashboards/vmware-vsphere/vmware-vsphere.json
  dashboards/vmware-vsphere/vmware-vsphere_01.png
  dashboards/vmware-vsphere/vmware-vsphere_02.png
  dashboards/vsphere-summary/Page1.png
  dashboards/vsphere-summary/Page5.png
  dashboards/vsphere-summary/vsphere-summary-dashboard.json
  data-sources/vmware-esxi/config.yml
  data-sources/vmware-esxi/logo.svg
  install/third-party/vmware-esxi/install.yml
  quickstarts/vmware/vmware-esxi/config.yml
  quickstarts/vmware/vmware-esxi/logo.svg
  quickstarts/vmware/vmware-vsphere/config.yml
Labels: improved-quickstart, awaiting freeze end

#2071 [Product Partnerships] Added Amazon AppStream Entity
  alert-policies/amazon-appstream/HighCapacityUtilization.yml
  alert-policies/amazon-appstream/HighInsufficientCapacityErrors.yml
  dashboards/amazon-appstream/amazon-appstream.json
  dashboards/amazon-appstream/amazon-appstream.png
  quickstarts/aws/amazon-appstream/config.yml
  quickstarts/aws/amazon-appstream/logo.png
Labels: new-quickstart, awaiting freeze end
