Repository newrelic/newrelic-quickstarts, pull requests merged in 2023-08, with the labels that each got.

#1904 NR146300- sendmail alert query update
  alert-policies/sendmail/HighMemory.yml
Labels: cxpui

#1900 NR146298 : Sendmail - updated dashboard 'About' section
  dashboards/sendmail/sendmail.json
Labels: cxpui

#1907 Updated logo url on mexn dashboard
  dashboards/mexn/dashboard.json
Labels: cxpui

#1887 Updated the Apache Hadoop dashboard and alert.
  alert-policies/apache-hadoop/UsedDiskPercentage.yml
  dashboards/apache-hadoop/apache-hadoop-01.png
  dashboards/apache-hadoop/apache-hadoop.json
Labels: cxpui

#1903 NR147676 - Postfix : updated dashboard 'About' section
  dashboards/postfix/postfix.json
Labels: cxpui

#1882 Updated the SonarQube alerts.
  alert-policies/sonarqube/ActiveDatabaseConnections.yml
  alert-policies/sonarqube/ComputeEngineUp.yml
  alert-policies/sonarqube/ElasticsearchUp.yml
  alert-policies/sonarqube/SonarQubeDowntime.yml
  dashboards/sonarqube/sonarqube-01.png
  dashboards/sonarqube/sonarqube-01a.png
  dashboards/sonarqube/sonarqube-02.png
  dashboards/sonarqube/sonarqube-02a.png
  dashboards/sonarqube/sonarqube-03.png
  dashboards/sonarqube/sonarqube-03a.png
  dashboards/sonarqube/sonarqube-04.png
  dashboards/sonarqube/sonarqube-04a.png
  dashboards/sonarqube/sonarqube-05a.png
  dashboards/sonarqube/sonarqube.json
Labels: cxpui

#1892 Updated zookeeper dashboard changes and screenshot
  dashboards/apache-zooKeeper/apache-zooKeeper01.png
  dashboards/apache-zooKeeper/apache-zooKeeper01b.png
  dashboards/apache-zooKeeper/apache-zooKeeper02.png
  dashboards/apache-zooKeeper/apache-zooKeeper02b.png
  dashboards/apache-zooKeeper/apache-zooKeeper03.png
  dashboards/apache-zooKeeper/apache-zooKeeper03b.png
  dashboards/apache-zooKeeper/apache-zooKeeper04.png
  dashboards/apache-zooKeeper/apache-zooKeeper04b.png
  dashboards/apache-zooKeeper/apache-zooKeeper06.png
  dashboards/apache-zooKeeper/apache-zooKeeper06b.png
  dashboards/apache-zooKeeper/dashboard.json
Labels: cxpui

#1917 NR-149261 cleanup mongodb prometheus
  install/on-host-integration/mongodb-prometheus/install.yml
  quickstarts/mongodb-prometheus/config.yml
Labels: improved-quickstart, cxpui

#1920 Removing AWS from installation framework-Magento Business Insights
  quickstarts/magento-business-insights/config.yml
Labels: improved-quickstart, cxpui

#1921 NR-149341 Remove quickstart newrelic-ingest-metric
  dashboards/newrelic-ingest-metric/newrelic-ingest-metric.json
  dashboards/newrelic-ingest-metric/newrelic-ingest-metric.png
  data-sources/newrelic-ingest-metric/config.yml
  data-sources/newrelic-ingest-metric/logo.svg
  install/third-party/newrelic-ingest-metric/install.yml
  quickstarts/audit/newrelic-ingest-metric/config.yml
  quickstarts/audit/newrelic-ingest-metric/images/ingest-infrahosts.png
  quickstarts/audit/newrelic-ingest-metric/images/ingest-metrics.png
  quickstarts/audit/newrelic-ingest-metric/images/ingest-overview.png
  quickstarts/audit/newrelic-ingest-metric/logo.svg
Labels: cxpui

#1909 Updated data source definition for zipkin
  data-sources/zipkin/config.yml
Labels: datasource-update

#1881 feat: Add dockerstats quickstart (NR-110988)
  alert-policies/docker-otel/CPUUtilization.yml
  alert-policies/docker-otel/MemoryUtilization.yml
  dashboards/docker-otel/docker-otel.json
  dashboards/docker-otel/docker-otel.png
  data-sources/docker-otel/config.yml
  data-sources/docker-otel/logo.svg
  quickstarts/docker-otel/config.yml
  quickstarts/docker-otel/logo.svg
Labels: new-quickstart

#1910 Updated dashboard images-Magento Business Insights
  dashboards/magento-business-insights/magentoBI04a.png
  dashboards/magento-business-insights/magentoBI08a.png
  dashboards/magento-business-insights/magentoBI09a.png
Labels: cxpui

#1922 NR149270 : Postfix - dashboard threshold update
  dashboards/postfix/postfix.json
  dashboards/postfix/postfix01.png
Labels: cxpui, quickstart-dashboard

#1912 Updated data source definition for mongodb-prometheus-integration-docs
  data-sources/mongodb-prometheus-integration-docs/config.yml
Labels: datasource-update

#1927 NR-114334 Atlassian-JIRA Fix-Install-Button
  quickstarts/atlassian/atlassian-jira/config.yml
Labels: improved-quickstart, cxpui

#1913 chore(Datasource): Add marketplace data source to VMware Esxi
  data-sources/vmware-esxi/config.yml
Labels: datasource-update

#1914 chore(Datasource): Add marketplace data source to Slack for codestream
  data-sources/slack-for-codestream/config.yml
Labels: datasource-update

#1915 chore(Datasource): Add marketplace data source to winservices
  data-sources/winservices-integration-docs/config.yml
Labels: datasource-update

#1916 Updated data source definition for port-monitoing
  data-sources/port-monitoring/config.yml
Labels: datasource-update

#1918 Updated data source definition for atlassian-jira
  data-sources/atlassian-jira/config.yml
Labels: improved-quickstart, datasource-update

#1924 [Product Partnerships] Added AWS Workspaces Entity
  alert-policies/amazon-workspaces/ConnectionFailure.yml
  dashboards/amazon-workspaces/amazon-workspaces.json
  dashboards/amazon-workspaces/amazon-workspaces.png
  quickstarts/aws/amazon-workspaces/config.yml
  quickstarts/aws/amazon-workspaces/logo.png
Labels: new-quickstart

#1937 Adding a keyword of snowflake quickstart into a Add Data and Stack page
  quickstarts/snowflake/config.yml
Labels: improved-quickstart

#1940 Adding a keyword of aerospike quickstart into a Add Data and Stack page
  quickstarts/aerospike/config.yml
Labels: improved-quickstart

#1941 Adding a keyword of Redmine quickstart into a Add Data and Stack page
  quickstarts/redmine/config.yml
Labels: improved-quickstart

#1935 chore(Datasource): Add marketplace IF data source id to TvOS
  data-sources/tvos-mobile/config.yml
Labels: datasource-update

#1944 Updated category for redmine quickstart
  quickstarts/redmine/config.yml
Labels: improved-quickstart

#1936 chore(Datasource): Add marketplace IF data source id to AWS cloud watch
  data-sources/amazon-cloudwatch-metric-streams/config.yml
Labels: datasource-update

#1938 chore(Datasource): Add marketplace IF data source id to Redis Enterprise
  data-sources/redis-enterprise/config.yml
Labels: datasource-update

#1939 chore(Datasource): Add marketplace IF data source id to IBM MQ
  data-sources/ibmmq-integration-docs/config.yml
Labels: datasource-update

#1943 Updated keywords for quickstarts
  quickstarts/velero-prometheus/config.yml
  quickstarts/video/video-android/config.yml
  quickstarts/video/video-chromecast/config.yml
  quickstarts/video/video-ios-tvos/config.yml
  quickstarts/video/video-web/video-web-akamai/config.yml
  quickstarts/video/video-web/video-web-html5/config.yml
  quickstarts/video/video-web/video-web-jwplayer/config.yml
  quickstarts/video/video-web/video-web-theplatform/config.yml
  quickstarts/video/video-web/video-web-videojs/config.yml
  quickstarts/vmware/vmware-esxi/config.yml
  quickstarts/windows/windows-certs/config.yml
  quickstarts/windows/windows-desktop/config.yml
  quickstarts/windows/windows-server/config.yml
  quickstarts/winservices/config.yml
  quickstarts/wordpress-fullstack/config.yml
  quickstarts/wordpress/config.yml
  quickstarts/xmatters/config.yml
  quickstarts/zenduty/config.yml
  quickstarts/zipkin/config.yml
Labels: improved-quickstart, cxpui

#1945 Added keywords for the quickstarts.
  quickstarts/active-directory/config.yml
  quickstarts/ads/web/ads-web-gpt/config.yml
  quickstarts/ads/web/ads-web-prebid/config.yml
  quickstarts/ajax/config.yml
  quickstarts/ansible-automation-controller/config.yml
  quickstarts/apache-flink/config.yml
  quickstarts/apache-hadoop/config.yml
  quickstarts/apache-zooKeeper/config.yml
  quickstarts/apis/event/config.yml
  quickstarts/apis/logs/config.yml
  quickstarts/apis/metric/config.yml
  quickstarts/apis/trace/config.yml
Labels: improved-quickstart, cxpui

#1953 Removed NR1_sys keywords.
  quickstarts/active-directory/config.yml
  quickstarts/ads/web/ads-web-gpt/config.yml
  quickstarts/ads/web/ads-web-prebid/config.yml
  quickstarts/ajax/config.yml
  quickstarts/ansible-automation-controller/config.yml
  quickstarts/apache-flink/config.yml
  quickstarts/apache-hadoop/config.yml
  quickstarts/apache-zooKeeper/config.yml
  quickstarts/apis/event/config.yml
  quickstarts/apis/logs/config.yml
  quickstarts/apis/metric/config.yml
  quickstarts/apis/trace/config.yml
Labels: improved-quickstart, cxpui

#1954 removed keyword - NR1_sys
  quickstarts/aerospike/config.yml
  quickstarts/velero-prometheus/config.yml
  quickstarts/video/video-android/config.yml
  quickstarts/video/video-chromecast/config.yml
  quickstarts/video/video-ios-tvos/config.yml
  quickstarts/video/video-web/video-web-akamai/config.yml
  quickstarts/video/video-web/video-web-html5/config.yml
  quickstarts/video/video-web/video-web-jwplayer/config.yml
  quickstarts/video/video-web/video-web-theplatform/config.yml
  quickstarts/video/video-web/video-web-videojs/config.yml
  quickstarts/vmware/vmware-esxi/config.yml
  quickstarts/windows/windows-certs/config.yml
  quickstarts/windows/windows-desktop/config.yml
  quickstarts/windows/windows-server/config.yml
  quickstarts/winservices/config.yml
  quickstarts/wordpress-fullstack/config.yml
  quickstarts/wordpress/config.yml
  quickstarts/xmatters/config.yml
  quickstarts/zenduty/config.yml
  quickstarts/zipkin/config.yml
Labels: improved-quickstart

#1974 Revert "Adding a keyword of snowflake quickstart into a Add Data and Stack page"
  quickstarts/snowflake/config.yml
Labels: improved-quickstart

#1908 [Product Partnerships] Added Amazon CodeBuild Entity
  alert-policies/amazon-codebuild/BuildsFailed.yml
  alert-policies/amazon-codebuild/CPUUtilization.yml
  dashboards/amazon-codebuild/amazon-codebuild.json
  dashboards/amazon-codebuild/amazon-codebuild.png
  quickstarts/aws/amazon-codebuild/config.yml
  quickstarts/aws/amazon-codebuild/logo.png
Labels: new-quickstart

#1923 chore: update featured list
  data-sources/docker-otel/config.yml
  data-sources/network-data-ingest-and-cardinality/config.yml
  quickstarts/active-directory/config.yml
  quickstarts/codestream/codestream/config.yml
  quickstarts/docker-otel/config.yml
Labels: improved-quickstart

#1975 Revert: NR-151502 Aerospike
  quickstarts/aerospike/config.yml
Labels: improved-quickstart

#1976 Revert: NR-151504 Redmine
  quickstarts/redmine/config.yml
Labels: improved-quickstart

#1977 Revert: NR-151520 Six Quickstarts
  quickstarts/active-directory/config.yml
  quickstarts/ajax/config.yml
  quickstarts/ansible-automation-controller/config.yml
  quickstarts/apache-flink/config.yml
  quickstarts/apache-hadoop/config.yml
  quickstarts/apache-zooKeeper/config.yml
Labels: improved-quickstart

#1978 Revert: NR-151537 - 19 Quickstarts
  quickstarts/velero-prometheus/config.yml
  quickstarts/video/video-android/config.yml
  quickstarts/video/video-chromecast/config.yml
  quickstarts/video/video-ios-tvos/config.yml
  quickstarts/video/video-web/video-web-akamai/config.yml
  quickstarts/video/video-web/video-web-html5/config.yml
  quickstarts/video/video-web/video-web-jwplayer/config.yml
  quickstarts/video/video-web/video-web-theplatform/config.yml
  quickstarts/video/video-web/video-web-videojs/config.yml
  quickstarts/vmware/vmware-esxi/config.yml
  quickstarts/windows/windows-certs/config.yml
  quickstarts/windows/windows-desktop/config.yml
  quickstarts/windows/windows-server/config.yml
  quickstarts/winservices/config.yml
  quickstarts/wordpress-fullstack/config.yml
  quickstarts/wordpress/config.yml
  quickstarts/xmatters/config.yml
  quickstarts/zenduty/config.yml
  quickstarts/zipkin/config.yml
Labels: improved-quickstart

#1961 [Product Partnerships] Adding Amazon Sagemaker Entity
  alert-policies/amazon-sagemaker/HighEndpointsCPUUtil.yml
  alert-policies/amazon-sagemaker/HighEndpointsMemoryUtil.yml
  alert-policies/amazon-sagemaker/HighModelInvocationErrors.yml
  alert-policies/amazon-sagemaker/HighTrainingJobsCPUUtil.yml
  dashboards/amazon-sagemaker/amazon-sagemaker.json
  dashboards/amazon-sagemaker/amazon-sagemaker.png
  quickstarts/aws/amazon-sagemaker/config.yml
  quickstarts/aws/amazon-sagemaker/logo.png
Labels: new-quickstart

#1827 Migrate elixir install
  data-sources/elixir/config.yml
Labels: waiting on contributor, stale

#1980 Update Delphix Doc Link
  quickstarts/delphix/config.yml
Labels: improved-quickstart

#1979 [Product Partnerships]Amazon CloudWatch Internet monitor
  alert-policies/amazon-cloudwatch-internet-monitor/LowerAvailabilityScore.yml
  alert-policies/amazon-cloudwatch-internet-monitor/LowerPerformanceScore.yml
  dashboards/amazon-cloudwatch-internet-monitor/amazon-cloudwatch-internet-monitor.json
  dashboards/amazon-cloudwatch-internet-monitor/amazon-cloudwatch-internet-monitor01.png
  dashboards/amazon-cloudwatch-internet-monitor/amazon-cloudwatch-internet-monitor02.png
  dashboards/amazon-cloudwatch-internet-monitor/amazon-cloudwatch-internet-monitor03.png
  quickstarts/aws/amazon-cloudwatch-internet-monitor/config.yml
  quickstarts/aws/amazon-cloudwatch-internet-monitor/logo.png
Labels: new-quickstart

#1932 Botolytics Quickstart
  dashboards/botolytics/botolytics.json
  dashboards/botolytics/botolytics01.png
  dashboards/botolytics/botolytics02.png
  dashboards/botolytics/botolytics03.png
  quickstarts/botolytics/config.yml
  quickstarts/botolytics/logo.png
Labels: new-quickstart, cxpui

#1894 Gridgain quickstart, data source and dashboard
  dashboards/gridgain/gridgain.json
  dashboards/gridgain/gridgain.png
  data-sources/gridgain/config.yml
  data-sources/gridgain/gridgain.svg
  quickstarts/gridgain/config.yml
  quickstarts/gridgain/gridgain.svg
Labels: new-quickstart

#1991 fix: Update to correct data source id
  quickstarts/gridgain/config.yml
Labels: improved-quickstart

#1956 [product partnerships] Added AWS Inspector
  alert-policies/amazon-inspector/HighAssessmentRunFindings.yml
  dashboards/amazon-inspector/amazon-inspector.json
  dashboards/amazon-inspector/amazon-inspector.png
  quickstarts/aws/amazon-inspector/config.yml
  quickstarts/aws/amazon-inspector/logo.png
Labels: new-quickstart
