Repository newrelic/newrelic-quickstarts, pull requests merged in 2023-03, with the labels that each got.

#1673 Associate OpenAI dashboard with data source
  quickstarts/openai/config.yaml
Labels: improved-quickstart

#1648 NR-90378 - Changed logo on dashboard for Ansible Automation Controller.
  dashboards/ansible-automation-controller/ansible-automation-controller01.png
  dashboards/ansible-automation-controller/dashboard.json
  quickstarts/ansible-automation-controller/config.yml
  quickstarts/ansible-automation-controller/logo.png
  quickstarts/ansible-automation-controller/logo.svg
Labels: improved-quickstart

#1665 feat(pihole): Added a quickstart for pihole
  dashboards/example-dashboard/example-dashboard.json
  dashboards/example-dashboard/example-dashboard.png
  dashboards/pihole/pihole.json
  dashboards/pihole/pihole_quickstart_dashboard.png
  data-sources/pihole/config.yml
  data-sources/pihole/logo.svg
  quickstarts/pihole/config.yml
  quickstarts/pihole/logo.svg
Labels: new-quickstart

#1676 feat:
  quickstarts/observability-as-code/chef/config.yml
Labels: improved-quickstart

#1680 Small update to config.yml
  quickstarts/pihole/config.yml
Labels: improved-quickstart

#1653 chore: update language to include vercel traces
  quickstarts/vercel/config.yml
Labels: improved-quickstart

#1678 NR-90378 ansible automation platform udated logo
  dashboards/ansible-automation-controller/dashboard.json
  quickstarts/ansible-automation-controller/config.yml
  quickstarts/ansible-automation-controller/logo.png
  quickstarts/ansible-automation-controller/logo.svg
Labels: improved-quickstart

#1687 Feat update jfrog quickstart
  dashboards/jfrog-artifactory/jfrog-artifactory.json
  dashboards/jfrog-xray/jfrog-xray.json
  quickstarts/jfrog-platform/config.yml
Labels: improved-quickstart

#1686 chore: update docs link for vercel
  install/third-party/vercel/install.yml
  quickstarts/vercel/config.yml
Labels: improved-quickstart

#1646 Update config.yml - Jenkins quickstart
  quickstarts/jenkins/config.yml
Labels: stale, improved-quickstart

#1645 small adjustments to queries on the for mongodb prometheus dashboard
  dashboards/mongodb-prometheus/mongodb.json
Labels: stale

#1689 Show OpenAI data source in Add Data
  data-sources/openai/config.yaml
  quickstarts/openai/config.yaml
Labels: improved-quickstart

#1679 feat(ajax): Added a quickstart for ajax
  dashboards/ajax/ajax.json
  dashboards/ajax/ajax.png
  dashboards/core-web-vitals/core-web-vitals.json
  quickstarts/ajax/config.yml
  quickstarts/ajax/logo.svg
  quickstarts/core-web-vitals/config.yml
  quickstarts/core-web-vitals/logo.svg
  quickstarts/example-dashboard/example-dashboard.json
  quickstarts/example-dashboard/example-dashboard.png
Labels: new-quickstart

#1652 Update Velero docs
  quickstarts/velero-prometheus/config.yml
Labels: improved-quickstart

#1691 Alec/update openai dash
  dashboards/openai/openai-dashboard.json
  data-sources/openai/config.yaml
  quickstarts/openai/config.yaml
Labels: improved-quickstart

#1695 Update config.yaml with GPT-4 verbiage and support
  quickstarts/openai/config.yaml
Labels: improved-quickstart

#1701 Fixed type
  quickstarts/core-web-vitals/config.yml
Labels: improved-quickstart

#1708 Trigger new build for core-web-vitals
  quickstarts/core-web-vitals/config.yml
Labels: improved-quickstart

#1700 Fix typos and formatting, add description
  quickstarts/core-web-vitals/config.yml
Labels: improved-quickstart

#1522 NR46306: Lighttpd-new integration
  alert-policies/lighttpd/AverageNumberOfConnections.yml
  alert-policies/lighttpd/AvgNumberOfRequestsFor5sec.yml
  alert-policies/lighttpd/HighMemoryUsage.yml
  dashboards/lighttpd/lighttpd.json
  dashboards/lighttpd/lighttpd01.png
  dashboards/lighttpd/lighttpd02.png
  dashboards/lighttpd/lighttpd03.png
  dashboards/lighttpd/lighttpd04.png
  data-sources/lighttpd/config.yml
  data-sources/lighttpd/logo.png
  quickstarts/lighttpd/config.yml
  quickstarts/lighttpd/logo.png
Labels: new-quickstart

#1597 NR-80059-MERN-stack-integration
  alert-policies/mexn/FirstContentfulPaint.yml
  alert-policies/mexn/HighMemoryUsage.yml
  alert-policies/mexn/MongoDBConnectionsCount.yml
  alert-policies/mexn/TransactionErrors.yml
  dashboards/mexn/dashboard.json
  dashboards/mexn/mexn01.png
  dashboards/mexn/mexn02.png
  dashboards/mexn/mexn03.png
  dashboards/mexn/mexn04.png
  data-sources/mern/config.yml
  data-sources/mern/logo.png
  quickstarts/mern/config.yml
  quickstarts/mern/logo.png
Labels: new-quickstart

#1703 AlloyDB quickstart
  dashboards/gcp-alloydb/gcp-alloydb.json
  dashboards/gcp-alloydb/gcp-alloydb.png
  quickstarts/gcp/gcp-alloydb/config.yml
  quickstarts/gcp/gcp-alloydb/icon.png
Labels: new-quickstart

#1721 NR101764 : Updated MEAN IO content & dashboard screenshot size
  dashboards/mexn/mexn01.png
  dashboards/mexn/mexn02.png
  dashboards/mexn/mexn03.png
  dashboards/mexn/mexn04.png
  data-sources/mean/config.yml
  quickstarts/mean/config.yml
Labels: improved-quickstart

#1720 NR 101719 : Lighttpd - updated install plans url
  install/lighttpd/install.yml
  quickstarts/lighttpd/config.yml
Labels: improved-quickstart

#1722 chore: featured list update
  quickstarts/argocd/config.yml
  quickstarts/circleci/config.yml
  quickstarts/gatsby-build/config.yml
  quickstarts/harbor/config.yml
  quickstarts/jfrog-platform/config.yml
  quickstarts/mean/config.yml
  quickstarts/mern/config.yml
  quickstarts/mongodb/config.yml
  quickstarts/netlify/netlify-builds/config.yml
  quickstarts/netlify/netlify-logs/config.yml
  quickstarts/python/python/config.yml
  quickstarts/roku/config.yml
  quickstarts/speedscale/config.yml
  quickstarts/velero-prometheus/config.yml
  quickstarts/winservices/config.yml
Labels: improved-quickstart

#1719 feat(nr-reports): Add a quickstart for New Relic Reports
  data-sources/nr-reports/config.yml
  data-sources/nr-reports/logo.svg
  quickstarts/nr-reports/config.yml
  quickstarts/nr-reports/logo.svg
Labels: new-quickstart

#1726 feat: Update config to use dataSourceIds field
  quickstarts/gcp/gcp-alloydb/config.yml
Labels: improved-quickstart

#1729 Updating config.yml
  quickstarts/redmine/config.yml
Labels: improved-quickstart

#1728 NR 103241 : MERN - updated IO page content
  data-sources/mern/config.yml
  quickstarts/mern/config.yml
Labels: improved-quickstart

#1696 Update Mongodb prometheus screenshot
  dashboards/mongodb-prometheus/mongodb01.png
  dashboards/mongodb-prometheus/mongodb02.png
  dashboards/mongodb-prometheus/mongodb03.png
  dashboards/mongodb-prometheus/mongodb04.png
Labels: waiting on contributor
