Repository newrelic/newrelic-quickstarts, pull requests merged in 2023-07, with the labels that each got.

#1875 Deprecate "local quickstart preview" docs
  CONTRIBUTING.md
Labels: improved-quickstart

#1864 [Product Partnerships] Added Amazon WorkMail
  alert-policies/amazon-workmail/IncomingEmailBounces.yml
  alert-policies/amazon-workmail/OutgoingEmailBounces.yml
  dashboards/amazon-workmail/amazon-workmail.json
  dashboards/amazon-workmail/amazon-workmail.png
  quickstarts/aws/amazon-workmail/config.yml
  quickstarts/aws/amazon-workmail/logo.png
Labels: new-quickstart

#1874 [Product Partnerships] Added Amazon DataSync
  dashboards/amazon-datasync/amazon-datasync.json
  dashboards/amazon-datasync/amazon-datasync.png
  quickstarts/aws/amazon-datasync/config.yml
  quickstarts/aws/amazon-datasync/logo.png
Labels: new-quickstart

#1876 [Product Partnerships] Adding quickstart for aws rekognition
  alert-policies/aws-rekognition/HighServerErrors.yml
  alert-policies/aws-rekognition/LatencyInResponse.yml
  dashboards/aws-rekognition/aws-rekognition.json
  dashboards/aws-rekognition/aws-rekognition.png
  quickstarts/aws/aws-rekognition/config.yml
  quickstarts/aws/aws-rekognition/logo.png
Labels: new-quickstart

#1763 feat: new mux quickstart
  dashboards/mux-video-analytics/mux-video-analytics.json
  dashboards/mux-video-analytics/mux-video-analytics01.png
  data-sources/mux/config.yml
  data-sources/mux/logo.svg
  quickstarts/mux-video/config.yml
  quickstarts/mux-video/logo.svg
Labels: waiting on contributor, new-quickstart, product partnerships

#1880 [Product Partnerships]added datasource for aws-rekognition
  data-sources/aws-rekognition/config.yml
  data-sources/aws-rekognition/logo.png
Labels: new-quickstart

#1858 NR-89151: Apache ZooKeeper Quickstart
  alert-policies/apache-zooKeeper/FsyncTime.yml
  alert-policies/apache-zooKeeper/RejectedConnection.yml
  alert-policies/apache-zooKeeper/WatchNodeChanged.yml
  dashboards/apache-zooKeeper/apache-zooKeeper01.png
  dashboards/apache-zooKeeper/apache-zooKeeper02.png
  dashboards/apache-zooKeeper/apache-zooKeeper03.png
  dashboards/apache-zooKeeper/apache-zooKeeper04.png
  dashboards/apache-zooKeeper/apache-zooKeeper05.png
  dashboards/apache-zooKeeper/apache-zooKeeper06.png
  dashboards/apache-zooKeeper/dashboard.json
  data-sources/apache-zooKeeper/config.yml
  data-sources/apache-zooKeeper/logo.png
  quickstarts/apache-zooKeeper/config.yml
  quickstarts/apache-zooKeeper/logo.png
Labels: new-quickstart, cxpui

#1859 NR-115593 MEVN quickstart
  quickstarts/mevn/config.yml
  quickstarts/mevn/logo.png
Labels: new-quickstart, cxpui

#1870 NR-139712 Clean up Magento Busines Insights
  data-sources/magento-business-insights/config.yml
  data-sources/magento-business-insights/logo.png
  install/magento-busniess-insights/install.yml
  quickstarts/magento-business-insights/config.yml
Labels: improved-quickstart, cxpui

#1873 NR-128112 Remove VictorOps Quickstart
  data-sources/victorops/config.yml
  data-sources/victorops/logo.svg
  install/third-party/victorops/install.yml
  quickstarts/victorops/config.yml
  quickstarts/victorops/logo.svg
Labels: cxpui

#1871 NR-128103 Remove - Public API Performance
  dashboards/public-api-performance/public-api-performance.json
  dashboards/public-api-performance/public-api-performance1.png
  dashboards/public-api-performance/public-api-performance2.png
  data-sources/public-api-performance/config.yml
  data-sources/public-api-performance/logo.svg
  install/public-api-performance/install.yml
  quickstarts/public-api-performance/config.yml
  quickstarts/public-api-performance/logo.svg
Labels: cxpui

#1857 NR-89144 Apache Hadoop quickstart
  alert-policies/apache-hadoop/NameNodeDeadDataNodes.yml
  alert-policies/apache-hadoop/NameNodeMissingBlocks.yml
  alert-policies/apache-hadoop/NameNodeVolumeFailures.yml
  alert-policies/apache-hadoop/UsedDiskPercentage.yml
  dashboards/apache-hadoop/apache-hadoop-01.png
  dashboards/apache-hadoop/apache-hadoop-02.png
  dashboards/apache-hadoop/apache-hadoop-03.png
  dashboards/apache-hadoop/apache-hadoop-04.png
  dashboards/apache-hadoop/apache-hadoop-05.png
  dashboards/apache-hadoop/apache-hadoop-06.png
  dashboards/apache-hadoop/apache-hadoop-07.png
  dashboards/apache-hadoop/apache-hadoop.json
  data-sources/apache-hadoop/config.yml
  data-sources/apache-hadoop/logo.png
  quickstarts/apache-hadoop/config.yml
  quickstarts/apache-hadoop/logo.png
Labels: new-quickstart, cxpui

#1889 [Product Partnerships] Added SimpleWorkFlow Entity
  alert-policies/amazon-simpleworkflow/ActivityTasksFailed.yml
  alert-policies/amazon-simpleworkflow/WorkflowsFailed.yml
  dashboards/amazon-simpleworkflow/amazon-simpleworkflow.json
  dashboards/amazon-simpleworkflow/amazon-simpleworkflow.png
  quickstarts/aws/amazon-simpleworkflow/config.yml
  quickstarts/aws/amazon-simpleworkflow/logo.png
Labels: new-quickstart

#1890 Small updates
  quickstarts/mongodb-prometheus/config.yml
Labels: improved-quickstart

#1855 NR112680: Postfix - new quickstart
  alert-policies/postfix/ConnectionLost.yml
  alert-policies/postfix/ConnectionTimeout.yml
  alert-policies/postfix/PostfixServiceDown.yml
  dashboards/postfix/postfix.json
  dashboards/postfix/postfix01.png
  dashboards/postfix/postfix02.png
  dashboards/postfix/postfix03.png
  dashboards/postfix/postfix04.png
  dashboards/postfix/postfix05.png
  dashboards/postfix/postfix06.png
  dashboards/postfix/postfix07.png
  dashboards/postfix/postfix08.png
  data-sources/postfix/config.yml
  data-sources/postfix/logo.png
  quickstarts/postfix/config.yml
  quickstarts/postfix/logo.png
Labels: new-quickstart, cxpui

#1854 NR89215 Sendmail - new quickstart
  alert-policies/sendmail/HighMemory.yml
  alert-policies/sendmail/MessageUndelivered.yml
  alert-policies/sendmail/SendmailServiceStatus.yml
  alert-policies/sendmail/TotalErrorsLogged.yml
  dashboards/sendmail/sendmail.json
  dashboards/sendmail/sendmail01.png
  dashboards/sendmail/sendmail02.png
  dashboards/sendmail/sendmail03.png
  dashboards/sendmail/sendmail04.png
  dashboards/sendmail/sendmail05.png
  data-sources/sendmail/config.yml
  data-sources/sendmail/logo.png
  quickstarts/sendmail/config.yml
  quickstarts/sendmail/logo.png
Labels: new-quickstart, cxpui

#1884 Magento Business Insights- Dashboard images update
  dashboards/magento-business-insights/magentoBI.json
  dashboards/magento-business-insights/magentoBI04.png
  dashboards/magento-business-insights/magentoBI08.png
  dashboards/magento-business-insights/magentoBI09.png
Labels: cxpui

#1860 WordPress Full Stack quickstart - creation
  alert-policies/wordpress-fullstack/AvgFirstContentfulPaint.yml
  alert-policies/wordpress-fullstack/CPUUtilization.yml
  alert-policies/wordpress-fullstack/DiskUtilization.yml
  dashboards/wordpress-fullstack/dashboard.json
  dashboards/wordpress-fullstack/wordpress-fullstack01.png
  dashboards/wordpress-fullstack/wordpress-fullstack02.png
  dashboards/wordpress-fullstack/wordpress-fullstack03.png
  dashboards/wordpress-fullstack/wordpress-fullstack04.png
  dashboards/wordpress-fullstack/wordpress-fullstack05.png
  dashboards/wordpress-fullstack/wordpress-fullstack06.png
  dashboards/wordpress-fullstack/wordpress-fullstack07.png
  dashboards/wordpress-fullstack/wordpress-fullstack08.png
  quickstarts/wordpress-fullstack/config.yml
  quickstarts/wordpress-fullstack/logo.svg
Labels: new-quickstart, cxpui

#1886 add: quickstart dashboard for github repos
  dashboards/github-repo/github_repo_dashboard.json
  dashboards/github-repo/github_repo_dashboard.png
  data-sources/github-repo/config.yml
  data-sources/github-repo/logo.png
  quickstarts/github-repo/config.yml
  quickstarts/github-repo/logo.png
Labels: waiting on contributor, new-quickstart

#1893 [product partnerships] Added AWS Elastic Transcoder
  alert-policies/amazon-elastictranscoder/JobsErrored.yml
  dashboards/amazon-elastictranscoder/amazon-elastictranscoder.json
  dashboards/amazon-elastictranscoder/amazon-elastictranscoder.png
  quickstarts/aws/amazon-elastictranscoder/config.yml
  quickstarts/aws/amazon-elastictranscoder/logo.png
Labels: new-quickstart
