Repository newrelic/newrelic-quickstarts, pull requests merged in 2023-01, with the labels that each got.

#1569 Chore: update StatsD quickstart
  quickstarts/statsd/config.yml
Labels: improved-quickstart

#1474 feat(velero-prometheus) adding quickstart for velero prometheus remot…
  alert-policies/velero-prometheus/VeleroPrometheusBackupDurationBaseline.yml
  alert-policies/velero-prometheus/VeleroPrometheusBackupFailure.yml
  alert-policies/velero-prometheus/VeleroPrometheusBackupSizeBaseline.yml
  dashboards/velero-prometheus/velero-prometheus-2.png
  dashboards/velero-prometheus/velero-prometheus.json
  dashboards/velero-prometheus/velero-prometheus.png
  quickstarts/velero-prometheus/config.yml
  quickstarts/velero-prometheus/logo.png
Labels: waiting on contributor, stale, new-quickstart

#1581 chore: reference alerts
  quickstarts/aws/amazon-cloudfront-logs/config.yml
  quickstarts/cloudflare/config.yml
Labels: improved-quickstart

#1565 Chore: update C# quickstart content
  quickstarts/dotnet/csharp/config.yml
Labels: waiting on contributor, stale, improved-quickstart

#1568 Chore: update Sidekiq quickstart
  quickstarts/ruby/sidekiq/config.yml
Labels: waiting on contributor, stale, improved-quickstart

#1580 Adding network alerts
  alert-policies/bgpNeighbor/bgp-neighbor-idle.yml
  alert-policies/bgpNeighbor/bgp-neighbor-state-changes.yml
  alert-policies/ciscohardware/cisco-fan-status.yml
  alert-policies/ciscohardware/cisco-fan-tray-status.yml
  alert-policies/ciscohardware/cisco-module-status.yml
  alert-policies/ciscohardware/cisco-power-supply-status.yml
  alert-policies/ciscohardware/cisco-temperature-status.yml
  alert-policies/network-ktranslate-health/ktranslate-buffer-violation.yml
  alert-policies/network-ktranslate-health/ktranslate-los-violation.yml
  alert-policies/network-ktranslate-health/ktranslate-queue-violation.yml
  alert-policies/network-ktranslate-health/ktranslate-snmp-violation.yml
  alert-policies/network-routers-and-switches/average-cpu-violation.yml
  alert-policies/network-routers-and-switches/average-memory-violation.yml
  alert-policies/network-routers-and-switches/average-receive-violation.yml
  alert-policies/network-routers-and-switches/average-transmit-violation.yml
  alert-policies/network-routers-and-switches/ping-loss-violation.yml
  alert-policies/network-routers-and-switches/ping-response-time-violation.yml
  alert-policies/network-routers-and-switches/uplink-interface-down-violation.yml
  alert-policies/network-synthetics/network-synthetic-jitter.yml
  alert-policies/network-synthetics/network-synthetic-latency.yml
  alert-policies/network-synthetics/network-synthetic-loss-percent.yml
  alert-policies/network-syslog/syslog-alert-violation.yml
  alert-policies/network-syslog/syslog-critical-violation.yml
  alert-policies/network-syslog/syslog-emergency-violation.yml
  alert-policies/network-syslog/syslog-error-violation.yml
  quickstarts/kentik/config.yml
  quickstarts/network-monitoring/bgpNeighbor/config.yml
  quickstarts/network-monitoring/cisco-ip-sla-operations/config.yml
  quickstarts/network-monitoring/ciscoHardware/config.yml
  quickstarts/network-monitoring/network-ktranslate-health/config.yml
  quickstarts/network-monitoring/network-routers-and-switches/config.yml
  quickstarts/network-monitoring/network-syslog/config.yml
Labels: improved-quickstart

#1529 adding synthetics optimization quickstart
  dashboards/synthetics-optimization/synthetics-optimization.json
  dashboards/synthetics-optimization/synthetics-optimization.png
  quickstarts/synthetics-optimization/config.yml
  quickstarts/synthetics-optimization/logo.png
Labels: new-quickstart

#1573 Code thaw
  .github/workflows/reusable.quickstart_submission.yml
  dashboards/gcp-cloud-spanner/gcp-cloud-spanner.json
  dashboards/php/php.json
  dashboards/php/php01.png
  dashboards/php/php02.png
  dashboards/php/php03.png
  dashboards/php/php04.png
  dashboards/php/php05.png
  dashboards/redis-prometheus/redis-prometheus.json
  quickstarts/apache-flink/config.yml
  quickstarts/argocd/config.yml
  quickstarts/cribl-logstream/config.yml
  quickstarts/gigamon/config.yml
  quickstarts/lacework/config.yml
  quickstarts/python/psycopg2/config.yml
  quickstarts/vercel/config.yml
  quickstarts/zebrium/config.yml
  utils/__tests__/set-dashboard-required-datasources.test.js
  utils/constants.ts
  utils/lib/Alert.ts
  utils/lib/Dashboard.ts
  utils/lib/__tests__/Alert.test.js
  utils/lib/__tests__/Dashboard.test.js
  utils/lib/nr-graphql-helpers.ts
  utils/newrelic/customEvent.ts
  utils/set-alert-policy-required-datasources.ts
  utils/set-dashboards-required-datasources.ts
  utils/types/QuickstartComponentsIds.ts
  utils/types/nerdgraph.ts
Labels: DO_NOT_MERGE, code-freeze

#1586 Added: Sybase Quickstart Dashboard
  dashboards/sybase/sybase.json
  dashboards/sybase/sybase.png
  install/on-host-integration/sybase/install.yml
  quickstarts/sybase/config.yml
  quickstarts/sybase/logo.svg
Labels: new-quickstart

#1584 Jfrog platform
  dashboards/jfrog-artifactory/jfrog-artifactory.json
  dashboards/jfrog-artifactory/jfrog-artifactory1.png
  dashboards/jfrog-artifactory/jfrog-artifactory2.png
  dashboards/jfrog-artifactory/jfrog-artifactory3.png
  dashboards/jfrog-artifactory/jfrog-artifactory4.png
  dashboards/jfrog-artifactory/jfrog-artifactory5.png
  dashboards/jfrog-artifactory/jfrog-artifactory6.png
  dashboards/jfrog-artifactory/jfrog-artifactory7.png
  dashboards/jfrog-xray/jfrog-xray.json
  dashboards/jfrog-xray/jfrog-xray1.png
  dashboards/jfrog-xray/jfrog-xray2.png
  dashboards/jfrog-xray/jfrog-xray3.png
  dashboards/jfrog-xray/jfrog-xray4.png
  dashboards/jfrog-xray/jfrog-xray5.png
  install/third-party/jfrog-platform/install.yml
  quickstarts/jfrog-platform/config.yml
  quickstarts/jfrog-platform/icon.svg
Labels: waiting on contributor, new-quickstart

#1587 Adding trivy quickstart and install plan
  install/trivy/install.yml
  quickstarts/trivy/config.yml
  quickstarts/trivy/logo.png
Labels: new-quickstart

#1520 NR-38000-Blazor Web Assembly quickstart.
  alert-policies/blazor-web-assembly/ApplicationErrorRate.yml
  alert-policies/blazor-web-assembly/ClientandServerErrorResponse.yml
  alert-policies/blazor-web-assembly/PageLoadTime.yml
  dashboards/blazor-web-assembly/blazor-web-assembly.json
  dashboards/blazor-web-assembly/blazor-web-assembly01.png
  dashboards/blazor-web-assembly/blazor-web-assembly02.png
  dashboards/blazor-web-assembly/blazor-web-assembly03.png
  dashboards/blazor-web-assembly/blazor-web-assembly04.png
  dashboards/blazor-web-assembly/blazor-web-assembly05.png
  dashboards/blazor-web-assembly/blazor-web-assembly06.png
  dashboards/blazor-web-assembly/blazor-web-assembly07.png
  install/blazor-web-assembly/install.yml
  quickstarts/blazor-web-assembly/config.yml
  quickstarts/blazor-web-assembly/logo.png
Labels: stale, new-quickstart

#1528 NR-46007 Redmine Quickstart
  alert-policies/redmine/AveragePageLoadTime.yml
  alert-policies/redmine/ErrorRate.yml
  alert-policies/redmine/FailedTransactions.yml
  dashboards/redmine/redmine.json
  dashboards/redmine/redmine01.png
  dashboards/redmine/redmine02.png
  dashboards/redmine/redmine03.png
  dashboards/redmine/redmine04.png
  dashboards/redmine/redmine05.png
  dashboards/redmine/redmine06.png
  dashboards/redmine/redmine07.png
  dashboards/redmine/redmine08.png
  install/redmine/install.yml
  quickstarts/redmine/config.yml
  quickstarts/redmine/logo.png
Labels: new-quickstart

#1533 NR41983: Nextcloud - new integration
  alert-policies/nextcloud/HeapMemoryUsage.yml
  alert-policies/nextcloud/ScrapeErrors.yml
  dashboards/nextcloud/nextcloud.json
  dashboards/nextcloud/nextcloud01.png
  dashboards/nextcloud/nextcloud02.png
  install/nextcloud/install.yml
  quickstarts/nextcloud/config.yml
  quickstarts/nextcloud/logo.png
Labels: new-quickstart

#1601 Chore: update Snowflake quickstart
  quickstarts/snowflake/config.yml
Labels: improved-quickstart

#1602 NR-81108: update redpanda IO page Content
  install/redpanda/install.yml
  quickstarts/redpanda/config.yml
Labels: improved-quickstart

#1604 Replaced Nuxtjs IO page intro description
  install/nuxt-js/install.yml
  quickstarts/nuxtjs/config.yml
Labels: improved-quickstart

#1608 NR-82631: Updated the NuxtJs integration docs link
  dashboards/nuxtjs/nuxtjs.json
  install/nuxt-js/install.yml
  quickstarts/nuxtjs/config.yml
Labels: improved-quickstart

#1616 Clean up mlops category
  data-sources/zebrium/config.yml
  quickstarts/zebrium/config.yml
Labels: improved-quickstart

#1611 feat: add change-tracking-apm quickstart
  dashboards/change-tracking-apm/change-tracking-apm.json
  dashboards/change-tracking-apm/change-tracking-apm.png
  install/change-tracking/install.yml
  quickstarts/apm-change-tracking/config.yml
  quickstarts/apm-change-tracking/logo.svg
Labels: new-quickstart
