Repository newrelic/newrelic-quickstarts, pull requests merged in 2024-01, with the labels that each got.

#2163 feat: Update network-flow-devices data source
  quickstarts/network-monitoring/network-flow-devices/config.yml
Labels: improved-quickstart

#2146 NR-178933 Network Ktranslate Health - Remove
  alert-policies/network-ktranslate-health/ktranslate-buffer-violation.yml
  alert-policies/network-ktranslate-health/ktranslate-los-violation.yml
  alert-policies/network-ktranslate-health/ktranslate-queue-violation.yml
  alert-policies/network-ktranslate-health/ktranslate-snmp-violation.yml
  dashboards/network-ktranslate-health/network-ktranslate-health.json
  dashboards/network-ktranslate-health/network-ktranslate-health01.jpg
  dashboards/network-ktranslate-health/network-ktranslate-health02.jpg
  data-sources/network-ktranslate-health/config.yml
  data-sources/network-ktranslate-health/logo.svg
  install/network/ktranslate-health/install.yml
  quickstarts/network-monitoring/network-ktranslate-health/config.yml
  quickstarts/network-monitoring/network-ktranslate-health/logo.svg
Labels: Tara, awaiting freeze end

#2150 Changing query for http connections
  dashboards/jfrog-artifactory/jfrog-artifactory.json
Labels: product partnerships, awaiting freeze end

#2152 Updated the Nextcloud dashboard and alerts.
  alert-policies/nextcloud/CPUUsage.yml
  alert-policies/nextcloud/MemoryUsage.yml
  dashboards/nextcloud/nextcloud.json
  dashboards/nextcloud/nextcloud02.png
  dashboards/nextcloud/nextcloud03.png
Labels: quickstart-improvement

#2139 Adding MariaDB dashboard and alert conditions
  .gitignore
  alert-policies/mariadb/innodb-pending-reads-and-writes.yml
  alert-policies/mariadb/max-connection-errors-per-second.yml
  alert-policies/mariadb/questions-per-second.yml
  alert-policies/mariadb/slow-queries-per-second.yml
  alert-policies/redis/blocked-clients.yml
  alert-policies/redis/current-connections-anomaly.yml
  dashboards/k6-prometheus/k6-prometheus.json
  dashboards/k6-prometheus/k6-prometheus.png
  dashboards/mariadb/mariadb.json
  dashboards/mariadb/mariadb1.png
  dashboards/mariadb/mariadb2.png
  dashboards/mariadb/mariadb3.png
  dashboards/windows-certs/windows-certs-expiration.json
  data-sources/k6-prometheus/config.yml
  data-sources/k6-prometheus/logo.svg
  data-sources/k6/logo.png
  data-sources/k6/logo.svg
  quickstarts/k6-prometheus/config.yml
  quickstarts/k6-prometheus/logo.svg
  quickstarts/mariadb/config.yml
  quickstarts/redis/config.yml
Labels: waiting on contributor, improved-quickstart

#2155 Added the language agent keyword to the nodejs dashboard using Quickstarts.
  quickstarts/node-js/express/config.yml
  quickstarts/node-js/hapi/config.yml
  quickstarts/node-js/koa/config.yml
  quickstarts/node-js/restify/config.yml
  quickstarts/node-js/typescript/config.yml
Labels: improved-quickstart

#2200 Release 01/10/2024
  alert-policies/browser/AjaxTimetoSettle.yml
  alert-policies/langchain-vectordb/APIResponseTime.yml
  alert-policies/llm-application/APIResponseTime.yml
  alert-policies/network-ktranslate-health/ktranslate-buffer-violation.yml
  alert-policies/network-ktranslate-health/ktranslate-los-violation.yml
  alert-policies/network-ktranslate-health/ktranslate-queue-violation.yml
  alert-policies/network-ktranslate-health/ktranslate-snmp-violation.yml
  alert-policies/nextcloud/CPUUsage.yml
  alert-policies/nextcloud/MemoryUsage.yml
  alert-policies/postfix/BouncedEmails.yml
  alert-policies/postfix/SMTPAuthenticationFails.yml
  dashboards/jfrog-artifactory/jfrog-artifactory.json
  dashboards/network-ktranslate-health/network-ktranslate-health.json
  dashboards/network-ktranslate-health/network-ktranslate-health01.jpg
  dashboards/network-ktranslate-health/network-ktranslate-health02.jpg
  dashboards/nextcloud/nextcloud.json
  dashboards/nextcloud/nextcloud02.png
  dashboards/nextcloud/nextcloud03.png
  dashboards/on-host-integrations-data-analysis/on-host-integrations-data-analysis.json
  data-sources/network-ktranslate-health/config.yml
  data-sources/network-ktranslate-health/logo.svg
  install/network/ktranslate-health/install.yml
  quickstarts/k6-prometheus/config.yml
  quickstarts/network-monitoring/network-flow-devices/config.yml
  quickstarts/network-monitoring/network-ktranslate-health/config.yml
  quickstarts/network-monitoring/network-ktranslate-health/logo.svg
  quickstarts/node-js/express/config.yml
  quickstarts/node-js/hapi/config.yml
  quickstarts/node-js/koa/config.yml
  quickstarts/node-js/restify/config.yml
  quickstarts/node-js/typescript/config.yml
  utils/lib/Alert.ts
  utils/lib/__tests__/Alert.test.js
  utils/lib/__tests__/Quickstart.test.js
  utils/mock_files/alert-policies/mock-alert-policy-3/errors.yml
  utils/mock_files/quickstarts/mock-quickstart-6/config.yml
Labels: improved-quickstart

#2160 feat: hcp vault integration
  dashboards/hcp-vault/hcp-vault.json
  dashboards/hcp-vault/hcp-vault01.png
  dashboards/hcp-vault/hcp-vault02.png
  dashboards/hcp-vault/hcp-vault03.png
  dashboards/hcp-vault/hcp-vault04.png
  data-sources/hcp-vault-logs/config.yml
  data-sources/hcp-vault-logs/logo.svg
  data-sources/hcp-vault-metrics/config.yml
  data-sources/hcp-vault-metrics/logo.svg
  install/third-party/hcp-vault/install.yml
  quickstarts/hashicorp/hcp-vault/config.yml
  quickstarts/hashicorp/hcp-vault/logo.svg
Labels: new-quickstart, new-datasource, product partnerships

#2236 Release - 1/11/24
  dashboards/hcp-vault/hcp-vault.json
  dashboards/hcp-vault/hcp-vault01.png
  dashboards/hcp-vault/hcp-vault02.png
  dashboards/hcp-vault/hcp-vault03.png
  dashboards/hcp-vault/hcp-vault04.png
  data-sources/hcp-vault-logs/config.yml
  data-sources/hcp-vault-logs/logo.svg
  data-sources/hcp-vault-metrics/config.yml
  data-sources/hcp-vault-metrics/logo.svg
  install/third-party/hcp-vault/install.yml
  quickstarts/hashicorp/hcp-vault/config.yml
  quickstarts/hashicorp/hcp-vault/logo.svg
  utils/create_validate_pr_quickstarts.ts
  utils/lib/Alert.ts
  utils/set-alert-policy-required-datasources.ts
  utils/set-dashboards-required-datasources.ts
Labels: new-quickstart

#2241 Added language agent keyword to Java quickstarts
  quickstarts/java/adobe-cq/config.yml
  quickstarts/java/akka/config.yml
  quickstarts/java/anorm/config.yml
  quickstarts/java/asynchttpclient/config.yml
  quickstarts/java/camel/config.yml
  quickstarts/java/coldfusion/config.yml
  quickstarts/java/cxf/config.yml
  quickstarts/java/datastax-cassandra/config.yml
  quickstarts/java/derby/config.yml
  quickstarts/java/ejb-session-beans/config.yml
  quickstarts/java/elasticsearch-query/config.yml
  quickstarts/java/gcp-pubsub/config.yml
  quickstarts/java/generic-jdbc/config.yml
  quickstarts/java/glassfish/config.yml
  quickstarts/java/grails/config.yml
  quickstarts/java/grpc/config.yml
  quickstarts/java/h2/config.yml
  quickstarts/java/hibernate/config.yml
  quickstarts/java/hsql/config.yml
  quickstarts/java/hystrix/config.yml
  quickstarts/java/ibm-db2/config.yml
  quickstarts/java/inet-merlia/config.yml
  quickstarts/java/jax-rs/config.yml
  quickstarts/java/jcache-api/config.yml
  quickstarts/java/jdbc-executebatch/config.yml
  quickstarts/java/jersey/config.yml
  quickstarts/java/jetty/config.yml
  quickstarts/java/jms/config.yml
  quickstarts/java/jsf/config.yml
  quickstarts/java/jsp/config.yml
  quickstarts/java/mule-esb/config.yml
  quickstarts/java/netty/config.yml
  quickstarts/java/oc4j/config.yml
  quickstarts/java/play-ws/config.yml
  quickstarts/java/play/config.yml
  quickstarts/java/quartz-job-scheduler/config.yml
  quickstarts/java/resin/config.yml
  quickstarts/java/resteasy/config.yml
  quickstarts/java/rmi/config.yml
  quickstarts/java/scala/config.yml
  quickstarts/java/slick/config.yml
  quickstarts/java/solr/config.yml
  quickstarts/java/spray-can/config.yml
  quickstarts/java/spring-jms/config.yml
  quickstarts/java/spring/config.yml
  quickstarts/java/spymemcached/config.yml
  quickstarts/java/struts/config.yml
  quickstarts/java/thrift/config.yml
  quickstarts/java/tomcat/config.yml
  quickstarts/java/tomee/config.yml
  quickstarts/java/vert-x/config.yml
  quickstarts/java/weblogic/config.yml
  quickstarts/java/websphere-liberty-profile/config.yml
  quickstarts/java/websphere/config.yml
  quickstarts/java/wildfly/config.yml
Labels: Tara

#2240 Added language agent keyword to PHP quickstarts
  quickstarts/php/cakephp/config.yml
  quickstarts/php/codeigniter/config.yml
  quickstarts/php/guzzle/config.yml
  quickstarts/php/joomla/config.yml
  quickstarts/php/kohana/config.yml
  quickstarts/php/laravel/config.yml
  quickstarts/php/magento/config.yml
  quickstarts/php/mediawiki/config.yml
  quickstarts/php/odbc/config.yml
  quickstarts/php/pdo/config.yml
  quickstarts/php/phpunit/config.yml
  quickstarts/php/predis/config.yml
  quickstarts/php/silex/config.yml
  quickstarts/php/slim/config.yml
  quickstarts/php/sqlite/config.yml
  quickstarts/php/symfony/config.yml
  quickstarts/php/yii/config.yml
Labels: improved-quickstart, Tara

#2194 Clarifai Quickstart
  quickstarts/clarifai/config.yml
  quickstarts/clarifai/logo.png
Labels: new-quickstart, Tara

#2193 Pinecone (LangChain) Quickstart
  quickstarts/pinecone-langchain/config.yml
  quickstarts/pinecone-langchain/logo.png
Labels: new-quickstart, Tara

#2195 Pinecone(Prometheus) quickstart.
  alert-policies/pinecone-prometheus/PineconeIndexFullness.yml
  alert-policies/pinecone-prometheus/PineconeRequestsErrors.yml
  alert-policies/pinecone-prometheus/PineconeRequestsLatency.yml
  dashboards/pinecone-prometheus/pinecone-prometheus-01.png
  dashboards/pinecone-prometheus/pinecone-prometheus-02.png
  dashboards/pinecone-prometheus/pinecone-prometheus.json
  quickstarts/pinecone-prometheus/config.yml
  quickstarts/pinecone-prometheus/logo.svg
Labels: new-quickstart, Tara

#2188 Rockset Quickstart
  quickstarts/rockset/config.yml
  quickstarts/rockset/logo.png
Labels: new-quickstart, Tara, aimlops

#2187 AI21 Labs Quickstart.
  quickstarts/ai21-labs/config.yml
  quickstarts/ai21-labs/logo.png
Labels: new-quickstart, Tara

#2186 AtlasDB Quickstart
  quickstarts/atlasdb/config.yml
  quickstarts/atlasdb/logo.png
Labels: new-quickstart, Tara

#2182 chore: Fix Kentik wording
  data-sources/kentik/config.yml
  quickstarts/kentik/config.yml
Labels: product partnerships

#2191 chore: Fix contentsq. datasource text
  data-sources/contentsquare/config.yml
Labels: product partnerships

#2192 chore: Cribl datasource text update
  data-sources/cribl/config.yml
Labels: product partnerships
